<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1149</string>
		<key>initial</key>
		<string>G</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>SAVANA</string>
				<key>id</key>
				<string>1150</string>
				<key>imageFile</key>
				<string>SAVANA_id1150.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1150.png</string>
				<key>name</key>
				<string>SAVANA</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>SIERRA</string>
				<key>id</key>
				<string>1151</string>
				<key>imageFile</key>
				<string>SIERRA_id1151.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1151.jpg</string>
				<key>name</key>
				<string>SIERRA</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>YUKON</string>
				<key>id</key>
				<string>1152</string>
				<key>imageFile</key>
				<string>YUKON_id1152.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1152.jpg</string>
				<key>name</key>
				<string>YUKON</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口GMC</string>
	</dict>
</array>
</plist>
