<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1384</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>Jeep2500</string>
				<key>id</key>
				<string>1385</string>
				<key>imageFile</key>
				<string>Jeep2500_id1385.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1385.jpg</string>
				<key>name</key>
				<string>2500</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大切诺基</string>
				<key>id</key>
				<string>1387</string>
				<key>imageFile</key>
				<string>大切诺基_id1387.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1387.jpg</string>
				<key>name</key>
				<string>大切诺基</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>切诺基</string>
				<key>id</key>
				<string>1388</string>
				<key>imageFile</key>
				<string>切诺基_id1388.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1388.jpg</string>
				<key>name</key>
				<string>切诺基</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>北京吉普</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1389</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>自由光</string>
				<key>id</key>
				<string>1390</string>
				<key>imageFile</key>
				<string>自由光_id1390.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1390.jpg</string>
				<key>name</key>
				<string>自由光</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>自由侠</string>
				<key>id</key>
				<string>1391</string>
				<key>imageFile</key>
				<string>自由侠_id1391.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1391.jpg</string>
				<key>name</key>
				<string>自由侠</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>指南者</string>
				<key>id</key>
				<string>33775</string>
				<key>imageFile</key>
				<string>指南者_id33775.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33775.JPG</string>
				<key>name</key>
				<string>指南者</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大指挥官</string>
				<key>id</key>
				<string>42160</string>
				<key>imageFile</key>
				<string>大指挥官_id42160.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42160.jpg</string>
				<key>name</key>
				<string>大指挥官</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>指挥官</string>
				<key>id</key>
				<string>44721</string>
				<key>imageFile</key>
				<string>指挥官_id44721.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44721.jpg</string>
				<key>name</key>
				<string>指挥官</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>广汽菲克Jeep</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1392</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大切诺基</string>
				<key>id</key>
				<string>1393</string>
				<key>imageFile</key>
				<string>大切诺基_id1393.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1393.jpg</string>
				<key>name</key>
				<string>大切诺基</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>牧马人</string>
				<key>id</key>
				<string>1394</string>
				<key>imageFile</key>
				<string>牧马人_id1394.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1394.jpg</string>
				<key>name</key>
				<string>牧马人</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>指南者(进口)</string>
				<key>id</key>
				<string>1395</string>
				<key>imageFile</key>
				<string>指南者(进口)_id1395.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1395.jpg</string>
				<key>name</key>
				<string>指南者</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>自由光(进口)</string>
				<key>id</key>
				<string>1396</string>
				<key>imageFile</key>
				<string>自由光(进口)_id1396.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1396.jpg</string>
				<key>name</key>
				<string>自由光</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>自由客</string>
				<key>id</key>
				<string>1397</string>
				<key>imageFile</key>
				<string>自由客_id1397.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1397.jpg</string>
				<key>name</key>
				<string>自由客</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>指挥官</string>
				<key>id</key>
				<string>1399</string>
				<key>imageFile</key>
				<string>指挥官_id1399.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1399.jpg</string>
				<key>name</key>
				<string>指挥官</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口Jeep</string>
	</dict>
</array>
</plist>
