<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2403</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骏派D60</string>
				<key>id</key>
				<string>2404</string>
				<key>imageFile</key>
				<string>骏派D60_id2404.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2404.jpg</string>
				<key>name</key>
				<string>骏派D60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威志</string>
				<key>id</key>
				<string>2405</string>
				<key>imageFile</key>
				<string>威志_id2405.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2405.jpg</string>
				<key>name</key>
				<string>威志</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威志V2</string>
				<key>id</key>
				<string>2406</string>
				<key>imageFile</key>
				<string>威志V2_id2406.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2406.JPG</string>
				<key>name</key>
				<string>威志V2</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威志V5</string>
				<key>id</key>
				<string>2407</string>
				<key>imageFile</key>
				<string>威志V5_id2407.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2407.jpg</string>
				<key>name</key>
				<string>威志V5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>夏利N5</string>
				<key>id</key>
				<string>2410</string>
				<key>imageFile</key>
				<string>夏利N5_id2410.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2410.jpg</string>
				<key>name</key>
				<string>夏利N5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>夏利N7</string>
				<key>id</key>
				<string>2411</string>
				<key>imageFile</key>
				<string>夏利N7_id2411.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2411.jpg</string>
				<key>name</key>
				<string>夏利N7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骏派A70</string>
				<key>id</key>
				<string>2412</string>
				<key>imageFile</key>
				<string>骏派A70_id2412.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2412.jpg</string>
				<key>name</key>
				<string>骏派A70</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威乐</string>
				<key>id</key>
				<string>2415</string>
				<key>imageFile</key>
				<string>威乐_id2415.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2415.jpg</string>
				<key>name</key>
				<string>威乐</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威姿</string>
				<key>id</key>
				<string>2416</string>
				<key>imageFile</key>
				<string>威姿_id2416.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2416.jpg</string>
				<key>name</key>
				<string>威姿</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>夏利</string>
				<key>id</key>
				<string>2418</string>
				<key>imageFile</key>
				<string>夏利_id2418.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2418.jpg</string>
				<key>name</key>
				<string>夏利</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骏派A50</string>
				<key>id</key>
				<string>40146</string>
				<key>imageFile</key>
				<string>骏派A50_id40146.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40146.gif</string>
				<key>name</key>
				<string>骏派A50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骏派CX65</string>
				<key>id</key>
				<string>40147</string>
				<key>imageFile</key>
				<string>骏派CX65_id40147.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40147.gif</string>
				<key>name</key>
				<string>骏派CX65</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骏派D80</string>
				<key>id</key>
				<string>42200</string>
				<key>imageFile</key>
				<string>骏派D80_id42200.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42200.jpg</string>
				<key>name</key>
				<string>骏派D80</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>天津一汽</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2420</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>一汽佳星幸福使者</string>
				<key>id</key>
				<string>2421</string>
				<key>imageFile</key>
				<string>一汽佳星幸福使者_id2421.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2421.jpg</string>
				<key>name</key>
				<string>佳星幸福使者</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽华利</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2422</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>森雅M80</string>
				<key>id</key>
				<string>2423</string>
				<key>imageFile</key>
				<string>森雅M80_id2423.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2423.jpg</string>
				<key>name</key>
				<string>森雅M80</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>森雅S80</string>
				<key>id</key>
				<string>2424</string>
				<key>imageFile</key>
				<string>森雅S80_id2424.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2424.jpg</string>
				<key>name</key>
				<string>森雅S80</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>佳宝T50</string>
				<key>id</key>
				<string>2425</string>
				<key>imageFile</key>
				<string>佳宝T50_id2425.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2425.jpg</string>
				<key>name</key>
				<string>T50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>佳宝T51</string>
				<key>id</key>
				<string>2426</string>
				<key>imageFile</key>
				<string>佳宝T51_id2426.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2426.jpg</string>
				<key>name</key>
				<string>T51</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>佳宝T57</string>
				<key>id</key>
				<string>2427</string>
				<key>imageFile</key>
				<string>佳宝T57_id2427.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2427.jpg</string>
				<key>name</key>
				<string>T57</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>解放T80</string>
				<key>id</key>
				<string>2428</string>
				<key>imageFile</key>
				<string>解放T80_id2428.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2428.jpg</string>
				<key>name</key>
				<string>T80</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>佳宝V52</string>
				<key>id</key>
				<string>2429</string>
				<key>imageFile</key>
				<string>佳宝V52_id2429.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2429.jpg</string>
				<key>name</key>
				<string>V52</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>佳宝V55</string>
				<key>id</key>
				<string>2430</string>
				<key>imageFile</key>
				<string>佳宝V55_id2430.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2430.jpg</string>
				<key>name</key>
				<string>V55</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>佳宝V70</string>
				<key>id</key>
				<string>2431</string>
				<key>imageFile</key>
				<string>佳宝V70_id2431.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2431.JPG</string>
				<key>name</key>
				<string>V70</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>佳宝V70 Ⅱ</string>
				<key>id</key>
				<string>2432</string>
				<key>imageFile</key>
				<string>佳宝V70 Ⅱ_id2432.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2432.jpg</string>
				<key>name</key>
				<string>V70 Ⅱ</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>一汽V75</string>
				<key>id</key>
				<string>2433</string>
				<key>imageFile</key>
				<string>一汽V75_id2433.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2433.JPG</string>
				<key>name</key>
				<string>V75</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>V77</string>
				<key>id</key>
				<string>2434</string>
				<key>imageFile</key>
				<string>V77_id2434.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2434.JPG</string>
				<key>name</key>
				<string>V77</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>佳宝V80</string>
				<key>id</key>
				<string>2435</string>
				<key>imageFile</key>
				<string>佳宝V80_id2435.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2435.jpg</string>
				<key>name</key>
				<string>V80</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>森雅R7</string>
				<key>id</key>
				<string>2436</string>
				<key>imageFile</key>
				<string>森雅R7_id2436.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2436.jpg</string>
				<key>name</key>
				<string>森雅R7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>一汽奥星</string>
				<key>id</key>
				<string>2437</string>
				<key>imageFile</key>
				<string>一汽奥星_id2437.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2437.jpg</string>
				<key>name</key>
				<string>奥星</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>森雅R9</string>
				<key>id</key>
				<string>42202</string>
				<key>imageFile</key>
				<string>森雅R9_id42202.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42202.jpg</string>
				<key>name</key>
				<string>森雅R9</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>解放T90</string>
				<key>id</key>
				<string>45778</string>
				<key>imageFile</key>
				<string>解放T90_id45778.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>T90</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽吉林</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2440</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>坤程</string>
				<key>id</key>
				<string>2441</string>
				<key>imageFile</key>
				<string>坤程_id2441.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2441.jpg</string>
				<key>name</key>
				<string>坤程</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽通用</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40148</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骏派A70E</string>
				<key>id</key>
				<string>40149</string>
				<key>imageFile</key>
				<string>骏派A70E_id40149.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40149.gif</string>
				<key>name</key>
				<string>骏派A70E</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宾果</string>
				<key>id</key>
				<string>42201</string>
				<key>imageFile</key>
				<string>宾果_id42201.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>宾果</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>天津一汽新能源</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45779</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>森雅R7 EV</string>
				<key>id</key>
				<string>45780</string>
				<key>imageFile</key>
				<string>森雅R7 EV_id45780.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>森雅R7 EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>佳宝V80 EV</string>
				<key>id</key>
				<string>45781</string>
				<key>imageFile</key>
				<string>佳宝V80 EV_id45781.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>V80 EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽吉林新能源</string>
	</dict>
</array>
</plist>
