<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2061</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧蓝德</string>
				<key>id</key>
				<string>2062</string>
				<key>imageFile</key>
				<string>欧蓝德_id2062.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2062.jpg</string>
				<key>name</key>
				<string>欧蓝德</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帕杰罗速跑</string>
				<key>id</key>
				<string>2063</string>
				<key>imageFile</key>
				<string>帕杰罗速跑_id2063.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2063.jpg</string>
				<key>name</key>
				<string>帕杰罗速跑</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>北京吉普</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2064</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风迪思</string>
				<key>id</key>
				<string>2065</string>
				<key>imageFile</key>
				<string>风迪思_id2065.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2065.jpg</string>
				<key>name</key>
				<string>风迪思</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>戈蓝</string>
				<key>id</key>
				<string>2066</string>
				<key>imageFile</key>
				<string>戈蓝_id2066.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2066.jpg</string>
				<key>name</key>
				<string>戈蓝</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>君阁</string>
				<key>id</key>
				<string>2067</string>
				<key>imageFile</key>
				<string>君阁_id2067.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2067.jpg</string>
				<key>name</key>
				<string>君阁</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>蓝瑟</string>
				<key>id</key>
				<string>2068</string>
				<key>imageFile</key>
				<string>蓝瑟_id2068.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2068.jpg</string>
				<key>name</key>
				<string>蓝瑟</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>翼神</string>
				<key>id</key>
				<string>2069</string>
				<key>imageFile</key>
				<string>翼神_id2069.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2069.jpg</string>
				<key>name</key>
				<string>翼神</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>菱绅</string>
				<key>id</key>
				<string>2070</string>
				<key>imageFile</key>
				<string>菱绅_id2070.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2070.jpg</string>
				<key>name</key>
				<string>菱绅</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东南三菱</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2071</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帕杰罗·劲畅</string>
				<key>id</key>
				<string>2072</string>
				<key>imageFile</key>
				<string>帕杰罗·劲畅_id2072.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2072.jpg</string>
				<key>name</key>
				<string>帕杰罗·劲畅</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>劲炫ASX</string>
				<key>id</key>
				<string>2073</string>
				<key>imageFile</key>
				<string>劲炫ASX_id2073.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2073.jpg</string>
				<key>name</key>
				<string>劲炫ASX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帕杰罗</string>
				<key>id</key>
				<string>2074</string>
				<key>imageFile</key>
				<string>帕杰罗_id2074.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2074.jpg</string>
				<key>name</key>
				<string>帕杰罗</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧蓝德</string>
				<key>id</key>
				<string>33818</string>
				<key>imageFile</key>
				<string>欧蓝德_id33818.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33818.jpg</string>
				<key>name</key>
				<string>欧蓝德</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奕歌</string>
				<key>id</key>
				<string>44302</string>
				<key>imageFile</key>
				<string>奕歌_id44302.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44302.jpg</string>
				<key>name</key>
				<string>奕歌</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>广汽三菱</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2075</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧蓝德（进口）</string>
				<key>id</key>
				<string>2077</string>
				<key>imageFile</key>
				<string>欧蓝德（进口）_id2077.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2077.jpg</string>
				<key>name</key>
				<string>欧蓝德</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帕杰罗</string>
				<key>id</key>
				<string>2078</string>
				<key>imageFile</key>
				<string>帕杰罗_id2078.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2078.jpg</string>
				<key>name</key>
				<string>帕杰罗</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帕杰罗·劲畅(进口)</string>
				<key>id</key>
				<string>2079</string>
				<key>imageFile</key>
				<string>帕杰罗·劲畅(进口)_id2079.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2079.jpg</string>
				<key>name</key>
				<string>帕杰罗·劲畅</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>格蓝迪</string>
				<key>id</key>
				<string>2082</string>
				<key>imageFile</key>
				<string>格蓝迪_id2082.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2082.jpg</string>
				<key>name</key>
				<string>格蓝迪</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>劲炫</string>
				<key>id</key>
				<string>2083</string>
				<key>imageFile</key>
				<string>劲炫_id2083.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2083.jpg</string>
				<key>name</key>
				<string>劲炫</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>蓝瑟(进口)</string>
				<key>id</key>
				<string>2084</string>
				<key>imageFile</key>
				<string>蓝瑟(进口)_id2084.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2084.jpg</string>
				<key>name</key>
				<string>蓝瑟</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>伊柯丽斯(进口)</string>
				<key>id</key>
				<string>2086</string>
				<key>imageFile</key>
				<string>伊柯丽斯(进口)_id2086.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2086.jpg</string>
				<key>name</key>
				<string>伊柯丽斯</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口三菱</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42192</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>祺智PHEV</string>
				<key>id</key>
				<string>42193</string>
				<key>imageFile</key>
				<string>祺智PHEV_id42193.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42193.jpg</string>
				<key>name</key>
				<string>祺智PHEV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>祺智EV</string>
				<key>id</key>
				<string>45429</string>
				<key>imageFile</key>
				<string>祺智EV_id45429.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>祺智EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>广汽三菱新能源</string>
	</dict>
</array>
</plist>
