<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2097</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大通G10</string>
				<key>id</key>
				<string>2099</string>
				<key>imageFile</key>
				<string>大通G10_id2099.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2099.jpg</string>
				<key>name</key>
				<string>G10</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大通V80</string>
				<key>id</key>
				<string>2100</string>
				<key>imageFile</key>
				<string>大通V80_id2100.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2100.jpg</string>
				<key>name</key>
				<string>V80</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大通T60</string>
				<key>id</key>
				<string>33819</string>
				<key>imageFile</key>
				<string>大通T60_id33819.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33819.JPG</string>
				<key>name</key>
				<string>T60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大通D90</string>
				<key>id</key>
				<string>33820</string>
				<key>imageFile</key>
				<string>大通D90_id33820.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33820.jpg</string>
				<key>name</key>
				<string>D90</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大通G50</string>
				<key>id</key>
				<string>45430</string>
				<key>imageFile</key>
				<string>大通G50_id45430.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>G50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大通RG10</string>
				<key>id</key>
				<string>45771</string>
				<key>imageFile</key>
				<string>大通RG10_id45771.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>RG10</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽大通</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40132</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大通EV80</string>
				<key>id</key>
				<string>2098</string>
				<key>imageFile</key>
				<string>大通EV80_id2098.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2098.jpg</string>
				<key>name</key>
				<string>EV80</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大通EG10</string>
				<key>id</key>
				<string>41363</string>
				<key>imageFile</key>
				<string>大通EG10_id41363.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41363.gif</string>
				<key>name</key>
				<string>EG10</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大通FCV80</string>
				<key>id</key>
				<string>42194</string>
				<key>imageFile</key>
				<string>大通FCV80_id42194.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>FCV80</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽大通新能源</string>
	</dict>
</array>
</plist>
