<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>803</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>得利卡</string>
				<key>id</key>
				<string>804</string>
				<key>imageFile</key>
				<string>得利卡_id804.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/804.jpg</string>
				<key>name</key>
				<string>得利卡</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东南DX7</string>
				<key>id</key>
				<string>805</string>
				<key>imageFile</key>
				<string>东南DX7_id805.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/805.jpg</string>
				<key>name</key>
				<string>DX7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>V3菱悦</string>
				<key>id</key>
				<string>807</string>
				<key>imageFile</key>
				<string>V3菱悦_id807.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/807.jpg</string>
				<key>name</key>
				<string>V3菱悦</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>V5菱致</string>
				<key>id</key>
				<string>808</string>
				<key>imageFile</key>
				<string>V5菱致_id808.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/808.jpg</string>
				<key>name</key>
				<string>V5菱致</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>V6菱仕</string>
				<key>id</key>
				<string>809</string>
				<key>imageFile</key>
				<string>V6菱仕_id809.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/809.JPG</string>
				<key>name</key>
				<string>V6菱仕</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>希旺</string>
				<key>id</key>
				<string>810</string>
				<key>imageFile</key>
				<string>希旺_id810.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/810.jpg</string>
				<key>name</key>
				<string>希旺</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>富利卡</string>
				<key>id</key>
				<string>811</string>
				<key>imageFile</key>
				<string>富利卡_id811.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/811.jpg</string>
				<key>name</key>
				<string>富利卡</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>菱利</string>
				<key>id</key>
				<string>812</string>
				<key>imageFile</key>
				<string>菱利_id812.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/812.jpg</string>
				<key>name</key>
				<string>菱利</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>菱帅</string>
				<key>id</key>
				<string>813</string>
				<key>imageFile</key>
				<string>菱帅_id813.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/813.jpg</string>
				<key>name</key>
				<string>菱帅</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东南DX3</string>
				<key>id</key>
				<string>33747</string>
				<key>imageFile</key>
				<string>东南DX3_id33747.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33747.jpg</string>
				<key>name</key>
				<string>DX3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>A5翼舞</string>
				<key>id</key>
				<string>45415</string>
				<key>imageFile</key>
				<string>A5翼舞_id45415.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>A5翼舞</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东南汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42137</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东南DX3 EV</string>
				<key>id</key>
				<string>42138</string>
				<key>imageFile</key>
				<string>东南DX3 EV_id42138.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42138.jpg</string>
				<key>name</key>
				<string>DX3 EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东南汽车新能源</string>
	</dict>
</array>
</plist>
