<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>860</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥丁</string>
				<key>id</key>
				<string>861</string>
				<key>imageFile</key>
				<string>奥丁_id861.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/861.jpg</string>
				<key>name</key>
				<string>奥丁</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>俊风</string>
				<key>id</key>
				<string>862</string>
				<key>imageFile</key>
				<string>俊风_id862.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/862.jpg</string>
				<key>name</key>
				<string>俊风</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>锐骐皮卡</string>
				<key>id</key>
				<string>863</string>
				<key>imageFile</key>
				<string>锐骐皮卡_id863.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/863.JPG</string>
				<key>name</key>
				<string>锐骐皮卡</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>锐骐厢式车</string>
				<key>id</key>
				<string>864</string>
				<key>imageFile</key>
				<string>锐骐厢式车_id864.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/864.JPG</string>
				<key>name</key>
				<string>锐骐厢式车</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帅客</string>
				<key>id</key>
				<string>865</string>
				<key>imageFile</key>
				<string>帅客_id865.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/865.jpg</string>
				<key>name</key>
				<string>帅客</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>御轩</string>
				<key>id</key>
				<string>866</string>
				<key>imageFile</key>
				<string>御轩_id866.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/866.JPG</string>
				<key>name</key>
				<string>御轩</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>锐骐6</string>
				<key>id</key>
				<string>45734</string>
				<key>imageFile</key>
				<string>锐骐6_id45734.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>锐骐6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>郑州日产</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>867</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>御风领航版</string>
				<key>id</key>
				<string>872</string>
				<key>imageFile</key>
				<string>御风领航版_id872.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/872.jpg</string>
				<key>name</key>
				<string>御风领航版</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>御风领运版</string>
				<key>id</key>
				<string>875</string>
				<key>imageFile</key>
				<string>御风领运版_id875.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/875.JPG</string>
				<key>name</key>
				<string>御风领运版</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>御风领御版</string>
				<key>id</key>
				<string>876</string>
				<key>imageFile</key>
				<string>御风领御版_id876.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/876.JPG</string>
				<key>name</key>
				<string>御风领御版</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>御风领尊版</string>
				<key>id</key>
				<string>877</string>
				<key>imageFile</key>
				<string>御风领尊版_id877.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/877.jpg</string>
				<key>name</key>
				<string>御风领尊版</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>御风P16</string>
				<key>id</key>
				<string>40049</string>
				<key>imageFile</key>
				<string>御风P16_id40049.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40049.jpg</string>
				<key>name</key>
				<string>P16</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>御风S16</string>
				<key>id</key>
				<string>41359</string>
				<key>imageFile</key>
				<string>御风S16_id41359.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41359.jpg</string>
				<key>name</key>
				<string>S16</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>御风A100</string>
				<key>id</key>
				<string>44290</string>
				<key>imageFile</key>
				<string>御风A100_id44290.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44290.jpg</string>
				<key>name</key>
				<string>A100</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风御风</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>884</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>虎视</string>
				<key>id</key>
				<string>886</string>
				<key>imageFile</key>
				<string>虎视_id886.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/886.jpg</string>
				<key>name</key>
				<string>虎视</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>猛士</string>
				<key>id</key>
				<string>887</string>
				<key>imageFile</key>
				<string>猛士_id887.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/887.jpg</string>
				<key>name</key>
				<string>猛士</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>44716</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帅客EV</string>
				<key>id</key>
				<string>44717</string>
				<key>imageFile</key>
				<string>帅客EV_id44717.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44717.jpg</string>
				<key>name</key>
				<string>帅客EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>郑州日产新能源</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45726</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>俊风ER30</string>
				<key>id</key>
				<string>45416</string>
				<key>imageFile</key>
				<string>俊风ER30_id45416.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>俊风ER30</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风EM10</string>
				<key>id</key>
				<string>45727</string>
				<key>imageFile</key>
				<string>东风EM10_id45727.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>EM10</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风EM13</string>
				<key>id</key>
				<string>45728</string>
				<key>imageFile</key>
				<string>东风EM13_id45728.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>EM13</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风EV350</string>
				<key>id</key>
				<string>45729</string>
				<key>imageFile</key>
				<string>东风EV350_id45729.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>EV350</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>俊风E11K</string>
				<key>id</key>
				<string>45730</string>
				<key>imageFile</key>
				<string>俊风E11K_id45730.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>俊风E11K</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>俊风E17</string>
				<key>id</key>
				<string>45731</string>
				<key>imageFile</key>
				<string>俊风E17_id45731.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>俊风E17</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风新能源</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45732</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>物流王</string>
				<key>id</key>
				<string>45733</string>
				<key>imageFile</key>
				<string>物流王_id45733.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>物流王</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风御风新能源</string>
	</dict>
</array>
</plist>
