<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>814</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风光330</string>
				<key>id</key>
				<string>815</string>
				<key>imageFile</key>
				<string>风光330_id815.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/815.jpg</string>
				<key>name</key>
				<string>330</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风光360</string>
				<key>id</key>
				<string>816</string>
				<key>imageFile</key>
				<string>风光360_id816.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/816.jpg</string>
				<key>name</key>
				<string>360</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风光370</string>
				<key>id</key>
				<string>817</string>
				<key>imageFile</key>
				<string>风光370_id817.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>370</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风光580</string>
				<key>id</key>
				<string>818</string>
				<key>imageFile</key>
				<string>风光580_id818.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/818.jpg</string>
				<key>name</key>
				<string>580</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风光S560</string>
				<key>id</key>
				<string>41215</string>
				<key>imageFile</key>
				<string>风光S560_id41215.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41215.gif</string>
				<key>name</key>
				<string>S560</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风光ix5</string>
				<key>id</key>
				<string>42139</string>
				<key>imageFile</key>
				<string>风光ix5_id42139.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>ix5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风风光</string>
	</dict>
</array>
</plist>
