<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>842</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康C31</string>
				<key>id</key>
				<string>843</string>
				<key>imageFile</key>
				<string>东风小康C31_id843.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/843.jpg</string>
				<key>name</key>
				<string>C31</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康C32</string>
				<key>id</key>
				<string>844</string>
				<key>imageFile</key>
				<string>东风小康C32_id844.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/844.jpg</string>
				<key>name</key>
				<string>C32</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康C35</string>
				<key>id</key>
				<string>845</string>
				<key>imageFile</key>
				<string>东风小康C35_id845.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/845.jpg</string>
				<key>name</key>
				<string>C35</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康C36</string>
				<key>id</key>
				<string>846</string>
				<key>imageFile</key>
				<string>东风小康C36_id846.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/846.JPG</string>
				<key>name</key>
				<string>C36</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康C37</string>
				<key>id</key>
				<string>847</string>
				<key>imageFile</key>
				<string>东风小康C37_id847.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/847.jpg</string>
				<key>name</key>
				<string>C37</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康K01</string>
				<key>id</key>
				<string>848</string>
				<key>imageFile</key>
				<string>东风小康K01_id848.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/848.jpg</string>
				<key>name</key>
				<string>K01</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康K02</string>
				<key>id</key>
				<string>849</string>
				<key>imageFile</key>
				<string>东风小康K02_id849.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/849.jpg</string>
				<key>name</key>
				<string>K02</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康K07</string>
				<key>id</key>
				<string>850</string>
				<key>imageFile</key>
				<string>东风小康K07_id850.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/850.jpg</string>
				<key>name</key>
				<string>K07</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康K07Ⅱ</string>
				<key>id</key>
				<string>851</string>
				<key>imageFile</key>
				<string>东风小康K07Ⅱ_id851.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/851.JPG</string>
				<key>name</key>
				<string>K07Ⅱ</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>小康K07S</string>
				<key>id</key>
				<string>852</string>
				<key>imageFile</key>
				<string>小康K07S_id852.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/852.jpg</string>
				<key>name</key>
				<string>K07S</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康K17</string>
				<key>id</key>
				<string>853</string>
				<key>imageFile</key>
				<string>东风小康K17_id853.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/853.jpg</string>
				<key>name</key>
				<string>K17</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康V07S</string>
				<key>id</key>
				<string>854</string>
				<key>imageFile</key>
				<string>东风小康V07S_id854.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/854.JPG</string>
				<key>name</key>
				<string>V07S</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康V22</string>
				<key>id</key>
				<string>855</string>
				<key>imageFile</key>
				<string>东风小康V22_id855.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/855.jpg</string>
				<key>name</key>
				<string>V22</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康V26</string>
				<key>id</key>
				<string>856</string>
				<key>imageFile</key>
				<string>东风小康V26_id856.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/856.jpg</string>
				<key>name</key>
				<string>V26</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康V27</string>
				<key>id</key>
				<string>857</string>
				<key>imageFile</key>
				<string>东风小康V27_id857.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/857.JPG</string>
				<key>name</key>
				<string>V27</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康V29</string>
				<key>id</key>
				<string>858</string>
				<key>imageFile</key>
				<string>东风小康V29_id858.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/858.JPG</string>
				<key>name</key>
				<string>V29</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康V21</string>
				<key>id</key>
				<string>859</string>
				<key>imageFile</key>
				<string>东风小康V21_id859.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/859.JPG</string>
				<key>name</key>
				<string>V21</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>小康K05S</string>
				<key>id</key>
				<string>40047</string>
				<key>imageFile</key>
				<string>小康K05S_id40047.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40047.jpg</string>
				<key>name</key>
				<string>K05S</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康D51</string>
				<key>id</key>
				<string>45722</string>
				<key>imageFile</key>
				<string>东风小康D51_id45722.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>D51</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康D52</string>
				<key>id</key>
				<string>45723</string>
				<key>imageFile</key>
				<string>东风小康D52_id45723.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>D52</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风小康</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45724</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风小康EC36</string>
				<key>id</key>
				<string>45725</string>
				<key>imageFile</key>
				<string>东风小康EC36_id45725.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>EC36</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风小康新能源</string>
	</dict>
</array>
</plist>
