<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>792</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风神A30</string>
				<key>id</key>
				<string>793</string>
				<key>imageFile</key>
				<string>风神A30_id793.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/793.JPG</string>
				<key>name</key>
				<string>A30</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风神A60</string>
				<key>id</key>
				<string>794</string>
				<key>imageFile</key>
				<string>风神A60_id794.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/794.jpg</string>
				<key>name</key>
				<string>A60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风神AX7</string>
				<key>id</key>
				<string>795</string>
				<key>imageFile</key>
				<string>风神AX7_id795.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/795.jpg</string>
				<key>name</key>
				<string>AX7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风神AX3</string>
				<key>id</key>
				<string>798</string>
				<key>imageFile</key>
				<string>风神AX3_id798.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/798.jpg</string>
				<key>name</key>
				<string>AX3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风神H30</string>
				<key>id</key>
				<string>799</string>
				<key>imageFile</key>
				<string>风神H30_id799.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/799.jpg</string>
				<key>name</key>
				<string>H30</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风神L60</string>
				<key>id</key>
				<string>800</string>
				<key>imageFile</key>
				<string>风神L60_id800.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/800.jpg</string>
				<key>name</key>
				<string>L60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风神S30</string>
				<key>id</key>
				<string>801</string>
				<key>imageFile</key>
				<string>风神S30_id801.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/801.jpg</string>
				<key>name</key>
				<string>S30</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东风A9</string>
				<key>id</key>
				<string>802</string>
				<key>imageFile</key>
				<string>东风A9_id802.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/802.jpg</string>
				<key>name</key>
				<string>A9</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风神AX5</string>
				<key>id</key>
				<string>33746</string>
				<key>imageFile</key>
				<string>风神AX5_id33746.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33746.jpg</string>
				<key>name</key>
				<string>AX5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风神AX4</string>
				<key>id</key>
				<string>40044</string>
				<key>imageFile</key>
				<string>风神AX4_id40044.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40044.jpg</string>
				<key>name</key>
				<string>AX4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风风神</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40045</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风神E30</string>
				<key>id</key>
				<string>796</string>
				<key>imageFile</key>
				<string>风神E30_id796.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/796.jpg</string>
				<key>name</key>
				<string>E30</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风神E70</string>
				<key>id</key>
				<string>41358</string>
				<key>imageFile</key>
				<string>风神E70_id41358.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41358.jpg</string>
				<key>name</key>
				<string>E70</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风风神新能源</string>
	</dict>
</array>
</plist>
