<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>780</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风行CM7</string>
				<key>id</key>
				<string>781</string>
				<key>imageFile</key>
				<string>风行CM7_id781.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/781.jpg</string>
				<key>name</key>
				<string>风行CM7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风行S500</string>
				<key>id</key>
				<string>782</string>
				<key>imageFile</key>
				<string>风行S500_id782.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/782.jpg</string>
				<key>name</key>
				<string>风行S500</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>景逸</string>
				<key>id</key>
				<string>783</string>
				<key>imageFile</key>
				<string>景逸_id783.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/783.jpg</string>
				<key>name</key>
				<string>景逸</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>景逸S50</string>
				<key>id</key>
				<string>784</string>
				<key>imageFile</key>
				<string>景逸S50_id784.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/784.jpg</string>
				<key>name</key>
				<string>景逸S50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>景逸X3</string>
				<key>id</key>
				<string>785</string>
				<key>imageFile</key>
				<string>景逸X3_id785.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/785.jpg</string>
				<key>name</key>
				<string>景逸X3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>景逸X5</string>
				<key>id</key>
				<string>786</string>
				<key>imageFile</key>
				<string>景逸X5_id786.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/786.JPG</string>
				<key>name</key>
				<string>景逸X5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>景逸XV</string>
				<key>id</key>
				<string>787</string>
				<key>imageFile</key>
				<string>景逸XV_id787.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/787.JPG</string>
				<key>name</key>
				<string>景逸XV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>菱智</string>
				<key>id</key>
				<string>788</string>
				<key>imageFile</key>
				<string>菱智_id788.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/788.jpg</string>
				<key>name</key>
				<string>菱智</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风行F600</string>
				<key>id</key>
				<string>790</string>
				<key>imageFile</key>
				<string>风行F600_id790.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/790.jpg</string>
				<key>name</key>
				<string>风行F600</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>景逸SUV</string>
				<key>id</key>
				<string>791</string>
				<key>imageFile</key>
				<string>景逸SUV_id791.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/791.jpg</string>
				<key>name</key>
				<string>景逸SUV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风行SX6</string>
				<key>id</key>
				<string>33743</string>
				<key>imageFile</key>
				<string>风行SX6_id33743.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33743.jpg</string>
				<key>name</key>
				<string>风行SX6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>景逸X6</string>
				<key>id</key>
				<string>40043</string>
				<key>imageFile</key>
				<string>景逸X6_id40043.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40043.jpg</string>
				<key>name</key>
				<string>景逸X6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风行T5</string>
				<key>id</key>
				<string>44289</string>
				<key>imageFile</key>
				<string>风行T5_id44289.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44289.jpg</string>
				<key>name</key>
				<string>风行T5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风行M6</string>
				<key>id</key>
				<string>45719</string>
				<key>imageFile</key>
				<string>风行M6_id45719.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>风行M6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风行M7</string>
				<key>id</key>
				<string>45720</string>
				<key>imageFile</key>
				<string>风行M7_id45720.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>风行M7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风行T7</string>
				<key>id</key>
				<string>45721</string>
				<key>imageFile</key>
				<string>风行T7_id45721.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>风行T7</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风风行</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42134</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风行S50 EV</string>
				<key>id</key>
				<string>42135</string>
				<key>imageFile</key>
				<string>风行S50 EV_id42135.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42135.jpg</string>
				<key>name</key>
				<string>风行S50 EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>菱智M5 EV</string>
				<key>id</key>
				<string>42136</string>
				<key>imageFile</key>
				<string>菱智M5 EV_id42136.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42136.jpg</string>
				<key>name</key>
				<string>菱智M5 EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风风行新能源</string>
	</dict>
</array>
</plist>
