<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1154</string>
		<key>initial</key>
		<string>Z</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中兴C3</string>
				<key>id</key>
				<string>1155</string>
				<key>imageFile</key>
				<string>中兴C3_id1155.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1155.jpg</string>
				<key>name</key>
				<string>C3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中兴GX3</string>
				<key>id</key>
				<string>1156</string>
				<key>imageFile</key>
				<string>中兴GX3_id1156.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1156.JPG</string>
				<key>name</key>
				<string>GX3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>广汽中兴</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2528</string>
		<key>initial</key>
		<string>Z</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>无限</string>
				<key>id</key>
				<string>2529</string>
				<key>imageFile</key>
				<string>无限_id2529.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2529.jpg</string>
				<key>name</key>
				<string>无限</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>旗舰</string>
				<key>id</key>
				<string>2530</string>
				<key>imageFile</key>
				<string>旗舰_id2530.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2530.JPG</string>
				<key>name</key>
				<string>旗舰</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威虎G3</string>
				<key>id</key>
				<string>2531</string>
				<key>imageFile</key>
				<string>威虎G3_id2531.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2531.JPG</string>
				<key>name</key>
				<string>威虎G3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威虎</string>
				<key>id</key>
				<string>2532</string>
				<key>imageFile</key>
				<string>威虎_id2532.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2532.JPG</string>
				<key>name</key>
				<string>威虎</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>小老虎</string>
				<key>id</key>
				<string>2533</string>
				<key>imageFile</key>
				<string>小老虎_id2533.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2533.jpg</string>
				<key>name</key>
				<string>小老虎</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福星皮卡</string>
				<key>id</key>
				<string>2534</string>
				<key>imageFile</key>
				<string>福星皮卡_id2534.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2534.gif</string>
				<key>name</key>
				<string>福星皮卡</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>田野皮卡</string>
				<key>id</key>
				<string>2535</string>
				<key>imageFile</key>
				<string>田野皮卡_id2535.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2535.gif</string>
				<key>name</key>
				<string>田野皮卡</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>田野SUV</string>
				<key>id</key>
				<string>2536</string>
				<key>imageFile</key>
				<string>田野SUV_id2536.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2536.gif</string>
				<key>name</key>
				<string>田野SUV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长铃皮卡</string>
				<key>id</key>
				<string>2537</string>
				<key>imageFile</key>
				<string>长铃皮卡_id2537.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2537.jpg</string>
				<key>name</key>
				<string>长铃皮卡</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>驰野</string>
				<key>id</key>
				<string>2538</string>
				<key>imageFile</key>
				<string>驰野_id2538.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2538.jpg</string>
				<key>name</key>
				<string>驰野</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金狮</string>
				<key>id</key>
				<string>2539</string>
				<key>imageFile</key>
				<string>金狮_id2539.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2539.gif</string>
				<key>name</key>
				<string>金狮</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>万禧龙</string>
				<key>id</key>
				<string>2540</string>
				<key>imageFile</key>
				<string>万禧龙_id2540.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2540.gif</string>
				<key>name</key>
				<string>万禧龙</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中兴福星SUV</string>
				<key>id</key>
				<string>2541</string>
				<key>imageFile</key>
				<string>中兴福星SUV_id2541.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2541.jpg</string>
				<key>name</key>
				<string>福星SUV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中兴海豹</string>
				<key>id</key>
				<string>2542</string>
				<key>imageFile</key>
				<string>中兴海豹_id2542.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2542.jpg</string>
				<key>name</key>
				<string>海豹</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中兴老虎</string>
				<key>id</key>
				<string>2543</string>
				<key>imageFile</key>
				<string>中兴老虎_id2543.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2543.jpg</string>
				<key>name</key>
				<string>老虎</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大领主</string>
				<key>id</key>
				<string>33843</string>
				<key>imageFile</key>
				<string>大领主_id33843.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33843.JPG</string>
				<key>name</key>
				<string>大领主</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>中兴汽车</string>
	</dict>
</array>
</plist>
