<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2506</string>
		<key>initial</key>
		<string>Z</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中华H220</string>
				<key>id</key>
				<string>2507</string>
				<key>imageFile</key>
				<string>中华H220_id2507.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2507.JPG</string>
				<key>name</key>
				<string>H220</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中华H230</string>
				<key>id</key>
				<string>2508</string>
				<key>imageFile</key>
				<string>中华H230_id2508.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2508.JPG</string>
				<key>name</key>
				<string>H230</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中华H320</string>
				<key>id</key>
				<string>2509</string>
				<key>imageFile</key>
				<string>中华H320_id2509.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2509.jpg</string>
				<key>name</key>
				<string>H320</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中华H330</string>
				<key>id</key>
				<string>2510</string>
				<key>imageFile</key>
				<string>中华H330_id2510.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2510.jpg</string>
				<key>name</key>
				<string>H330</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中华H530</string>
				<key>id</key>
				<string>2511</string>
				<key>imageFile</key>
				<string>中华H530_id2511.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2511.jpg</string>
				<key>name</key>
				<string>H530</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骏捷</string>
				<key>id</key>
				<string>2512</string>
				<key>imageFile</key>
				<string>骏捷_id2512.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2512.jpg</string>
				<key>name</key>
				<string>骏捷</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骏捷Cross</string>
				<key>id</key>
				<string>2513</string>
				<key>imageFile</key>
				<string>骏捷Cross_id2513.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2513.jpg</string>
				<key>name</key>
				<string>骏捷Cross</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骏捷FRV</string>
				<key>id</key>
				<string>2514</string>
				<key>imageFile</key>
				<string>骏捷FRV_id2514.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2514.jpg</string>
				<key>name</key>
				<string>骏捷FRV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骏捷FSV</string>
				<key>id</key>
				<string>2515</string>
				<key>imageFile</key>
				<string>骏捷FSV_id2515.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2515.jpg</string>
				<key>name</key>
				<string>骏捷FSV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>酷宝</string>
				<key>id</key>
				<string>2517</string>
				<key>imageFile</key>
				<string>酷宝_id2517.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2517.jpg</string>
				<key>name</key>
				<string>酷宝</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中华V3</string>
				<key>id</key>
				<string>2518</string>
				<key>imageFile</key>
				<string>中华V3_id2518.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2518.jpg</string>
				<key>name</key>
				<string>V3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中华V5</string>
				<key>id</key>
				<string>2519</string>
				<key>imageFile</key>
				<string>中华V5_id2519.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2519.jpg</string>
				<key>name</key>
				<string>V5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>尊驰</string>
				<key>id</key>
				<string>2520</string>
				<key>imageFile</key>
				<string>尊驰_id2520.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2520.jpg</string>
				<key>name</key>
				<string>尊驰</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中华豚</string>
				<key>id</key>
				<string>2521</string>
				<key>imageFile</key>
				<string>中华豚_id2521.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2521.jpg</string>
				<key>name</key>
				<string>中华豚</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中华</string>
				<key>id</key>
				<string>2523</string>
				<key>imageFile</key>
				<string>中华_id2523.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2523.jpg</string>
				<key>name</key>
				<string>中华</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中华H3</string>
				<key>id</key>
				<string>40162</string>
				<key>imageFile</key>
				<string>中华H3_id40162.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40162.jpg</string>
				<key>name</key>
				<string>H3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中华V6</string>
				<key>id</key>
				<string>42208</string>
				<key>imageFile</key>
				<string>中华V6_id42208.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42208.jpg</string>
				<key>name</key>
				<string>V6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中华V7</string>
				<key>id</key>
				<string>42209</string>
				<key>imageFile</key>
				<string>中华V7_id42209.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42209.jpg</string>
				<key>name</key>
				<string>V7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>华晨中华</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40160</string>
		<key>initial</key>
		<string>Z</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中华H230EV</string>
				<key>id</key>
				<string>40161</string>
				<key>imageFile</key>
				<string>中华H230EV_id40161.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40161.jpg</string>
				<key>name</key>
				<string>H230EV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>华晨新能源</string>
	</dict>
</array>
</plist>
