<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>908</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>汉兰达</string>
				<key>id</key>
				<string>909</string>
				<key>imageFile</key>
				<string>汉兰达_id909.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/909.jpg</string>
				<key>name</key>
				<string>汉兰达</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯美瑞</string>
				<key>id</key>
				<string>910</string>
				<key>imageFile</key>
				<string>凯美瑞_id910.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/910.jpg</string>
				<key>name</key>
				<string>凯美瑞</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷凌</string>
				<key>id</key>
				<string>911</string>
				<key>imageFile</key>
				<string>雷凌_id911.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/911.jpg</string>
				<key>name</key>
				<string>雷凌</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>YARiS L 致炫</string>
				<key>id</key>
				<string>913</string>
				<key>imageFile</key>
				<string>YARiS L 致炫_id913.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/913.jpg</string>
				<key>name</key>
				<string>YARiS L 致炫</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雅力士</string>
				<key>id</key>
				<string>914</string>
				<key>imageFile</key>
				<string>雅力士_id914.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/914.jpg</string>
				<key>name</key>
				<string>雅力士</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>逸致</string>
				<key>id</key>
				<string>915</string>
				<key>imageFile</key>
				<string>逸致_id915.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/915.jpg</string>
				<key>name</key>
				<string>逸致</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>YARiS L 致享</string>
				<key>id</key>
				<string>33750</string>
				<key>imageFile</key>
				<string>YARiS L 致享_id33750.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33750.jpg</string>
				<key>name</key>
				<string>YARiS L 致享</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>丰田C-HR</string>
				<key>id</key>
				<string>33752</string>
				<key>imageFile</key>
				<string>丰田C-HR_id33752.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33752.jpg</string>
				<key>name</key>
				<string>C-HR</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>广汽丰田</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>917</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>皇冠</string>
				<key>id</key>
				<string>918</string>
				<key>imageFile</key>
				<string>皇冠_id918.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/918.jpg</string>
				<key>name</key>
				<string>皇冠</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>花冠</string>
				<key>id</key>
				<string>919</string>
				<key>imageFile</key>
				<string>花冠_id919.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/919.jpg</string>
				<key>name</key>
				<string>花冠</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>卡罗拉</string>
				<key>id</key>
				<string>920</string>
				<key>imageFile</key>
				<string>卡罗拉_id920.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/920.jpg</string>
				<key>name</key>
				<string>卡罗拉</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>柯斯达</string>
				<key>id</key>
				<string>922</string>
				<key>imageFile</key>
				<string>柯斯达_id922.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/922.jpg</string>
				<key>name</key>
				<string>柯斯达</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>兰德酷路泽</string>
				<key>id</key>
				<string>923</string>
				<key>imageFile</key>
				<string>兰德酷路泽_id923.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/923.jpg</string>
				<key>name</key>
				<string>兰德酷路泽</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>普拉多</string>
				<key>id</key>
				<string>924</string>
				<key>imageFile</key>
				<string>普拉多_id924.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/924.jpg</string>
				<key>name</key>
				<string>普拉多</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>普锐斯</string>
				<key>id</key>
				<string>925</string>
				<key>imageFile</key>
				<string>普锐斯_id925.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/925.jpg</string>
				<key>name</key>
				<string>普锐斯</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>RAV4荣放</string>
				<key>id</key>
				<string>926</string>
				<key>imageFile</key>
				<string>RAV4荣放_id926.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/926.jpg</string>
				<key>name</key>
				<string>RAV4荣放</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>锐志</string>
				<key>id</key>
				<string>927</string>
				<key>imageFile</key>
				<string>锐志_id927.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/927.jpg</string>
				<key>name</key>
				<string>锐志</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威驰</string>
				<key>id</key>
				<string>928</string>
				<key>imageFile</key>
				<string>威驰_id928.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/928.jpg</string>
				<key>name</key>
				<string>威驰</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>陆地巡洋舰</string>
				<key>id</key>
				<string>929</string>
				<key>imageFile</key>
				<string>陆地巡洋舰_id929.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/929.jpg</string>
				<key>name</key>
				<string>陆地巡洋舰</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>特锐</string>
				<key>id</key>
				<string>930</string>
				<key>imageFile</key>
				<string>特锐_id930.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/930.jpg</string>
				<key>name</key>
				<string>特锐</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威驰FS</string>
				<key>id</key>
				<string>33751</string>
				<key>imageFile</key>
				<string>威驰FS_id33751.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33751.JPG</string>
				<key>name</key>
				<string>威驰FS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奕泽</string>
				<key>id</key>
				<string>42140</string>
				<key>imageFile</key>
				<string>奕泽_id42140.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42140.jpg</string>
				<key>name</key>
				<string>奕泽</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>亚洲龙</string>
				<key>id</key>
				<string>45735</string>
				<key>imageFile</key>
				<string>亚洲龙_id45735.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>亚洲龙</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽丰田</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>931</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>埃尔法</string>
				<key>id</key>
				<string>932</string>
				<key>imageFile</key>
				<string>埃尔法_id932.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/932.jpg</string>
				<key>name</key>
				<string>埃尔法</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>Fortuner</string>
				<key>id</key>
				<string>933</string>
				<key>imageFile</key>
				<string>Fortuner_id933.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/933.JPG</string>
				<key>name</key>
				<string>Fortuner</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>FJ酷路泽</string>
				<key>id</key>
				<string>934</string>
				<key>imageFile</key>
				<string>FJ酷路泽_id934.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/934.jpg</string>
				<key>name</key>
				<string>FJ酷路泽</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>丰田86</string>
				<key>id</key>
				<string>935</string>
				<key>imageFile</key>
				<string>丰田86_id935.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/935.jpg</string>
				<key>name</key>
				<string>86</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>红杉</string>
				<key>id</key>
				<string>936</string>
				<key>imageFile</key>
				<string>红杉_id936.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/936.jpg</string>
				<key>name</key>
				<string>红杉</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>HIACE</string>
				<key>id</key>
				<string>937</string>
				<key>imageFile</key>
				<string>HIACE_id937.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/937.jpg</string>
				<key>name</key>
				<string>HIACE</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>杰路驰</string>
				<key>id</key>
				<string>938</string>
				<key>imageFile</key>
				<string>杰路驰_id938.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/938.jpg</string>
				<key>name</key>
				<string>杰路驰</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>考斯特(进口)</string>
				<key>id</key>
				<string>939</string>
				<key>imageFile</key>
				<string>考斯特(进口)_id939.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/939.jpg</string>
				<key>name</key>
				<string>考斯特</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>兰德酷路泽(进口)</string>
				<key>id</key>
				<string>940</string>
				<key>imageFile</key>
				<string>兰德酷路泽(进口)_id940.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/940.jpg</string>
				<key>name</key>
				<string>兰德酷路泽</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>普拉多(进口)</string>
				<key>id</key>
				<string>941</string>
				<key>imageFile</key>
				<string>普拉多(进口)_id941.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/941.jpg</string>
				<key>name</key>
				<string>普拉多</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>普瑞维亚</string>
				<key>id</key>
				<string>942</string>
				<key>imageFile</key>
				<string>普瑞维亚_id942.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/942.jpg</string>
				<key>name</key>
				<string>普瑞维亚</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>Sienna</string>
				<key>id</key>
				<string>943</string>
				<key>imageFile</key>
				<string>Sienna_id943.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/943.jpg</string>
				<key>name</key>
				<string>Sienna</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>塔科马</string>
				<key>id</key>
				<string>944</string>
				<key>imageFile</key>
				<string>塔科马_id944.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/944.JPG</string>
				<key>name</key>
				<string>塔科马</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>坦途</string>
				<key>id</key>
				<string>945</string>
				<key>imageFile</key>
				<string>坦途_id945.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/945.JPG</string>
				<key>name</key>
				<string>坦途</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>Wish</string>
				<key>id</key>
				<string>946</string>
				<key>imageFile</key>
				<string>Wish_id946.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/946.jpg</string>
				<key>name</key>
				<string>Wish</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威飒</string>
				<key>id</key>
				<string>947</string>
				<key>imageFile</key>
				<string>威飒_id947.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/947.jpg</string>
				<key>name</key>
				<string>威飒</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>汉兰达(进口)</string>
				<key>id</key>
				<string>950</string>
				<key>imageFile</key>
				<string>汉兰达(进口)_id950.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/950.jpg</string>
				<key>name</key>
				<string>汉兰达</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海拉克斯</string>
				<key>id</key>
				<string>956</string>
				<key>imageFile</key>
				<string>海拉克斯_id956.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/956.jpg</string>
				<key>name</key>
				<string>海拉克斯</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯美瑞(进口)</string>
				<key>id</key>
				<string>957</string>
				<key>imageFile</key>
				<string>凯美瑞(进口)_id957.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/957.JPG</string>
				<key>name</key>
				<string>凯美瑞</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口丰田</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>44291</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>广汽ix4</string>
				<key>id</key>
				<string>44292</string>
				<key>imageFile</key>
				<string>广汽ix4_id44292.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>ix4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>广汽丰田新能源</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45736</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>卡罗拉双擎E+</string>
				<key>id</key>
				<string>45737</string>
				<key>imageFile</key>
				<string>卡罗拉双擎E+_id45737.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>卡罗拉双擎E+</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽丰田新能源</string>
	</dict>
</array>
</plist>
