<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1459</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>九龙艾菲</string>
				<key>id</key>
				<string>1460</string>
				<key>imageFile</key>
				<string>九龙艾菲_id1460.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1460.JPG</string>
				<key>name</key>
				<string>艾菲</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>九龙考斯特</string>
				<key>id</key>
				<string>1461</string>
				<key>imageFile</key>
				<string>九龙考斯特_id1461.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1461.jpg</string>
				<key>name</key>
				<string>九龙考斯特</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>九龙商务车</string>
				<key>id</key>
				<string>1462</string>
				<key>imageFile</key>
				<string>九龙商务车_id1462.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1462.jpg</string>
				<key>name</key>
				<string>九龙商务车</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>九龙专用车</string>
				<key>id</key>
				<string>1463</string>
				<key>imageFile</key>
				<string>九龙专用车_id1463.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1463.jpg</string>
				<key>name</key>
				<string>九龙专用车</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>九龙EM3</string>
				<key>id</key>
				<string>45755</string>
				<key>imageFile</key>
				<string>九龙EM3_id45755.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>EM3</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>九龙EM5</string>
				<key>id</key>
				<string>45756</string>
				<key>imageFile</key>
				<string>九龙EM5_id45756.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>EM5</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>九龙</string>
	</dict>
</array>
</plist>
