<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2220</string>
		<key>initial</key>
		<string>W</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五十铃D-MAX</string>
				<key>id</key>
				<string>2221</string>
				<key>imageFile</key>
				<string>五十铃D-MAX_id2221.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2221.jpg</string>
				<key>name</key>
				<string>D-MAX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>牧游侠</string>
				<key>id</key>
				<string>2222</string>
				<key>imageFile</key>
				<string>牧游侠_id2222.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2222.jpg</string>
				<key>name</key>
				<string>牧游侠</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞迈</string>
				<key>id</key>
				<string>2223</string>
				<key>imageFile</key>
				<string>瑞迈_id2223.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2223.jpg</string>
				<key>name</key>
				<string>瑞迈</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>铃拓</string>
				<key>id</key>
				<string>44303</string>
				<key>imageFile</key>
				<string>铃拓_id44303.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44303.jpg</string>
				<key>name</key>
				<string>铃拓</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>江西五十铃</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45773</string>
		<key>initial</key>
		<string>W</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞迈EV</string>
				<key>id</key>
				<string>45774</string>
				<key>imageFile</key>
				<string>瑞迈EV_id45774.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>瑞迈EV</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>江西五十铃新能源</string>
	</dict>
</array>
</plist>
