<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2180</string>
		<key>initial</key>
		<string>W</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五菱宏光S1</string>
				<key>id</key>
				<string>2181</string>
				<key>imageFile</key>
				<string>五菱宏光S1_id2181.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2181.JPG</string>
				<key>name</key>
				<string>五菱宏光S1</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五菱宏光S</string>
				<key>id</key>
				<string>2182</string>
				<key>imageFile</key>
				<string>五菱宏光S_id2182.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2182.jpg</string>
				<key>name</key>
				<string>五菱宏光S</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五菱PN货车</string>
				<key>id</key>
				<string>2184</string>
				<key>imageFile</key>
				<string>五菱PN货车_id2184.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2184.jpg</string>
				<key>name</key>
				<string>五菱PN货车</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五菱荣光</string>
				<key>id</key>
				<string>2185</string>
				<key>imageFile</key>
				<string>五菱荣光_id2185.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2185.png</string>
				<key>name</key>
				<string>五菱荣光</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五菱荣光V</string>
				<key>id</key>
				<string>2186</string>
				<key>imageFile</key>
				<string>五菱荣光V_id2186.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2186.jpg</string>
				<key>name</key>
				<string>五菱荣光V</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五菱荣光小卡</string>
				<key>id</key>
				<string>2187</string>
				<key>imageFile</key>
				<string>五菱荣光小卡_id2187.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2187.jpg</string>
				<key>name</key>
				<string>五菱荣光小卡</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五菱之光</string>
				<key>id</key>
				<string>2188</string>
				<key>imageFile</key>
				<string>五菱之光_id2188.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2188.png</string>
				<key>name</key>
				<string>五菱之光</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>征程</string>
				<key>id</key>
				<string>2189</string>
				<key>imageFile</key>
				<string>征程_id2189.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2189.jpg</string>
				<key>name</key>
				<string>征程</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五菱鸿途</string>
				<key>id</key>
				<string>2191</string>
				<key>imageFile</key>
				<string>五菱鸿途_id2191.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2191.jpg</string>
				<key>name</key>
				<string>鸿途</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五菱兴旺</string>
				<key>id</key>
				<string>2193</string>
				<key>imageFile</key>
				<string>五菱兴旺_id2193.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2193.jpg</string>
				<key>name</key>
				<string>兴旺</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五菱小旋风</string>
				<key>id</key>
				<string>2194</string>
				<key>imageFile</key>
				<string>五菱小旋风_id2194.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2194.jpg</string>
				<key>name</key>
				<string>小旋风</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五菱扬光</string>
				<key>id</key>
				<string>2195</string>
				<key>imageFile</key>
				<string>五菱扬光_id2195.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2195.jpg</string>
				<key>name</key>
				<string>五菱扬光</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五菱之光V</string>
				<key>id</key>
				<string>33822</string>
				<key>imageFile</key>
				<string>五菱之光V_id33822.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33822.jpg</string>
				<key>name</key>
				<string>五菱之光V</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五菱宏光S3</string>
				<key>id</key>
				<string>40137</string>
				<key>imageFile</key>
				<string>五菱宏光S3_id40137.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40137.jpg</string>
				<key>name</key>
				<string>五菱宏光S3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五菱荣光新卡</string>
				<key>id</key>
				<string>44732</string>
				<key>imageFile</key>
				<string>五菱荣光新卡_id44732.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44732.jpg</string>
				<key>name</key>
				<string>五菱荣光新卡</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽通用五菱</string>
	</dict>
</array>
</plist>
