<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2487</string>
		<key>initial</key>
		<string>Z</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大迈X5</string>
				<key>id</key>
				<string>2488</string>
				<key>imageFile</key>
				<string>大迈X5_id2488.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2488.JPG</string>
				<key>name</key>
				<string>大迈X5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江南TT</string>
				<key>id</key>
				<string>2489</string>
				<key>imageFile</key>
				<string>江南TT_id2489.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2489.jpg</string>
				<key>name</key>
				<string>江南TT</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰SR7</string>
				<key>id</key>
				<string>2490</string>
				<key>imageFile</key>
				<string>众泰SR7_id2490.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2490.jpg</string>
				<key>name</key>
				<string>SR7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰T200</string>
				<key>id</key>
				<string>2491</string>
				<key>imageFile</key>
				<string>众泰T200_id2491.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2491.jpg</string>
				<key>name</key>
				<string>T200</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰T600</string>
				<key>id</key>
				<string>2492</string>
				<key>imageFile</key>
				<string>众泰T600_id2492.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2492.jpg</string>
				<key>name</key>
				<string>T600</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰V10</string>
				<key>id</key>
				<string>2493</string>
				<key>imageFile</key>
				<string>众泰V10_id2493.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2493.jpg</string>
				<key>name</key>
				<string>V10</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰Z100</string>
				<key>id</key>
				<string>2495</string>
				<key>imageFile</key>
				<string>众泰Z100_id2495.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2495.jpg</string>
				<key>name</key>
				<string>Z100</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰Z200</string>
				<key>id</key>
				<string>2496</string>
				<key>imageFile</key>
				<string>众泰Z200_id2496.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2496.jpg</string>
				<key>name</key>
				<string>Z200</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰Z200HB</string>
				<key>id</key>
				<string>2497</string>
				<key>imageFile</key>
				<string>众泰Z200HB_id2497.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2497.jpg</string>
				<key>name</key>
				<string>Z200HB</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰Z300</string>
				<key>id</key>
				<string>2498</string>
				<key>imageFile</key>
				<string>众泰Z300_id2498.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2498.jpg</string>
				<key>name</key>
				<string>Z300</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰Z500</string>
				<key>id</key>
				<string>2499</string>
				<key>imageFile</key>
				<string>众泰Z500_id2499.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2499.jpg</string>
				<key>name</key>
				<string>Z500</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰Z700</string>
				<key>id</key>
				<string>2500</string>
				<key>imageFile</key>
				<string>众泰Z700_id2500.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2500.jpg</string>
				<key>name</key>
				<string>Z700</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰2008</string>
				<key>id</key>
				<string>2502</string>
				<key>imageFile</key>
				<string>众泰2008_id2502.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2502.jpg</string>
				<key>name</key>
				<string>2008</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰5008</string>
				<key>id</key>
				<string>2503</string>
				<key>imageFile</key>
				<string>众泰5008_id2503.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2503.jpg</string>
				<key>name</key>
				<string>5008</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰M300</string>
				<key>id</key>
				<string>2504</string>
				<key>imageFile</key>
				<string>众泰M300_id2504.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2504.jpg</string>
				<key>name</key>
				<string>M300</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰SR9</string>
				<key>id</key>
				<string>33840</string>
				<key>imageFile</key>
				<string>众泰SR9_id33840.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33840.JPG</string>
				<key>name</key>
				<string>SR9</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大迈X7</string>
				<key>id</key>
				<string>33841</string>
				<key>imageFile</key>
				<string>大迈X7_id33841.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33841.JPG</string>
				<key>name</key>
				<string>大迈X7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰T700</string>
				<key>id</key>
				<string>33842</string>
				<key>imageFile</key>
				<string>众泰T700_id33842.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33842.JPG</string>
				<key>name</key>
				<string>T700</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰T300</string>
				<key>id</key>
				<string>40155</string>
				<key>imageFile</key>
				<string>众泰T300_id40155.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40155.jpg</string>
				<key>name</key>
				<string>T300</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰T600 Coupe</string>
				<key>id</key>
				<string>40156</string>
				<key>imageFile</key>
				<string>众泰T600 Coupe_id40156.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40156.jpg</string>
				<key>name</key>
				<string>T600 Coupe</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰Z360</string>
				<key>id</key>
				<string>40157</string>
				<key>imageFile</key>
				<string>众泰Z360_id40157.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40157.JPG</string>
				<key>name</key>
				<string>Z360</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰Z560</string>
				<key>id</key>
				<string>40158</string>
				<key>imageFile</key>
				<string>众泰Z560_id40158.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40158.jpg</string>
				<key>name</key>
				<string>Z560</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰T500</string>
				<key>id</key>
				<string>42204</string>
				<key>imageFile</key>
				<string>众泰T500_id42204.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42204.jpg</string>
				<key>name</key>
				<string>T500</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰T800</string>
				<key>id</key>
				<string>42205</string>
				<key>imageFile</key>
				<string>众泰T800_id42205.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42205.jpg</string>
				<key>name</key>
				<string>T800</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>众泰汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40159</string>
		<key>initial</key>
		<string>Z</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>云100</string>
				<key>id</key>
				<string>2494</string>
				<key>imageFile</key>
				<string>云100_id2494.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2494.png</string>
				<key>name</key>
				<string>云100</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>芝麻</string>
				<key>id</key>
				<string>2501</string>
				<key>imageFile</key>
				<string>芝麻_id2501.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2501.jpg</string>
				<key>name</key>
				<string>芝麻</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰E200</string>
				<key>id</key>
				<string>2505</string>
				<key>imageFile</key>
				<string>众泰E200_id2505.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2505.jpg</string>
				<key>name</key>
				<string>E200</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰Z500 EV</string>
				<key>id</key>
				<string>42206</string>
				<key>imageFile</key>
				<string>众泰Z500 EV_id42206.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>Z500 EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰T300 EV</string>
				<key>id</key>
				<string>42207</string>
				<key>imageFile</key>
				<string>众泰T300 EV_id42207.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42207.jpg</string>
				<key>name</key>
				<string>T300 EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>众泰ET450 EV</string>
				<key>id</key>
				<string>45785</string>
				<key>imageFile</key>
				<string>众泰ET450 EV_id45785.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>ET450 EV</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>众泰新能源</string>
	</dict>
</array>
</plist>
