<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2448</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>依维柯Daily欧胜</string>
				<key>id</key>
				<string>2450</string>
				<key>imageFile</key>
				<string>依维柯Daily欧胜_id2450.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2450.jpg</string>
				<key>name</key>
				<string>Daily欧胜</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>依维柯Ouba</string>
				<key>id</key>
				<string>2451</string>
				<key>imageFile</key>
				<string>依维柯Ouba_id2451.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2451.jpg</string>
				<key>name</key>
				<string>Ouba</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>依维柯Power Daily</string>
				<key>id</key>
				<string>2452</string>
				<key>imageFile</key>
				<string>依维柯Power Daily_id2452.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2452.jpg</string>
				<key>name</key>
				<string>Power Daily</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>依维柯得意</string>
				<key>id</key>
				<string>2453</string>
				<key>imageFile</key>
				<string>依维柯得意_id2453.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2453.jpg</string>
				<key>name</key>
				<string>得意</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>依维柯Venice</string>
				<key>id</key>
				<string>2454</string>
				<key>imageFile</key>
				<string>依维柯Venice_id2454.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2454.jpg</string>
				<key>name</key>
				<string>Venice</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>都灵</string>
				<key>id</key>
				<string>2456</string>
				<key>imageFile</key>
				<string>都灵_id2456.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2456.jpg</string>
				<key>name</key>
				<string>都灵</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>康果</string>
				<key>id</key>
				<string>2457</string>
				<key>imageFile</key>
				<string>康果_id2457.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2457.jpg</string>
				<key>name</key>
				<string>康果</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧霸</string>
				<key>id</key>
				<string>2458</string>
				<key>imageFile</key>
				<string>欧霸_id2458.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2458.jpg</string>
				<key>name</key>
				<string>欧霸</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>南京依维柯</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>41916</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>依维柯Daily</string>
				<key>id</key>
				<string>41917</string>
				<key>imageFile</key>
				<string>依维柯Daily_id41917.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>Daily</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口依维柯</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45783</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>依维柯Power Daily 纯电动</string>
				<key>id</key>
				<string>45784</string>
				<key>imageFile</key>
				<string>依维柯Power Daily 纯电动_id45784.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>Power Daily 纯电动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>南京依维柯新能源</string>
	</dict>
</array>
</plist>
