<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>523</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>保时捷911</string>
				<key>id</key>
				<string>524</string>
				<key>imageFile</key>
				<string>保时捷911_id524.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/524.jpg</string>
				<key>name</key>
				<string>911</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>保时捷918</string>
				<key>id</key>
				<string>525</string>
				<key>imageFile</key>
				<string>保时捷918_id525.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/525.jpg</string>
				<key>name</key>
				<string>918</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>保时捷Boxster</string>
				<key>id</key>
				<string>526</string>
				<key>imageFile</key>
				<string>保时捷Boxster_id526.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/526.jpg</string>
				<key>name</key>
				<string>Boxster</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>保时捷Cayenne</string>
				<key>id</key>
				<string>527</string>
				<key>imageFile</key>
				<string>保时捷Cayenne_id527.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/527.jpg</string>
				<key>name</key>
				<string>Cayenne</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>保时捷Cayman</string>
				<key>id</key>
				<string>528</string>
				<key>imageFile</key>
				<string>保时捷Cayman_id528.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/528.jpg</string>
				<key>name</key>
				<string>Cayman</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>保时捷Macan</string>
				<key>id</key>
				<string>529</string>
				<key>imageFile</key>
				<string>保时捷Macan_id529.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/529.jpg</string>
				<key>name</key>
				<string>Macan</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>保时捷Panamera</string>
				<key>id</key>
				<string>530</string>
				<key>imageFile</key>
				<string>保时捷Panamera_id530.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/530.jpg</string>
				<key>name</key>
				<string>Panamera</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>保时捷718</string>
				<key>id</key>
				<string>33718</string>
				<key>imageFile</key>
				<string>保时捷718_id33718.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33718.jpg</string>
				<key>name</key>
				<string>718</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口保时捷</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40031</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>保时捷Cayenne 插电混动</string>
				<key>id</key>
				<string>40032</string>
				<key>imageFile</key>
				<string>保时捷Cayenne 插电混动_id40032.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40032.gif</string>
				<key>name</key>
				<string>Cayenne 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>保时捷Panamera 插电混动</string>
				<key>id</key>
				<string>40033</string>
				<key>imageFile</key>
				<string>保时捷Panamera 插电混动_id40033.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40033.gif</string>
				<key>name</key>
				<string>Panamera 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>保时捷Taycan</string>
				<key>id</key>
				<string>44711</string>
				<key>imageFile</key>
				<string>保时捷Taycan_id44711.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44711.jpg</string>
				<key>name</key>
				<string>Taycan</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口保时捷新能源</string>
	</dict>
</array>
</plist>
