<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1518</string>
		<key>initial</key>
		<string>K</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>铂锐</string>
				<key>id</key>
				<string>1519</string>
				<key>imageFile</key>
				<string>铂锐_id1519.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1519.jpg</string>
				<key>name</key>
				<string>铂锐</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>克莱斯勒300C</string>
				<key>id</key>
				<string>1520</string>
				<key>imageFile</key>
				<string>克莱斯勒300C_id1520.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1520.jpg</string>
				<key>name</key>
				<string>300C</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>北京克莱斯勒</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1521</string>
		<key>initial</key>
		<string>K</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大捷龙</string>
				<key>id</key>
				<string>1522</string>
				<key>imageFile</key>
				<string>大捷龙_id1522.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>大捷龙</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东南汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1523</string>
		<key>initial</key>
		<string>K</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>克莱斯勒300C</string>
				<key>id</key>
				<string>1524</string>
				<key>imageFile</key>
				<string>克莱斯勒300C_id1524.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1524.jpg</string>
				<key>name</key>
				<string>300C</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大捷龙</string>
				<key>id</key>
				<string>1525</string>
				<key>imageFile</key>
				<string>大捷龙_id1525.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1525.jpg</string>
				<key>name</key>
				<string>大捷龙</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>城乡</string>
				<key>id</key>
				<string>1528</string>
				<key>imageFile</key>
				<string>城乡_id1528.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1528.jpg</string>
				<key>name</key>
				<string>城乡</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>交叉火力</string>
				<key>id</key>
				<string>1531</string>
				<key>imageFile</key>
				<string>交叉火力_id1531.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1531.jpg</string>
				<key>name</key>
				<string>交叉火力</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>PT漫步者</string>
				<key>id</key>
				<string>1534</string>
				<key>imageFile</key>
				<string>PT漫步者_id1534.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1534.jpg</string>
				<key>name</key>
				<string>PT漫步者</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛百灵</string>
				<key>id</key>
				<string>1535</string>
				<key>imageFile</key>
				<string>赛百灵_id1535.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1535.jpg</string>
				<key>name</key>
				<string>赛百灵</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口克莱斯勒</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42168</string>
		<key>initial</key>
		<string>K</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大捷龙 插电混动</string>
				<key>id</key>
				<string>42169</string>
				<key>imageFile</key>
				<string>大捷龙 插电混动_id42169.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42169.jpg</string>
				<key>name</key>
				<string>大捷龙 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口克莱斯勒新能源</string>
	</dict>
</array>
</plist>
