<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1678</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>Aventador</string>
				<key>id</key>
				<string>1679</string>
				<key>imageFile</key>
				<string>Aventador_id1679.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1679.jpg</string>
				<key>name</key>
				<string>Aventador</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>Huracan</string>
				<key>id</key>
				<string>1680</string>
				<key>imageFile</key>
				<string>Huracan_id1680.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1680.JPG</string>
				<key>name</key>
				<string>Huracan</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>蝙蝠(进口)</string>
				<key>id</key>
				<string>1681</string>
				<key>imageFile</key>
				<string>蝙蝠(进口)_id1681.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1681.jpg</string>
				<key>name</key>
				<string>Murcielago</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>Gallardo</string>
				<key>id</key>
				<string>1683</string>
				<key>imageFile</key>
				<string>Gallardo_id1683.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1683.jpg</string>
				<key>name</key>
				<string>Gallardo</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>Urus</string>
				<key>id</key>
				<string>42178</string>
				<key>imageFile</key>
				<string>Urus_id42178.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42178.jpg</string>
				<key>name</key>
				<string>Urus</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口兰博基尼</string>
	</dict>
</array>
</plist>
