<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1536</string>
		<key>initial</key>
		<string>K</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯翼C3</string>
				<key>id</key>
				<string>1537</string>
				<key>imageFile</key>
				<string>凯翼C3_id1537.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1537.jpg</string>
				<key>name</key>
				<string>C3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯翼C3R</string>
				<key>id</key>
				<string>1538</string>
				<key>imageFile</key>
				<string>凯翼C3R_id1538.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1538.jpg</string>
				<key>name</key>
				<string>C3R</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯翼X3</string>
				<key>id</key>
				<string>1540</string>
				<key>imageFile</key>
				<string>凯翼X3_id1540.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1540.jpg</string>
				<key>name</key>
				<string>X3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯翼V3</string>
				<key>id</key>
				<string>33781</string>
				<key>imageFile</key>
				<string>凯翼V3_id33781.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33781.jpg</string>
				<key>name</key>
				<string>V3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯翼X5</string>
				<key>id</key>
				<string>33782</string>
				<key>imageFile</key>
				<string>凯翼X5_id33782.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33782.jpg</string>
				<key>name</key>
				<string>X5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯翼E3</string>
				<key>id</key>
				<string>42170</string>
				<key>imageFile</key>
				<string>凯翼E3_id42170.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42170.jpg</string>
				<key>name</key>
				<string>E3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>凯翼</string>
	</dict>
</array>
</plist>
