<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1485</string>
		<key>initial</key>
		<string>K</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯迪拉克ATS-L</string>
				<key>id</key>
				<string>1486</string>
				<key>imageFile</key>
				<string>凯迪拉克ATS-L_id1486.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1486.jpg</string>
				<key>name</key>
				<string>ATS-L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯迪拉克CT6</string>
				<key>id</key>
				<string>1487</string>
				<key>imageFile</key>
				<string>凯迪拉克CT6_id1487.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1487.jpg</string>
				<key>name</key>
				<string>CT6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯迪拉克XTS</string>
				<key>id</key>
				<string>1488</string>
				<key>imageFile</key>
				<string>凯迪拉克XTS_id1488.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1488.jpg</string>
				<key>name</key>
				<string>XTS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>SLS赛威</string>
				<key>id</key>
				<string>1489</string>
				<key>imageFile</key>
				<string>SLS赛威_id1489.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1489.jpg</string>
				<key>name</key>
				<string>SLS赛威</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯迪拉克XT5</string>
				<key>id</key>
				<string>1498</string>
				<key>imageFile</key>
				<string>凯迪拉克XT5_id1498.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1498.jpg</string>
				<key>name</key>
				<string>XT5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯迪拉克XT4</string>
				<key>id</key>
				<string>42167</string>
				<key>imageFile</key>
				<string>凯迪拉克XT4_id42167.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42167.jpg</string>
				<key>name</key>
				<string>XT4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽通用凯迪拉克</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1490</string>
		<key>initial</key>
		<string>K</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯迪拉克ATS</string>
				<key>id</key>
				<string>1491</string>
				<key>imageFile</key>
				<string>凯迪拉克ATS_id1491.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1491.jpg</string>
				<key>name</key>
				<string>ATS</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯迪拉克CTS</string>
				<key>id</key>
				<string>1492</string>
				<key>imageFile</key>
				<string>凯迪拉克CTS_id1492.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1492.jpg</string>
				<key>name</key>
				<string>CTS</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯雷德</string>
				<key>id</key>
				<string>1495</string>
				<key>imageFile</key>
				<string>凯雷德_id1495.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1495.png</string>
				<key>name</key>
				<string>凯雷德</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯迪拉克SRX(进口)</string>
				<key>id</key>
				<string>1497</string>
				<key>imageFile</key>
				<string>凯迪拉克SRX(进口)_id1497.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1497.jpg</string>
				<key>name</key>
				<string>SRX</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯迪拉克XLR</string>
				<key>id</key>
				<string>1505</string>
				<key>imageFile</key>
				<string>凯迪拉克XLR_id1505.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1505.jpg</string>
				<key>name</key>
				<string>XLR</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口凯迪拉克</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40100</string>
		<key>initial</key>
		<string>K</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯迪拉克CT6 插电混动</string>
				<key>id</key>
				<string>40101</string>
				<key>imageFile</key>
				<string>凯迪拉克CT6 插电混动_id40101.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40101.gif</string>
				<key>name</key>
				<string>CT6 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽通用凯迪拉克新能源</string>
	</dict>
</array>
</plist>
