<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>320</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>昂科拉</string>
				<key>id</key>
				<string>321</string>
				<key>imageFile</key>
				<string>昂科拉_id321.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/321.jpg</string>
				<key>name</key>
				<string>昂科拉</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>昂科威</string>
				<key>id</key>
				<string>322</string>
				<key>imageFile</key>
				<string>昂科威_id322.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/322.png</string>
				<key>name</key>
				<string>昂科威</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>别克GL8</string>
				<key>id</key>
				<string>323</string>
				<key>imageFile</key>
				<string>别克GL8_id323.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/323.jpg</string>
				<key>name</key>
				<string>GL8</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>君威</string>
				<key>id</key>
				<string>324</string>
				<key>imageFile</key>
				<string>君威_id324.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/324.jpg</string>
				<key>name</key>
				<string>君威</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>君越</string>
				<key>id</key>
				<string>325</string>
				<key>imageFile</key>
				<string>君越_id325.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/325.jpg</string>
				<key>name</key>
				<string>君越</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯越</string>
				<key>id</key>
				<string>326</string>
				<key>imageFile</key>
				<string>凯越_id326.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/326.jpg</string>
				<key>name</key>
				<string>凯越</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>林荫大道</string>
				<key>id</key>
				<string>327</string>
				<key>imageFile</key>
				<string>林荫大道_id327.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/327.jpg</string>
				<key>name</key>
				<string>林荫大道</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威朗</string>
				<key>id</key>
				<string>329</string>
				<key>imageFile</key>
				<string>威朗_id329.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/329.jpg</string>
				<key>name</key>
				<string>威朗</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英朗</string>
				<key>id</key>
				<string>330</string>
				<key>imageFile</key>
				<string>英朗_id330.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/330.jpg</string>
				<key>name</key>
				<string>英朗</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣御</string>
				<key>id</key>
				<string>335</string>
				<key>imageFile</key>
				<string>荣御_id335.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/335.jpg</string>
				<key>name</key>
				<string>荣御</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>别克VELITE 5</string>
				<key>id</key>
				<string>40010</string>
				<key>imageFile</key>
				<string>别克VELITE 5_id40010.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40010.jpg</string>
				<key>name</key>
				<string>VELITE 5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>别克GL6</string>
				<key>id</key>
				<string>40011</string>
				<key>imageFile</key>
				<string>别克GL6_id40011.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40011.gif</string>
				<key>name</key>
				<string>GL6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阅朗</string>
				<key>id</key>
				<string>41352</string>
				<key>imageFile</key>
				<string>阅朗_id41352.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41352.jpg</string>
				<key>name</key>
				<string>阅朗</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽通用别克</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>337</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>昂科雷</string>
				<key>id</key>
				<string>338</string>
				<key>imageFile</key>
				<string>昂科雷_id338.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/338.JPG</string>
				<key>name</key>
				<string>昂科雷</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口别克</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42113</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>别克VELITE 6</string>
				<key>id</key>
				<string>42114</string>
				<key>imageFile</key>
				<string>别克VELITE 6_id42114.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42114.jpg</string>
				<key>name</key>
				<string>VELITE 6</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽通用别克新能源</string>
	</dict>
</array>
</plist>
