<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1684</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆320</string>
				<key>id</key>
				<string>1685</string>
				<key>imageFile</key>
				<string>力帆320_id1685.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1685.jpg</string>
				<key>name</key>
				<string>320</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆330</string>
				<key>id</key>
				<string>1686</string>
				<key>imageFile</key>
				<string>力帆330_id1686.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1686.jpg</string>
				<key>name</key>
				<string>330</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆520</string>
				<key>id</key>
				<string>1687</string>
				<key>imageFile</key>
				<string>力帆520_id1687.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1687.jpg</string>
				<key>name</key>
				<string>520</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆530</string>
				<key>id</key>
				<string>1689</string>
				<key>imageFile</key>
				<string>力帆530_id1689.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1689.jpg</string>
				<key>name</key>
				<string>530</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆620</string>
				<key>id</key>
				<string>1690</string>
				<key>imageFile</key>
				<string>力帆620_id1690.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1690.jpg</string>
				<key>name</key>
				<string>620</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆630</string>
				<key>id</key>
				<string>1692</string>
				<key>imageFile</key>
				<string>力帆630_id1692.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1692.jpg</string>
				<key>name</key>
				<string>630</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆720</string>
				<key>id</key>
				<string>1693</string>
				<key>imageFile</key>
				<string>力帆720_id1693.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1693.jpg</string>
				<key>name</key>
				<string>720</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆820</string>
				<key>id</key>
				<string>1694</string>
				<key>imageFile</key>
				<string>力帆820_id1694.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1694.jpg</string>
				<key>name</key>
				<string>820</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>丰顺</string>
				<key>id</key>
				<string>1695</string>
				<key>imageFile</key>
				<string>丰顺_id1695.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1695.jpg</string>
				<key>name</key>
				<string>丰顺</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>乐途</string>
				<key>id</key>
				<string>1696</string>
				<key>imageFile</key>
				<string>乐途_id1696.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1696.jpg</string>
				<key>name</key>
				<string>乐途</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆X50</string>
				<key>id</key>
				<string>1697</string>
				<key>imageFile</key>
				<string>力帆X50_id1697.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1697.jpg</string>
				<key>name</key>
				<string>X50</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆X60</string>
				<key>id</key>
				<string>1698</string>
				<key>imageFile</key>
				<string>力帆X60_id1698.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1698.jpg</string>
				<key>name</key>
				<string>X60</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>兴顺</string>
				<key>id</key>
				<string>1699</string>
				<key>imageFile</key>
				<string>兴顺_id1699.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1699.jpg</string>
				<key>name</key>
				<string>兴顺</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈威</string>
				<key>id</key>
				<string>1700</string>
				<key>imageFile</key>
				<string>迈威_id1700.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1700.jpg</string>
				<key>name</key>
				<string>迈威</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆X80</string>
				<key>id</key>
				<string>33793</string>
				<key>imageFile</key>
				<string>力帆X80_id33793.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33793.jpg</string>
				<key>name</key>
				<string>X80</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>轩朗</string>
				<key>id</key>
				<string>33794</string>
				<key>imageFile</key>
				<string>轩朗_id33794.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33794.jpg</string>
				<key>name</key>
				<string>轩朗</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆650</string>
				<key>id</key>
				<string>45425</string>
				<key>imageFile</key>
				<string>力帆650_id45425.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>650</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>力帆</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40107</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆620EV</string>
				<key>id</key>
				<string>1691</string>
				<key>imageFile</key>
				<string>力帆620EV_id1691.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1691.jpg</string>
				<key>name</key>
				<string>620EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆330EV</string>
				<key>id</key>
				<string>42179</string>
				<key>imageFile</key>
				<string>力帆330EV_id42179.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42179.jpg</string>
				<key>name</key>
				<string>330EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆650EV</string>
				<key>id</key>
				<string>42180</string>
				<key>imageFile</key>
				<string>力帆650EV_id42180.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42180.jpg</string>
				<key>name</key>
				<string>650EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力帆820EV</string>
				<key>id</key>
				<string>45426</string>
				<key>imageFile</key>
				<string>力帆820EV_id45426.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>820EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>力帆新能源</string>
	</dict>
</array>
</plist>
