<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1701</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>古思特</string>
				<key>id</key>
				<string>1702</string>
				<key>imageFile</key>
				<string>古思特_id1702.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1702.jpg</string>
				<key>name</key>
				<string>古思特</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>幻影</string>
				<key>id</key>
				<string>1703</string>
				<key>imageFile</key>
				<string>幻影_id1703.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1703.JPG</string>
				<key>name</key>
				<string>幻影</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>魅影</string>
				<key>id</key>
				<string>1704</string>
				<key>imageFile</key>
				<string>魅影_id1704.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1704.jpg</string>
				<key>name</key>
				<string>魅影</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>曜影</string>
				<key>id</key>
				<string>1705</string>
				<key>imageFile</key>
				<string>曜影_id1705.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1705.jpg</string>
				<key>name</key>
				<string>曜影</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>银刺</string>
				<key>id</key>
				<string>1706</string>
				<key>imageFile</key>
				<string>银刺_id1706.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1706.jpg</string>
				<key>name</key>
				<string>银刺</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>银魅</string>
				<key>id</key>
				<string>1707</string>
				<key>imageFile</key>
				<string>银魅_id1707.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1707.jpg</string>
				<key>name</key>
				<string>银魅</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>库里南</string>
				<key>id</key>
				<string>44298</string>
				<key>imageFile</key>
				<string>库里南_id44298.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44298.jpg</string>
				<key>name</key>
				<string>库里南</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口劳斯莱斯</string>
	</dict>
</array>
</plist>
