<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>550</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>北京BJ40</string>
				<key>id</key>
				<string>551</string>
				<key>imageFile</key>
				<string>北京BJ40_id551.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/551.png</string>
				<key>name</key>
				<string>BJ40</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>北京E系列</string>
				<key>id</key>
				<string>552</string>
				<key>imageFile</key>
				<string>北京E系列_id552.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/552.jpg</string>
				<key>name</key>
				<string>E系列</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>北京BJ20</string>
				<key>id</key>
				<string>555</string>
				<key>imageFile</key>
				<string>北京BJ20_id555.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/555.jpg</string>
				<key>name</key>
				<string>BJ20</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>北京BJ80</string>
				<key>id</key>
				<string>556</string>
				<key>imageFile</key>
				<string>北京BJ80_id556.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/556.JPG</string>
				<key>name</key>
				<string>BJ80</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>北京BJ90</string>
				<key>id</key>
				<string>45700</string>
				<key>imageFile</key>
				<string>北京BJ90_id45700.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>BJ90</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>北京汽车</string>
	</dict>
</array>
</plist>
