<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>687</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福瑞达</string>
				<key>id</key>
				<string>688</string>
				<key>imageFile</key>
				<string>福瑞达_id688.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/688.jpg</string>
				<key>name</key>
				<string>福瑞达</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>昌河M50</string>
				<key>id</key>
				<string>690</string>
				<key>imageFile</key>
				<string>昌河M50_id690.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/690.JPG</string>
				<key>name</key>
				<string>M50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>昌河Q25</string>
				<key>id</key>
				<string>691</string>
				<key>imageFile</key>
				<string>昌河Q25_id691.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/691.jpg</string>
				<key>name</key>
				<string>Q25</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>爱迪尔</string>
				<key>id</key>
				<string>692</string>
				<key>imageFile</key>
				<string>爱迪尔_id692.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/692.jpg</string>
				<key>name</key>
				<string>爱迪尔</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福瑞达K22</string>
				<key>id</key>
				<string>33730</string>
				<key>imageFile</key>
				<string>福瑞达K22_id33730.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33730.jpg</string>
				<key>name</key>
				<string>福瑞达K22</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>昌河M70</string>
				<key>id</key>
				<string>33731</string>
				<key>imageFile</key>
				<string>昌河M70_id33731.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33731.JPG</string>
				<key>name</key>
				<string>M70</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>昌河Q35</string>
				<key>id</key>
				<string>33732</string>
				<key>imageFile</key>
				<string>昌河Q35_id33732.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33732.jpg</string>
				<key>name</key>
				<string>Q35</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>昌河A6</string>
				<key>id</key>
				<string>41357</string>
				<key>imageFile</key>
				<string>昌河A6_id41357.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41357.gif</string>
				<key>name</key>
				<string>A6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>昌河Q7</string>
				<key>id</key>
				<string>42129</string>
				<key>imageFile</key>
				<string>昌河Q7_id42129.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42129.jpg</string>
				<key>name</key>
				<string>Q7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福瑞达K21</string>
				<key>id</key>
				<string>45412</string>
				<key>imageFile</key>
				<string>福瑞达K21_id45412.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>福瑞达K21</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>北汽昌河</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40041</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>北斗星X5E</string>
				<key>id</key>
				<string>40042</string>
				<key>imageFile</key>
				<string>北斗星X5E_id40042.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40042.jpg</string>
				<key>name</key>
				<string>北斗星X5E</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>北汽昌河新能源</string>
	</dict>
</array>
</plist>
