<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>531</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>绅宝D80</string>
				<key>id</key>
				<string>532</string>
				<key>imageFile</key>
				<string>绅宝D80_id532.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/532.jpg</string>
				<key>name</key>
				<string>D80</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>绅宝CC</string>
				<key>id</key>
				<string>533</string>
				<key>imageFile</key>
				<string>绅宝CC_id533.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/533.JPG</string>
				<key>name</key>
				<string>CC</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>绅宝D20</string>
				<key>id</key>
				<string>536</string>
				<key>imageFile</key>
				<string>绅宝D20_id536.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/536.jpg</string>
				<key>name</key>
				<string>D20</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>绅宝D50</string>
				<key>id</key>
				<string>537</string>
				<key>imageFile</key>
				<string>绅宝D50_id537.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/537.jpg</string>
				<key>name</key>
				<string>D50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>绅宝D60</string>
				<key>id</key>
				<string>538</string>
				<key>imageFile</key>
				<string>绅宝D60_id538.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/538.png</string>
				<key>name</key>
				<string>D60</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>绅宝D70</string>
				<key>id</key>
				<string>539</string>
				<key>imageFile</key>
				<string>绅宝D70_id539.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/539.jpg</string>
				<key>name</key>
				<string>D70</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>绅宝X25</string>
				<key>id</key>
				<string>540</string>
				<key>imageFile</key>
				<string>绅宝X25_id540.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/540.jpg</string>
				<key>name</key>
				<string>X25</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>绅宝X55</string>
				<key>id</key>
				<string>541</string>
				<key>imageFile</key>
				<string>绅宝X55_id541.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/541.jpg</string>
				<key>name</key>
				<string>X55</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>绅宝X65</string>
				<key>id</key>
				<string>542</string>
				<key>imageFile</key>
				<string>绅宝X65_id542.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/542.jpg</string>
				<key>name</key>
				<string>X65</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>绅宝X35</string>
				<key>id</key>
				<string>543</string>
				<key>imageFile</key>
				<string>绅宝X35_id543.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/543.jpg</string>
				<key>name</key>
				<string>X35</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>智行</string>
				<key>id</key>
				<string>45697</string>
				<key>imageFile</key>
				<string>智行_id45697.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>智行</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>智道</string>
				<key>id</key>
				<string>45698</string>
				<key>imageFile</key>
				<string>智道_id45698.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>智道</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>北汽绅宝</string>
	</dict>
</array>
</plist>
