<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>558</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威旺306</string>
				<key>id</key>
				<string>559</string>
				<key>imageFile</key>
				<string>威旺306_id559.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/559.jpg</string>
				<key>name</key>
				<string>306</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威旺307</string>
				<key>id</key>
				<string>560</string>
				<key>imageFile</key>
				<string>威旺307_id560.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/560.jpg</string>
				<key>name</key>
				<string>307</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威旺M20</string>
				<key>id</key>
				<string>561</string>
				<key>imageFile</key>
				<string>威旺M20_id561.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/561.jpg</string>
				<key>name</key>
				<string>M20</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威旺M30</string>
				<key>id</key>
				<string>562</string>
				<key>imageFile</key>
				<string>威旺M30_id562.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/562.jpg</string>
				<key>name</key>
				<string>M30</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威旺M35</string>
				<key>id</key>
				<string>563</string>
				<key>imageFile</key>
				<string>威旺M35_id563.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/563.JPG</string>
				<key>name</key>
				<string>M35</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威旺S50</string>
				<key>id</key>
				<string>564</string>
				<key>imageFile</key>
				<string>威旺S50_id564.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/564.jpg</string>
				<key>name</key>
				<string>S50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威旺205</string>
				<key>id</key>
				<string>565</string>
				<key>imageFile</key>
				<string>威旺205_id565.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/565.jpg</string>
				<key>name</key>
				<string>205</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威旺M50F</string>
				<key>id</key>
				<string>33721</string>
				<key>imageFile</key>
				<string>威旺M50F_id33721.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33721.jpg</string>
				<key>name</key>
				<string>M50F</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威旺M60</string>
				<key>id</key>
				<string>41353</string>
				<key>imageFile</key>
				<string>威旺M60_id41353.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41353.jpg</string>
				<key>name</key>
				<string>M60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>北汽威旺</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45701</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威旺EV</string>
				<key>id</key>
				<string>606</string>
				<key>imageFile</key>
				<string>威旺EV_id606.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/606.jpg</string>
				<key>name</key>
				<string>威旺EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>北汽威旺新能源</string>
	</dict>
</array>
</plist>
