<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>566</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>BJ 212</string>
				<key>id</key>
				<string>567</string>
				<key>imageFile</key>
				<string>BJ 212_id567.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/567.jpg</string>
				<key>name</key>
				<string>BJ 212</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>北京BW007</string>
				<key>id</key>
				<string>568</string>
				<key>imageFile</key>
				<string>北京BW007_id568.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/568.jpg</string>
				<key>name</key>
				<string>BW007</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>角斗士</string>
				<key>id</key>
				<string>569</string>
				<key>imageFile</key>
				<string>角斗士_id569.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/569.jpg</string>
				<key>name</key>
				<string>角斗士</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>陆霸</string>
				<key>id</key>
				<string>570</string>
				<key>imageFile</key>
				<string>陆霸_id570.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/570.jpg</string>
				<key>name</key>
				<string>陆霸</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>北汽骑士</string>
				<key>id</key>
				<string>571</string>
				<key>imageFile</key>
				<string>北汽骑士_id571.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/571.jpg</string>
				<key>name</key>
				<string>骑士</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>锐铃</string>
				<key>id</key>
				<string>572</string>
				<key>imageFile</key>
				<string>锐铃_id572.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/572.jpg</string>
				<key>name</key>
				<string>锐铃</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>越铃</string>
				<key>id</key>
				<string>573</string>
				<key>imageFile</key>
				<string>越铃_id573.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/573.jpg</string>
				<key>name</key>
				<string>越铃</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>勇士皮卡</string>
				<key>id</key>
				<string>574</string>
				<key>imageFile</key>
				<string>勇士皮卡_id574.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/574.jpg</string>
				<key>name</key>
				<string>勇士皮卡</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>战旗</string>
				<key>id</key>
				<string>575</string>
				<key>imageFile</key>
				<string>战旗_id575.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/575.jpg</string>
				<key>name</key>
				<string>战旗</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷驰</string>
				<key>id</key>
				<string>576</string>
				<key>imageFile</key>
				<string>雷驰_id576.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/576.jpg</string>
				<key>name</key>
				<string>雷驰</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>陆铃</string>
				<key>id</key>
				<string>577</string>
				<key>imageFile</key>
				<string>陆铃_id577.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/577.jpg</string>
				<key>name</key>
				<string>陆铃</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>新城市猎人</string>
				<key>id</key>
				<string>578</string>
				<key>imageFile</key>
				<string>新城市猎人_id578.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/578.jpg</string>
				<key>name</key>
				<string>新城市猎人</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>旋风</string>
				<key>id</key>
				<string>579</string>
				<key>imageFile</key>
				<string>旋风_id579.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/579.jpg</string>
				<key>name</key>
				<string>旋风</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>战旗2023</string>
				<key>id</key>
				<string>580</string>
				<key>imageFile</key>
				<string>战旗2023_id580.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/580.jpg</string>
				<key>name</key>
				<string>战旗2023</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>勇士</string>
				<key>id</key>
				<string>44712</string>
				<key>imageFile</key>
				<string>勇士_id44712.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>勇士</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>北汽制造</string>
	</dict>
</array>
</plist>
