<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>605</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>ES系列</string>
				<key>id</key>
				<string>608</string>
				<key>imageFile</key>
				<string>ES系列_id608.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/608.JPG</string>
				<key>name</key>
				<string>ES系列</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>EU系列</string>
				<key>id</key>
				<string>609</string>
				<key>imageFile</key>
				<string>EU系列_id609.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/609.JPG</string>
				<key>name</key>
				<string>EU系列</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>EV系列</string>
				<key>id</key>
				<string>610</string>
				<key>imageFile</key>
				<string>EV系列_id610.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/610.jpg</string>
				<key>name</key>
				<string>EV系列</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>EX系列</string>
				<key>id</key>
				<string>33722</string>
				<key>imageFile</key>
				<string>EX系列_id33722.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33722.JPG</string>
				<key>name</key>
				<string>EX系列</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>EC系列</string>
				<key>id</key>
				<string>33723</string>
				<key>imageFile</key>
				<string>EC系列_id33723.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33723.jpg</string>
				<key>name</key>
				<string>EC系列</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>EH系列</string>
				<key>id</key>
				<string>40034</string>
				<key>imageFile</key>
				<string>EH系列_id40034.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40034.jpg</string>
				<key>name</key>
				<string>EH系列</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>ET系列</string>
				<key>id</key>
				<string>42125</string>
				<key>imageFile</key>
				<string>ET系列_id42125.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>ET系列</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>北汽新能源EX3</string>
				<key>id</key>
				<string>45703</string>
				<key>imageFile</key>
				<string>北汽新能源EX3_id45703.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>EX3</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>北汽新能源EX5</string>
				<key>id</key>
				<string>45704</string>
				<key>imageFile</key>
				<string>北汽新能源EX5_id45704.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>EX5</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>北汽新能源</string>
	</dict>
</array>
</plist>
