<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1206</string>
		<key>initial</key>
		<string>H</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>华泰B11</string>
				<key>id</key>
				<string>1207</string>
				<key>imageFile</key>
				<string>华泰B11_id1207.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1207.jpg</string>
				<key>name</key>
				<string>B11</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝利格</string>
				<key>id</key>
				<string>1208</string>
				<key>imageFile</key>
				<string>宝利格_id1208.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1208.JPG</string>
				<key>name</key>
				<string>宝利格</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>经典圣达菲</string>
				<key>id</key>
				<string>1209</string>
				<key>imageFile</key>
				<string>经典圣达菲_id1209.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1209.jpg</string>
				<key>name</key>
				<string>经典圣达菲</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>路盛E70</string>
				<key>id</key>
				<string>1210</string>
				<key>imageFile</key>
				<string>路盛E70_id1210.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1210.jpg</string>
				<key>name</key>
				<string>路盛E70</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>特拉卡</string>
				<key>id</key>
				<string>1211</string>
				<key>imageFile</key>
				<string>特拉卡_id1211.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1211.jpg</string>
				<key>name</key>
				<string>特拉卡</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>圣达菲</string>
				<key>id</key>
				<string>1212</string>
				<key>imageFile</key>
				<string>圣达菲_id1212.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1212.jpg</string>
				<key>name</key>
				<string>圣达菲</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>吉田</string>
				<key>id</key>
				<string>1213</string>
				<key>imageFile</key>
				<string>吉田_id1213.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1213.gif</string>
				<key>name</key>
				<string>吉田</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>路盛E80</string>
				<key>id</key>
				<string>33769</string>
				<key>imageFile</key>
				<string>路盛E80_id33769.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33769.jpg</string>
				<key>name</key>
				<string>路盛E80</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>圣达菲5</string>
				<key>id</key>
				<string>40068</string>
				<key>imageFile</key>
				<string>圣达菲5_id40068.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40068.gif</string>
				<key>name</key>
				<string>圣达菲5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>圣达菲7</string>
				<key>id</key>
				<string>40069</string>
				<key>imageFile</key>
				<string>圣达菲7_id40069.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40069.gif</string>
				<key>name</key>
				<string>圣达菲7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>华泰汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1273</string>
		<key>initial</key>
		<string>H</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>路盛S5 iEV230</string>
				<key>id</key>
				<string>1274</string>
				<key>imageFile</key>
				<string>路盛S5 iEV230_id1274.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1274.jpg</string>
				<key>name</key>
				<string>路盛S5 iEV230</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>圣达菲5 华泰XEV260</string>
				<key>id</key>
				<string>1275</string>
				<key>imageFile</key>
				<string>圣达菲5 华泰XEV260_id1275.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1275.jpg</string>
				<key>name</key>
				<string>圣达菲5 XEV260</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>路盛S1 iEV360</string>
				<key>id</key>
				<string>40070</string>
				<key>imageFile</key>
				<string>路盛S1 iEV360_id40070.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40070.jpg</string>
				<key>name</key>
				<string>路盛S1 iEV360</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>路盛S1 EV160R</string>
				<key>id</key>
				<string>40071</string>
				<key>imageFile</key>
				<string>路盛S1 EV160R_id40071.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40071.jpg</string>
				<key>name</key>
				<string>路盛S1 EV160R</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>华泰新能源</string>
	</dict>
</array>
</plist>
