<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1285</string>
		<key>initial</key>
		<string>H</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海景</string>
				<key>id</key>
				<string>1286</string>
				<key>imageFile</key>
				<string>海景_id1286.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1286.gif</string>
				<key>name</key>
				<string>海景</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>飚风</string>
				<key>id</key>
				<string>1287</string>
				<key>imageFile</key>
				<string>飚风_id1287.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1287.gif</string>
				<key>name</key>
				<string>飚风</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海锋</string>
				<key>id</key>
				<string>1288</string>
				<key>imageFile</key>
				<string>海锋_id1288.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1288.jpg</string>
				<key>name</key>
				<string>海锋</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海尚</string>
				<key>id</key>
				<string>1289</string>
				<key>imageFile</key>
				<string>海尚_id1289.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1289.jpg</string>
				<key>name</key>
				<string>海尚</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海迅</string>
				<key>id</key>
				<string>1290</string>
				<key>imageFile</key>
				<string>海迅_id1290.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1290.jpg</string>
				<key>name</key>
				<string>海迅</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海炫</string>
				<key>id</key>
				<string>1291</string>
				<key>imageFile</key>
				<string>海炫_id1291.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1291.gif</string>
				<key>name</key>
				<string>海炫</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海域</string>
				<key>id</key>
				<string>1292</string>
				<key>imageFile</key>
				<string>海域_id1292.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1292.jpg</string>
				<key>name</key>
				<string>海域</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海悦</string>
				<key>id</key>
				<string>1293</string>
				<key>imageFile</key>
				<string>海悦_id1293.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1293.jpg</string>
				<key>name</key>
				<string>海悦</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>杰士达美鹿</string>
				<key>id</key>
				<string>1294</string>
				<key>imageFile</key>
				<string>杰士达美鹿_id1294.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1294.gif</string>
				<key>name</key>
				<string>杰士达美鹿</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>朗风</string>
				<key>id</key>
				<string>1295</string>
				<key>imageFile</key>
				<string>朗风_id1295.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1295.gif</string>
				<key>name</key>
				<string>朗风</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>M203</string>
				<key>id</key>
				<string>1296</string>
				<key>imageFile</key>
				<string>M203_id1296.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1296.gif</string>
				<key>name</key>
				<string>M203</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>华普</string>
	</dict>
</array>
</plist>
