<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2552</string>
		<key>initial</key>
		<string>K</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>商旅车</string>
				<key>id</key>
				<string>2553</string>
				<key>imageFile</key>
				<string>商旅车_id2553.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2553.jpg</string>
				<key>name</key>
				<string>商旅车</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>商务车</string>
				<key>id</key>
				<string>2554</string>
				<key>imageFile</key>
				<string>商务车_id2554.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2554.JPG</string>
				<key>name</key>
				<string>商务车</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凌特</string>
				<key>id</key>
				<string>40165</string>
				<key>imageFile</key>
				<string>凌特_id40165.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40165.jpg</string>
				<key>name</key>
				<string>凌特</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>T6</string>
				<key>id</key>
				<string>40166</string>
				<key>imageFile</key>
				<string>T6_id40166.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40166.jpg</string>
				<key>name</key>
				<string>T6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>V级</string>
				<key>id</key>
				<string>40167</string>
				<key>imageFile</key>
				<string>V级_id40167.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40167.jpg</string>
				<key>name</key>
				<string>V级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威霆</string>
				<key>id</key>
				<string>40168</string>
				<key>imageFile</key>
				<string>威霆_id40168.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40168.jpg</string>
				<key>name</key>
				<string>威霆</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>浙江卡尔森</string>
	</dict>
</array>
</plist>
