<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1541</string>
		<key>initial</key>
		<string>K</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>卡威K1</string>
				<key>id</key>
				<string>1543</string>
				<key>imageFile</key>
				<string>卡威K1_id1543.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1543.jpg</string>
				<key>name</key>
				<string>卡威K1</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>卡威W1</string>
				<key>id</key>
				<string>1544</string>
				<key>imageFile</key>
				<string>卡威W1_id1544.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1544.jpg</string>
				<key>name</key>
				<string>卡威W1</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>卡威K150</string>
				<key>id</key>
				<string>33783</string>
				<key>imageFile</key>
				<string>卡威K150_id33783.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33783.JPG</string>
				<key>name</key>
				<string>卡威K150</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>卡威游骑兵</string>
				<key>id</key>
				<string>41362</string>
				<key>imageFile</key>
				<string>卡威游骑兵_id41362.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41362.jpg</string>
				<key>name</key>
				<string>游骑兵</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>卡威汽车</string>
	</dict>
</array>
</plist>
