<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2137</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>来宝S-RV</string>
				<key>id</key>
				<string>2138</string>
				<key>imageFile</key>
				<string>来宝S-RV_id2138.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2138.jpg</string>
				<key>name</key>
				<string>来宝S-RV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>来旺</string>
				<key>id</key>
				<string>2139</string>
				<key>imageFile</key>
				<string>来旺_id2139.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2139.jpg</string>
				<key>name</key>
				<string>来旺</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>双环SCEO</string>
				<key>id</key>
				<string>2140</string>
				<key>imageFile</key>
				<string>双环SCEO_id2140.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2140.jpg</string>
				<key>name</key>
				<string>SCEO</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>小贵族</string>
				<key>id</key>
				<string>2141</string>
				<key>imageFile</key>
				<string>小贵族_id2141.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2141.jpg</string>
				<key>name</key>
				<string>小贵族</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>双环</string>
	</dict>
</array>
</plist>
