<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2102</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>爱腾</string>
				<key>id</key>
				<string>2103</string>
				<key>imageFile</key>
				<string>爱腾_id2103.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2103.jpg</string>
				<key>name</key>
				<string>爱腾</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>蒂维拉</string>
				<key>id</key>
				<string>2104</string>
				<key>imageFile</key>
				<string>蒂维拉_id2104.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2104.jpg</string>
				<key>name</key>
				<string>蒂维拉</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>柯兰多</string>
				<key>id</key>
				<string>2105</string>
				<key>imageFile</key>
				<string>柯兰多_id2105.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2105.jpg</string>
				<key>name</key>
				<string>柯兰多</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>路帝</string>
				<key>id</key>
				<string>2106</string>
				<key>imageFile</key>
				<string>路帝_id2106.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2106.jpg</string>
				<key>name</key>
				<string>路帝</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷斯特II</string>
				<key>id</key>
				<string>2107</string>
				<key>imageFile</key>
				<string>雷斯特II_id2107.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2107.jpg</string>
				<key>name</key>
				<string>雷斯特II</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷斯特W</string>
				<key>id</key>
				<string>2108</string>
				<key>imageFile</key>
				<string>雷斯特W_id2108.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2108.jpg</string>
				<key>name</key>
				<string>雷斯特W</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>享御</string>
				<key>id</key>
				<string>2109</string>
				<key>imageFile</key>
				<string>享御_id2109.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2109.jpg</string>
				<key>name</key>
				<string>享御</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>主席</string>
				<key>id</key>
				<string>2110</string>
				<key>imageFile</key>
				<string>主席_id2110.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2110.jpg</string>
				<key>name</key>
				<string>主席</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途凌</string>
				<key>id</key>
				<string>33821</string>
				<key>imageFile</key>
				<string>途凌_id33821.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33821.jpg</string>
				<key>name</key>
				<string>途凌</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷斯特G4</string>
				<key>id</key>
				<string>45772</string>
				<key>imageFile</key>
				<string>雷斯特G4_id45772.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>雷斯特G4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口双龙</string>
	</dict>
</array>
</plist>
