<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1311</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>博瑞</string>
				<key>id</key>
				<string>1312</string>
				<key>imageFile</key>
				<string>博瑞_id1312.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1312.jpg</string>
				<key>name</key>
				<string>博瑞</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>博越</string>
				<key>id</key>
				<string>1313</string>
				<key>imageFile</key>
				<string>博越_id1313.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1313.jpg</string>
				<key>name</key>
				<string>博越</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>吉利EC8</string>
				<key>id</key>
				<string>1315</string>
				<key>imageFile</key>
				<string>吉利EC8_id1315.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1315.jpg</string>
				<key>name</key>
				<string>EC8</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>吉利GC7</string>
				<key>id</key>
				<string>1316</string>
				<key>imageFile</key>
				<string>吉利GC7_id1316.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1316.jpg</string>
				<key>name</key>
				<string>GC7</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>吉利GX7</string>
				<key>id</key>
				<string>1317</string>
				<key>imageFile</key>
				<string>吉利GX7_id1317.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1317.jpg</string>
				<key>name</key>
				<string>GX7</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海景</string>
				<key>id</key>
				<string>1318</string>
				<key>imageFile</key>
				<string>海景_id1318.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1318.JPG</string>
				<key>name</key>
				<string>海景</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>豪情SUV</string>
				<key>id</key>
				<string>1319</string>
				<key>imageFile</key>
				<string>豪情SUV_id1319.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1319.png</string>
				<key>name</key>
				<string>豪情SUV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>吉利TX4</string>
				<key>id</key>
				<string>1320</string>
				<key>imageFile</key>
				<string>吉利TX4_id1320.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1320.jpg</string>
				<key>name</key>
				<string>TX4</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帝豪</string>
				<key>id</key>
				<string>1323</string>
				<key>imageFile</key>
				<string>帝豪_id1323.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1323.jpg</string>
				<key>name</key>
				<string>帝豪</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金刚</string>
				<key>id</key>
				<string>1325</string>
				<key>imageFile</key>
				<string>金刚_id1325.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1325.jpg</string>
				<key>name</key>
				<string>金刚</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>熊猫</string>
				<key>id</key>
				<string>1326</string>
				<key>imageFile</key>
				<string>熊猫_id1326.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1326.jpg</string>
				<key>name</key>
				<string>熊猫</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>远景</string>
				<key>id</key>
				<string>1327</string>
				<key>imageFile</key>
				<string>远景_id1327.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1327.jpg</string>
				<key>name</key>
				<string>远景</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帝豪GS</string>
				<key>id</key>
				<string>1328</string>
				<key>imageFile</key>
				<string>帝豪GS_id1328.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1328.jpg</string>
				<key>name</key>
				<string>帝豪GS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>吉利GX2</string>
				<key>id</key>
				<string>1329</string>
				<key>imageFile</key>
				<string>吉利GX2_id1329.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1329.jpg</string>
				<key>name</key>
				<string>GX2</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>豪情</string>
				<key>id</key>
				<string>1330</string>
				<key>imageFile</key>
				<string>豪情_id1330.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1330.jpg</string>
				<key>name</key>
				<string>豪情</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>美人豹</string>
				<key>id</key>
				<string>1336</string>
				<key>imageFile</key>
				<string>美人豹_id1336.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1336.jpg</string>
				<key>name</key>
				<string>美人豹</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>美日之星</string>
				<key>id</key>
				<string>1337</string>
				<key>imageFile</key>
				<string>美日之星_id1337.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1337.jpg</string>
				<key>name</key>
				<string>美日之星</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>吉利SC3</string>
				<key>id</key>
				<string>1338</string>
				<key>imageFile</key>
				<string>吉利SC3_id1338.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1338.jpg</string>
				<key>name</key>
				<string>SC3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>吉利SX7</string>
				<key>id</key>
				<string>1339</string>
				<key>imageFile</key>
				<string>吉利SX7_id1339.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1339.jpg</string>
				<key>name</key>
				<string>SX7</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英伦C5</string>
				<key>id</key>
				<string>1342</string>
				<key>imageFile</key>
				<string>英伦C5_id1342.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1342.JPG</string>
				<key>name</key>
				<string>英伦C5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>优利欧</string>
				<key>id</key>
				<string>1344</string>
				<key>imageFile</key>
				<string>优利欧_id1344.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1344.jpg</string>
				<key>name</key>
				<string>优利欧</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中国龙</string>
				<key>id</key>
				<string>1345</string>
				<key>imageFile</key>
				<string>中国龙_id1345.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1345.jpg</string>
				<key>name</key>
				<string>中国龙</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>自由舰</string>
				<key>id</key>
				<string>1346</string>
				<key>imageFile</key>
				<string>自由舰_id1346.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1346.jpg</string>
				<key>name</key>
				<string>自由舰</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帝豪GL</string>
				<key>id</key>
				<string>33770</string>
				<key>imageFile</key>
				<string>帝豪GL_id33770.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33770.jpg</string>
				<key>name</key>
				<string>帝豪GL</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>远景SUV</string>
				<key>id</key>
				<string>33771</string>
				<key>imageFile</key>
				<string>远景SUV_id33771.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33771.JPG</string>
				<key>name</key>
				<string>远景SUV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>美日</string>
				<key>id</key>
				<string>33772</string>
				<key>imageFile</key>
				<string>美日_id33772.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33772.jpg</string>
				<key>name</key>
				<string>美日</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>远景X1</string>
				<key>id</key>
				<string>40073</string>
				<key>imageFile</key>
				<string>远景X1_id40073.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40073.JPG</string>
				<key>name</key>
				<string>远景X1</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>远景X3</string>
				<key>id</key>
				<string>40074</string>
				<key>imageFile</key>
				<string>远景X3_id40074.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40074.jpg</string>
				<key>name</key>
				<string>远景X3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>远景S1</string>
				<key>id</key>
				<string>41216</string>
				<key>imageFile</key>
				<string>远景S1_id41216.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41216.gif</string>
				<key>name</key>
				<string>远景S1</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>博瑞GE</string>
				<key>id</key>
				<string>42154</string>
				<key>imageFile</key>
				<string>博瑞GE_id42154.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42154.jpg</string>
				<key>name</key>
				<string>博瑞GE</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>缤瑞</string>
				<key>id</key>
				<string>44719</string>
				<key>imageFile</key>
				<string>缤瑞_id44719.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44719.jpg</string>
				<key>name</key>
				<string>缤瑞</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>缤越</string>
				<key>id</key>
				<string>45420</string>
				<key>imageFile</key>
				<string>缤越_id45420.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>缤越</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>嘉际</string>
				<key>id</key>
				<string>45743</string>
				<key>imageFile</key>
				<string>嘉际_id45743.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>嘉际</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>吉利汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40075</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帝豪EV</string>
				<key>id</key>
				<string>1321</string>
				<key>imageFile</key>
				<string>帝豪EV_id1321.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1321.jpg</string>
				<key>name</key>
				<string>帝豪EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帝豪PHEV</string>
				<key>id</key>
				<string>41360</string>
				<key>imageFile</key>
				<string>帝豪PHEV_id41360.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41360.jpg</string>
				<key>name</key>
				<string>帝豪PHEV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>博瑞GE PHEV</string>
				<key>id</key>
				<string>42155</string>
				<key>imageFile</key>
				<string>博瑞GE PHEV_id42155.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42155.jpg</string>
				<key>name</key>
				<string>博瑞GE PHEV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帝豪GSe</string>
				<key>id</key>
				<string>44720</string>
				<key>imageFile</key>
				<string>帝豪GSe_id44720.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44720.jpg</string>
				<key>name</key>
				<string>帝豪GSe</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>吉利新能源</string>
	</dict>
</array>
</plist>
