<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1783</string>
		<key>initial</key>
		<string>M</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>名爵3</string>
				<key>id</key>
				<string>1784</string>
				<key>imageFile</key>
				<string>名爵3_id1784.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1784.jpg</string>
				<key>name</key>
				<string>名爵3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>名爵3SW</string>
				<key>id</key>
				<string>1785</string>
				<key>imageFile</key>
				<string>名爵3SW_id1785.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1785.jpg</string>
				<key>name</key>
				<string>名爵3SW</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>名爵5</string>
				<key>id</key>
				<string>1786</string>
				<key>imageFile</key>
				<string>名爵5_id1786.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1786.jpg</string>
				<key>name</key>
				<string>名爵5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>名爵6</string>
				<key>id</key>
				<string>1787</string>
				<key>imageFile</key>
				<string>名爵6_id1787.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1787.jpg</string>
				<key>name</key>
				<string>名爵6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>名爵7</string>
				<key>id</key>
				<string>1789</string>
				<key>imageFile</key>
				<string>名爵7_id1789.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1789.jpg</string>
				<key>name</key>
				<string>名爵7</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>名爵TF</string>
				<key>id</key>
				<string>1790</string>
				<key>imageFile</key>
				<string>名爵TF_id1790.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1790.jpg</string>
				<key>name</key>
				<string>名爵TF</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>名爵GS</string>
				<key>id</key>
				<string>1791</string>
				<key>imageFile</key>
				<string>名爵GS_id1791.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1791.jpg</string>
				<key>name</key>
				<string>名爵GS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>名爵GT</string>
				<key>id</key>
				<string>1792</string>
				<key>imageFile</key>
				<string>名爵GT_id1792.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1792.jpg</string>
				<key>name</key>
				<string>名爵GT</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>名爵ZS</string>
				<key>id</key>
				<string>33799</string>
				<key>imageFile</key>
				<string>名爵ZS_id33799.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33799.jpg</string>
				<key>name</key>
				<string>名爵ZS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>名爵HS</string>
				<key>id</key>
				<string>44726</string>
				<key>imageFile</key>
				<string>名爵HS_id44726.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44726.jpg</string>
				<key>name</key>
				<string>名爵HS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽名爵</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42181</string>
		<key>initial</key>
		<string>M</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>名爵6 插电混动</string>
				<key>id</key>
				<string>42182</string>
				<key>imageFile</key>
				<string>名爵6 插电混动_id42182.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42182.jpg</string>
				<key>name</key>
				<string>名爵6 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>名爵EZS</string>
				<key>id</key>
				<string>45761</string>
				<key>imageFile</key>
				<string>名爵EZS_id45761.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>名爵EZS</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽名爵新能源</string>
	</dict>
</array>
</plist>
