<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1966</string>
		<key>initial</key>
		<string>Q</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启辰D50</string>
				<key>id</key>
				<string>1968</string>
				<key>imageFile</key>
				<string>启辰D50_id1968.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1968.jpg</string>
				<key>name</key>
				<string>D50</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启辰R30</string>
				<key>id</key>
				<string>1969</string>
				<key>imageFile</key>
				<string>启辰R30_id1969.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1969.png</string>
				<key>name</key>
				<string>R30</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启辰R50</string>
				<key>id</key>
				<string>1970</string>
				<key>imageFile</key>
				<string>启辰R50_id1970.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1970.jpg</string>
				<key>name</key>
				<string>R50</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启辰R50X</string>
				<key>id</key>
				<string>1971</string>
				<key>imageFile</key>
				<string>启辰R50X_id1971.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1971.jpg</string>
				<key>name</key>
				<string>R50X</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启辰T70</string>
				<key>id</key>
				<string>1972</string>
				<key>imageFile</key>
				<string>启辰T70_id1972.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1972.jpg</string>
				<key>name</key>
				<string>T70</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启辰T70X</string>
				<key>id</key>
				<string>1973</string>
				<key>imageFile</key>
				<string>启辰T70X_id1973.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1973.jpg</string>
				<key>name</key>
				<string>T70X</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启辰T90</string>
				<key>id</key>
				<string>33809</string>
				<key>imageFile</key>
				<string>启辰T90_id33809.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33809.jpg</string>
				<key>name</key>
				<string>T90</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启辰M50V</string>
				<key>id</key>
				<string>40121</string>
				<key>imageFile</key>
				<string>启辰M50V_id40121.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40121.jpg</string>
				<key>name</key>
				<string>M50V</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启辰D60</string>
				<key>id</key>
				<string>40122</string>
				<key>imageFile</key>
				<string>启辰D60_id40122.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40122.jpg</string>
				<key>name</key>
				<string>D60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启辰T60</string>
				<key>id</key>
				<string>44728</string>
				<key>imageFile</key>
				<string>启辰T60_id44728.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>T60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风启辰</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40123</string>
		<key>initial</key>
		<string>Q</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启辰晨风</string>
				<key>id</key>
				<string>1967</string>
				<key>imageFile</key>
				<string>启辰晨风_id1967.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1967.jpg</string>
				<key>name</key>
				<string>晨风</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>启辰新能源</string>
	</dict>
</array>
</plist>
