<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1167</string>
		<key>initial</key>
		<string>H</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈弗H1</string>
				<key>id</key>
				<string>1168</string>
				<key>imageFile</key>
				<string>哈弗H1_id1168.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1168.png</string>
				<key>name</key>
				<string>H1</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈弗H2</string>
				<key>id</key>
				<string>1169</string>
				<key>imageFile</key>
				<string>哈弗H2_id1169.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1169.jpg</string>
				<key>name</key>
				<string>H2</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈弗H5</string>
				<key>id</key>
				<string>1170</string>
				<key>imageFile</key>
				<string>哈弗H5_id1170.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1170.jpg</string>
				<key>name</key>
				<string>H5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈弗H6</string>
				<key>id</key>
				<string>1171</string>
				<key>imageFile</key>
				<string>哈弗H6_id1171.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1171.jpg</string>
				<key>name</key>
				<string>H6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈弗H6 Coupe</string>
				<key>id</key>
				<string>1172</string>
				<key>imageFile</key>
				<string>哈弗H6 Coupe_id1172.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1172.jpg</string>
				<key>name</key>
				<string>H6 Coupe</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈弗H8</string>
				<key>id</key>
				<string>1173</string>
				<key>imageFile</key>
				<string>哈弗H8_id1173.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1173.jpg</string>
				<key>name</key>
				<string>H8</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈弗H9</string>
				<key>id</key>
				<string>1174</string>
				<key>imageFile</key>
				<string>哈弗H9_id1174.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1174.jpg</string>
				<key>name</key>
				<string>H9</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈弗H7</string>
				<key>id</key>
				<string>1176</string>
				<key>imageFile</key>
				<string>哈弗H7_id1176.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1176.jpg</string>
				<key>name</key>
				<string>H7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈弗H3</string>
				<key>id</key>
				<string>1177</string>
				<key>imageFile</key>
				<string>哈弗H3_id1177.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1177.jpg</string>
				<key>name</key>
				<string>H3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈弗H2s</string>
				<key>id</key>
				<string>33766</string>
				<key>imageFile</key>
				<string>哈弗H2s_id33766.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33766.jpg</string>
				<key>name</key>
				<string>H2s</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈弗M6</string>
				<key>id</key>
				<string>40063</string>
				<key>imageFile</key>
				<string>哈弗M6_id40063.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40063.JPG</string>
				<key>name</key>
				<string>M6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈弗H4</string>
				<key>id</key>
				<string>42153</string>
				<key>imageFile</key>
				<string>哈弗H4_id42153.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42153.jpg</string>
				<key>name</key>
				<string>H4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈弗F5</string>
				<key>id</key>
				<string>44295</string>
				<key>imageFile</key>
				<string>哈弗F5_id44295.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44295.jpg</string>
				<key>name</key>
				<string>F5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈弗F7</string>
				<key>id</key>
				<string>45418</string>
				<key>imageFile</key>
				<string>哈弗F7_id45418.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>F7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长城汽车</string>
	</dict>
</array>
</plist>
