<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1242</string>
		<key>initial</key>
		<string>H</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骏意</string>
				<key>id</key>
				<string>1243</string>
				<key>imageFile</key>
				<string>骏意_id1243.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1243.jpg</string>
				<key>name</key>
				<string>骏意</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>路宝</string>
				<key>id</key>
				<string>1244</string>
				<key>imageFile</key>
				<string>路宝_id1244.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1244.jpg</string>
				<key>name</key>
				<string>路宝</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>路尊小霸王</string>
				<key>id</key>
				<string>1245</string>
				<key>imageFile</key>
				<string>路尊小霸王_id1245.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1245.jpg</string>
				<key>name</key>
				<string>路尊小霸王</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛豹Ⅲ</string>
				<key>id</key>
				<string>1246</string>
				<key>imageFile</key>
				<string>赛豹Ⅲ_id1246.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1246.jpg</string>
				<key>name</key>
				<string>赛豹Ⅲ</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛马</string>
				<key>id</key>
				<string>1247</string>
				<key>imageFile</key>
				<string>赛马_id1247.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1247.jpg</string>
				<key>name</key>
				<string>赛马</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>中意</string>
				<key>id</key>
				<string>1249</string>
				<key>imageFile</key>
				<string>中意_id1249.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1249.jpg</string>
				<key>name</key>
				<string>中意</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>百利</string>
				<key>id</key>
				<string>1250</string>
				<key>imageFile</key>
				<string>百利_id1250.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1250.jpg</string>
				<key>name</key>
				<string>百利</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哈飞单双排</string>
				<key>id</key>
				<string>1251</string>
				<key>imageFile</key>
				<string>哈飞单双排_id1251.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1251.jpg</string>
				<key>name</key>
				<string>单双排</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>路尊大霸王</string>
				<key>id</key>
				<string>1252</string>
				<key>imageFile</key>
				<string>路尊大霸王_id1252.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1252.jpg</string>
				<key>name</key>
				<string>路尊大霸王</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>民意</string>
				<key>id</key>
				<string>1253</string>
				<key>imageFile</key>
				<string>民意_id1253.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1253.jpg</string>
				<key>name</key>
				<string>民意</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>普面</string>
				<key>id</key>
				<string>1257</string>
				<key>imageFile</key>
				<string>普面_id1257.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1257.jpg</string>
				<key>name</key>
				<string>普面</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>锐意</string>
				<key>id</key>
				<string>1258</string>
				<key>imageFile</key>
				<string>锐意_id1258.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1258.jpg</string>
				<key>name</key>
				<string>锐意</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛豹V系</string>
				<key>id</key>
				<string>1259</string>
				<key>imageFile</key>
				<string>赛豹V系_id1259.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1259.jpg</string>
				<key>name</key>
				<string>赛豹V系</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>松花江</string>
				<key>id</key>
				<string>1260</string>
				<key>imageFile</key>
				<string>松花江_id1260.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1260.jpg</string>
				<key>name</key>
				<string>松花江</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>哈飞汽车</string>
	</dict>
</array>
</plist>
