<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>718</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凌渡</string>
				<key>id</key>
				<string>720</string>
				<key>imageFile</key>
				<string>凌渡_id720.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/720.jpg</string>
				<key>name</key>
				<string>凌渡</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>朗境</string>
				<key>id</key>
				<string>721</string>
				<key>imageFile</key>
				<string>朗境_id721.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/721.png</string>
				<key>name</key>
				<string>朗境</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>朗行</string>
				<key>id</key>
				<string>722</string>
				<key>imageFile</key>
				<string>朗行_id722.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/722.jpg</string>
				<key>name</key>
				<string>朗行</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>朗逸</string>
				<key>id</key>
				<string>723</string>
				<key>imageFile</key>
				<string>朗逸_id723.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/723.jpg</string>
				<key>name</key>
				<string>朗逸</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>POLO</string>
				<key>id</key>
				<string>724</string>
				<key>imageFile</key>
				<string>POLO_id724.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/724.jpg</string>
				<key>name</key>
				<string>POLO</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帕萨特</string>
				<key>id</key>
				<string>726</string>
				<key>imageFile</key>
				<string>帕萨特_id726.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/726.jpg</string>
				<key>name</key>
				<string>帕萨特</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途安</string>
				<key>id</key>
				<string>728</string>
				<key>imageFile</key>
				<string>途安_id728.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/728.jpg</string>
				<key>name</key>
				<string>途安</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途安L</string>
				<key>id</key>
				<string>729</string>
				<key>imageFile</key>
				<string>途安L_id729.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/729.jpg</string>
				<key>name</key>
				<string>途安L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途观</string>
				<key>id</key>
				<string>730</string>
				<key>imageFile</key>
				<string>途观_id730.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/730.jpg</string>
				<key>name</key>
				<string>途观</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>桑塔纳</string>
				<key>id</key>
				<string>731</string>
				<key>imageFile</key>
				<string>桑塔纳_id731.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/731.png</string>
				<key>name</key>
				<string>桑塔纳</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>高尔</string>
				<key>id</key>
				<string>732</string>
				<key>imageFile</key>
				<string>高尔_id732.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/732.jpg</string>
				<key>name</key>
				<string>高尔</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>辉昂</string>
				<key>id</key>
				<string>33736</string>
				<key>imageFile</key>
				<string>辉昂_id33736.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33736.jpg</string>
				<key>name</key>
				<string>辉昂</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途观L</string>
				<key>id</key>
				<string>33738</string>
				<key>imageFile</key>
				<string>途观L_id33738.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33738.jpg</string>
				<key>name</key>
				<string>途观L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途昂</string>
				<key>id</key>
				<string>33739</string>
				<key>imageFile</key>
				<string>途昂_id33739.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33739.jpg</string>
				<key>name</key>
				<string>途昂</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途岳</string>
				<key>id</key>
				<string>44714</string>
				<key>imageFile</key>
				<string>途岳_id44714.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>途岳</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>T-Cross</string>
				<key>id</key>
				<string>45712</string>
				<key>imageFile</key>
				<string>T-Cross_id45712.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>T-Cross</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽大众</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>739</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝来</string>
				<key>id</key>
				<string>740</string>
				<key>imageFile</key>
				<string>宝来_id740.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/740.jpg</string>
				<key>name</key>
				<string>宝来</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大众CC</string>
				<key>id</key>
				<string>741</string>
				<key>imageFile</key>
				<string>大众CC_id741.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/741.jpg</string>
				<key>name</key>
				<string>CC</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>高尔夫</string>
				<key>id</key>
				<string>742</string>
				<key>imageFile</key>
				<string>高尔夫_id742.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/742.jpg</string>
				<key>name</key>
				<string>高尔夫</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>捷达</string>
				<key>id</key>
				<string>744</string>
				<key>imageFile</key>
				<string>捷达_id744.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/744.jpg</string>
				<key>name</key>
				<string>捷达</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈腾</string>
				<key>id</key>
				<string>745</string>
				<key>imageFile</key>
				<string>迈腾_id745.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/745.jpg</string>
				<key>name</key>
				<string>迈腾</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>速腾</string>
				<key>id</key>
				<string>746</string>
				<key>imageFile</key>
				<string>速腾_id746.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/746.jpg</string>
				<key>name</key>
				<string>速腾</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>高尔夫·嘉旅</string>
				<key>id</key>
				<string>747</string>
				<key>imageFile</key>
				<string>高尔夫·嘉旅_id747.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/747.jpg</string>
				<key>name</key>
				<string>高尔夫·嘉旅</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开迪</string>
				<key>id</key>
				<string>749</string>
				<key>imageFile</key>
				<string>开迪_id749.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/749.jpg</string>
				<key>name</key>
				<string>开迪</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>蔚领</string>
				<key>id</key>
				<string>33740</string>
				<key>imageFile</key>
				<string>蔚领_id33740.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33740.jpg</string>
				<key>name</key>
				<string>蔚领</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>探歌</string>
				<key>id</key>
				<string>42130</string>
				<key>imageFile</key>
				<string>探歌_id42130.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42130.jpg</string>
				<key>name</key>
				<string>探歌</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>探岳</string>
				<key>id</key>
				<string>44715</string>
				<key>imageFile</key>
				<string>探岳_id44715.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>探岳</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽-大众</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>750</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>Amarok</string>
				<key>id</key>
				<string>751</string>
				<key>imageFile</key>
				<string>Amarok_id751.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/751.jpg</string>
				<key>name</key>
				<string>Amarok</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>Eos</string>
				<key>id</key>
				<string>753</string>
				<key>imageFile</key>
				<string>Eos_id753.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/753.jpg</string>
				<key>name</key>
				<string>Eos</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>高尔夫(进口)</string>
				<key>id</key>
				<string>756</string>
				<key>imageFile</key>
				<string>高尔夫(进口)_id756.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/756.jpg</string>
				<key>name</key>
				<string>高尔夫</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>辉腾</string>
				<key>id</key>
				<string>759</string>
				<key>imageFile</key>
				<string>辉腾_id759.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/759.jpg</string>
				<key>name</key>
				<string>辉腾</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>甲壳虫</string>
				<key>id</key>
				<string>760</string>
				<key>imageFile</key>
				<string>甲壳虫_id760.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/760.jpg</string>
				<key>name</key>
				<string>甲壳虫</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯路威</string>
				<key>id</key>
				<string>761</string>
				<key>imageFile</key>
				<string>凯路威_id761.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/761.jpg</string>
				<key>name</key>
				<string>凯路威</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈腾(进口)</string>
				<key>id</key>
				<string>762</string>
				<key>imageFile</key>
				<string>迈腾(进口)_id762.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/762.jpg</string>
				<key>name</key>
				<string>迈腾</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈特威</string>
				<key>id</key>
				<string>763</string>
				<key>imageFile</key>
				<string>迈特威_id763.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/763.jpg</string>
				<key>name</key>
				<string>迈特威</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>尚酷</string>
				<key>id</key>
				<string>764</string>
				<key>imageFile</key>
				<string>尚酷_id764.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/764.jpg</string>
				<key>name</key>
				<string>尚酷</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>Tiguan</string>
				<key>id</key>
				<string>766</string>
				<key>imageFile</key>
				<string>Tiguan_id766.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/766.jpg</string>
				<key>name</key>
				<string>Tiguan</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途锐</string>
				<key>id</key>
				<string>767</string>
				<key>imageFile</key>
				<string>途锐_id767.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/767.jpg</string>
				<key>name</key>
				<string>途锐</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大众UP!</string>
				<key>id</key>
				<string>768</string>
				<key>imageFile</key>
				<string>大众UP!_id768.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/768.jpg</string>
				<key>name</key>
				<string>UP!</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>蔚揽</string>
				<key>id</key>
				<string>769</string>
				<key>imageFile</key>
				<string>蔚揽_id769.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/769.jpg</string>
				<key>name</key>
				<string>蔚揽</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>夏朗</string>
				<key>id</key>
				<string>770</string>
				<key>imageFile</key>
				<string>夏朗_id770.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/770.jpg</string>
				<key>name</key>
				<string>夏朗</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大众CC(进口)</string>
				<key>id</key>
				<string>775</string>
				<key>imageFile</key>
				<string>大众CC(进口)_id775.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/775.jpg</string>
				<key>name</key>
				<string>CC</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口大众</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42131</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>高尔夫 纯电动</string>
				<key>id</key>
				<string>42132</string>
				<key>imageFile</key>
				<string>高尔夫 纯电动_id42132.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42132.jpg</string>
				<key>name</key>
				<string>高尔夫 纯电动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>高尔夫 插电混动</string>
				<key>id</key>
				<string>42133</string>
				<key>imageFile</key>
				<string>高尔夫 插电混动_id42133.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42133.jpg</string>
				<key>name</key>
				<string>高尔夫 插电混动</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>蔚揽 插电混动</string>
				<key>id</key>
				<string>45717</string>
				<key>imageFile</key>
				<string>蔚揽 插电混动_id45717.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>蔚揽 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途锐 插电混动</string>
				<key>id</key>
				<string>45718</string>
				<key>imageFile</key>
				<string>途锐 插电混动_id45718.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>途锐 插电混动</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口大众新能源</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45413</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帕萨特 PHEV</string>
				<key>id</key>
				<string>45414</string>
				<key>imageFile</key>
				<string>帕萨特 PHEV_id45414.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>帕萨特 PHEV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途观L PHEV</string>
				<key>id</key>
				<string>45713</string>
				<key>imageFile</key>
				<string>途观L PHEV_id45713.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>途观L PHEV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽大众新能源</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45714</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈腾 插电混动</string>
				<key>id</key>
				<string>45715</string>
				<key>imageFile</key>
				<string>迈腾 插电混动_id45715.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>迈腾 插电混动</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>探岳 插电混动</string>
				<key>id</key>
				<string>45716</string>
				<key>imageFile</key>
				<string>探岳 插电混动_id45716.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>探岳 插电混动</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽大众新能源</string>
	</dict>
</array>
</plist>
