<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1933</string>
		<key>initial</key>
		<string>Q</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇瑞A3</string>
				<key>id</key>
				<string>1934</string>
				<key>imageFile</key>
				<string>奇瑞A3_id1934.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1934.jpg</string>
				<key>name</key>
				<string>A3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>艾瑞泽3</string>
				<key>id</key>
				<string>1936</string>
				<key>imageFile</key>
				<string>艾瑞泽3_id1936.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1936.jpg</string>
				<key>name</key>
				<string>艾瑞泽3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>艾瑞泽5</string>
				<key>id</key>
				<string>1937</string>
				<key>imageFile</key>
				<string>艾瑞泽5_id1937.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1937.JPG</string>
				<key>name</key>
				<string>艾瑞泽5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>艾瑞泽7</string>
				<key>id</key>
				<string>1938</string>
				<key>imageFile</key>
				<string>艾瑞泽7_id1938.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1938.jpg</string>
				<key>name</key>
				<string>艾瑞泽7</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>艾瑞泽M7</string>
				<key>id</key>
				<string>1939</string>
				<key>imageFile</key>
				<string>艾瑞泽M7_id1939.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1939.jpg</string>
				<key>name</key>
				<string>艾瑞泽M7</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风云2</string>
				<key>id</key>
				<string>1940</string>
				<key>imageFile</key>
				<string>风云2_id1940.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1940.jpg</string>
				<key>name</key>
				<string>风云2</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇瑞QQ</string>
				<key>id</key>
				<string>1942</string>
				<key>imageFile</key>
				<string>奇瑞QQ_id1942.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1942.jpg</string>
				<key>name</key>
				<string>QQ</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇瑞QQ3</string>
				<key>id</key>
				<string>1943</string>
				<key>imageFile</key>
				<string>奇瑞QQ3_id1943.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1943.jpg</string>
				<key>name</key>
				<string>QQ3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇瑞E3</string>
				<key>id</key>
				<string>1944</string>
				<key>imageFile</key>
				<string>奇瑞E3_id1944.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1944.jpg</string>
				<key>name</key>
				<string>E3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇瑞E5</string>
				<key>id</key>
				<string>1945</string>
				<key>imageFile</key>
				<string>奇瑞E5_id1945.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1945.jpg</string>
				<key>name</key>
				<string>E5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇瑞X1</string>
				<key>id</key>
				<string>1947</string>
				<key>imageFile</key>
				<string>奇瑞X1_id1947.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1947.jpg</string>
				<key>name</key>
				<string>X1</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>旗云2</string>
				<key>id</key>
				<string>1948</string>
				<key>imageFile</key>
				<string>旗云2_id1948.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1948.jpg</string>
				<key>name</key>
				<string>旗云2</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>旗云5</string>
				<key>id</key>
				<string>1949</string>
				<key>imageFile</key>
				<string>旗云5_id1949.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1949.jpg</string>
				<key>name</key>
				<string>旗云5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞虎3</string>
				<key>id</key>
				<string>1950</string>
				<key>imageFile</key>
				<string>瑞虎3_id1950.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1950.png</string>
				<key>name</key>
				<string>瑞虎3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞虎5</string>
				<key>id</key>
				<string>1951</string>
				<key>imageFile</key>
				<string>瑞虎5_id1951.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1951.jpg</string>
				<key>name</key>
				<string>瑞虎5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞虎7</string>
				<key>id</key>
				<string>1953</string>
				<key>imageFile</key>
				<string>瑞虎7_id1953.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1953.JPG</string>
				<key>name</key>
				<string>瑞虎7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇瑞A1</string>
				<key>id</key>
				<string>1954</string>
				<key>imageFile</key>
				<string>奇瑞A1_id1954.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1954.jpg</string>
				<key>name</key>
				<string>A1</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>东方之子</string>
				<key>id</key>
				<string>1955</string>
				<key>imageFile</key>
				<string>东方之子_id1955.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1955.jpg</string>
				<key>name</key>
				<string>东方之子</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风云</string>
				<key>id</key>
				<string>1957</string>
				<key>imageFile</key>
				<string>风云_id1957.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1957.jpg</string>
				<key>name</key>
				<string>风云</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇瑞QQ6</string>
				<key>id</key>
				<string>1958</string>
				<key>imageFile</key>
				<string>奇瑞QQ6_id1958.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1958.jpg</string>
				<key>name</key>
				<string>QQ6</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇瑞QQme</string>
				<key>id</key>
				<string>1960</string>
				<key>imageFile</key>
				<string>奇瑞QQme_id1960.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1960.jpg</string>
				<key>name</key>
				<string>QQme</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇瑞A5</string>
				<key>id</key>
				<string>1961</string>
				<key>imageFile</key>
				<string>奇瑞A5_id1961.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1961.jpg</string>
				<key>name</key>
				<string>A5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>旗云</string>
				<key>id</key>
				<string>1962</string>
				<key>imageFile</key>
				<string>旗云_id1962.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1962.jpg</string>
				<key>name</key>
				<string>旗云</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>旗云1</string>
				<key>id</key>
				<string>1963</string>
				<key>imageFile</key>
				<string>旗云1_id1963.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1963.jpg</string>
				<key>name</key>
				<string>旗云1</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>旗云3</string>
				<key>id</key>
				<string>1964</string>
				<key>imageFile</key>
				<string>旗云3_id1964.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1964.jpg</string>
				<key>name</key>
				<string>旗云3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞虎</string>
				<key>id</key>
				<string>1965</string>
				<key>imageFile</key>
				<string>瑞虎_id1965.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1965.jpg</string>
				<key>name</key>
				<string>瑞虎</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞虎3x</string>
				<key>id</key>
				<string>33806</string>
				<key>imageFile</key>
				<string>瑞虎3x_id33806.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33806.jpg</string>
				<key>name</key>
				<string>瑞虎3x</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞虎5x</string>
				<key>id</key>
				<string>40116</string>
				<key>imageFile</key>
				<string>瑞虎5x_id40116.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40116.gif</string>
				<key>name</key>
				<string>瑞虎5x</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞虎8</string>
				<key>id</key>
				<string>42185</string>
				<key>imageFile</key>
				<string>瑞虎8_id42185.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42185.jpg</string>
				<key>name</key>
				<string>瑞虎8</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>艾瑞泽GX</string>
				<key>id</key>
				<string>44267</string>
				<key>imageFile</key>
				<string>艾瑞泽GX_id44267.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44267.jpg</string>
				<key>name</key>
				<string>艾瑞泽GX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>艾瑞泽EX</string>
				<key>id</key>
				<string>45766</string>
				<key>imageFile</key>
				<string>艾瑞泽EX_id45766.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>艾瑞泽EX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>奇瑞汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40117</string>
		<key>initial</key>
		<string>Q</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇瑞eQ</string>
				<key>id</key>
				<string>1946</string>
				<key>imageFile</key>
				<string>奇瑞eQ_id1946.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1946.png</string>
				<key>name</key>
				<string>eQ</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>艾瑞泽7e</string>
				<key>id</key>
				<string>33805</string>
				<key>imageFile</key>
				<string>艾瑞泽7e_id33805.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33805.jpg</string>
				<key>name</key>
				<string>艾瑞泽7e</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>艾瑞泽5e</string>
				<key>id</key>
				<string>40118</string>
				<key>imageFile</key>
				<string>艾瑞泽5e_id40118.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40118.jpg</string>
				<key>name</key>
				<string>艾瑞泽5e</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇瑞eQ1</string>
				<key>id</key>
				<string>40119</string>
				<key>imageFile</key>
				<string>奇瑞eQ1_id40119.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40119.jpg</string>
				<key>name</key>
				<string>eQ1</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇瑞QQ3EV</string>
				<key>id</key>
				<string>40120</string>
				<key>imageFile</key>
				<string>奇瑞QQ3EV_id40120.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40120.jpg</string>
				<key>name</key>
				<string>QQ3EV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞虎3xe</string>
				<key>id</key>
				<string>42186</string>
				<key>imageFile</key>
				<string>瑞虎3xe_id42186.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42186.jpg</string>
				<key>name</key>
				<string>瑞虎3xe</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>奇瑞新能源</string>
	</dict>
</array>
</plist>
