<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>544</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔腾B30</string>
				<key>id</key>
				<string>545</string>
				<key>imageFile</key>
				<string>奔腾B30_id545.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/545.jpg</string>
				<key>name</key>
				<string>B30</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔腾B50</string>
				<key>id</key>
				<string>546</string>
				<key>imageFile</key>
				<string>奔腾B50_id546.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/546.jpg</string>
				<key>name</key>
				<string>B50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔腾B70</string>
				<key>id</key>
				<string>547</string>
				<key>imageFile</key>
				<string>奔腾B70_id547.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/547.jpg</string>
				<key>name</key>
				<string>B70</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔腾B90</string>
				<key>id</key>
				<string>548</string>
				<key>imageFile</key>
				<string>奔腾B90_id548.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/548.jpg</string>
				<key>name</key>
				<string>B90</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔腾X80</string>
				<key>id</key>
				<string>549</string>
				<key>imageFile</key>
				<string>奔腾X80_id549.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/549.jpg</string>
				<key>name</key>
				<string>X80</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔腾X40</string>
				<key>id</key>
				<string>33720</string>
				<key>imageFile</key>
				<string>奔腾X40_id33720.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33720.jpg</string>
				<key>name</key>
				<string>X40</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔腾T77</string>
				<key>id</key>
				<string>45408</string>
				<key>imageFile</key>
				<string>奔腾T77_id45408.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>T77</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽奔腾</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42123</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔腾B30 EV</string>
				<key>id</key>
				<string>42124</string>
				<key>imageFile</key>
				<string>奔腾B30 EV_id42124.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>B30 EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔腾X40 EV</string>
				<key>id</key>
				<string>45699</string>
				<key>imageFile</key>
				<string>奔腾X40 EV_id45699.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>X40 EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽奔腾新能源</string>
	</dict>
</array>
</plist>
