<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>341</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰C级</string>
				<key>id</key>
				<string>342</string>
				<key>imageFile</key>
				<string>奔驰C级_id342.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/342.jpg</string>
				<key>name</key>
				<string>C级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰E级</string>
				<key>id</key>
				<string>343</string>
				<key>imageFile</key>
				<string>奔驰E级_id343.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/343.jpg</string>
				<key>name</key>
				<string>E级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰GLA级</string>
				<key>id</key>
				<string>344</string>
				<key>imageFile</key>
				<string>奔驰GLA级_id344.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/344.jpg</string>
				<key>name</key>
				<string>GLA级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰GLC级</string>
				<key>id</key>
				<string>345</string>
				<key>imageFile</key>
				<string>奔驰GLC级_id345.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/345.jpg</string>
				<key>name</key>
				<string>GLC级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰GLK级</string>
				<key>id</key>
				<string>346</string>
				<key>imageFile</key>
				<string>奔驰GLK级_id346.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/346.jpg</string>
				<key>name</key>
				<string>GLK级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰A级</string>
				<key>id</key>
				<string>44283</string>
				<key>imageFile</key>
				<string>奔驰A级_id44283.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44283.jpg</string>
				<key>name</key>
				<string>A级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>北京奔驰</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>347</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威霆</string>
				<key>id</key>
				<string>348</string>
				<key>imageFile</key>
				<string>威霆_id348.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/348.jpg</string>
				<key>name</key>
				<string>威霆</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凌特</string>
				<key>id</key>
				<string>349</string>
				<key>imageFile</key>
				<string>凌特_id349.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/349.jpg</string>
				<key>name</key>
				<string>凌特</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰V级</string>
				<key>id</key>
				<string>350</string>
				<key>imageFile</key>
				<string>奔驰V级_id350.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/350.jpg</string>
				<key>name</key>
				<string>V级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>唯雅诺</string>
				<key>id</key>
				<string>351</string>
				<key>imageFile</key>
				<string>唯雅诺_id351.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/351.jpg</string>
				<key>name</key>
				<string>唯雅诺</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>福建奔驰</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>352</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰A级(进口)</string>
				<key>id</key>
				<string>353</string>
				<key>imageFile</key>
				<string>奔驰A级(进口)_id353.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/353.jpg</string>
				<key>name</key>
				<string>A级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰B级</string>
				<key>id</key>
				<string>354</string>
				<key>imageFile</key>
				<string>奔驰B级_id354.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/354.jpg</string>
				<key>name</key>
				<string>B级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰C级(进口)</string>
				<key>id</key>
				<string>355</string>
				<key>imageFile</key>
				<string>奔驰C级(进口)_id355.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/355.jpg</string>
				<key>name</key>
				<string>C级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰CLA级</string>
				<key>id</key>
				<string>357</string>
				<key>imageFile</key>
				<string>奔驰CLA级_id357.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/357.jpg</string>
				<key>name</key>
				<string>CLA级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰CLS级</string>
				<key>id</key>
				<string>358</string>
				<key>imageFile</key>
				<string>奔驰CLS级_id358.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/358.jpg</string>
				<key>name</key>
				<string>CLS级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰E级(进口)</string>
				<key>id</key>
				<string>359</string>
				<key>imageFile</key>
				<string>奔驰E级(进口)_id359.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/359.JPG</string>
				<key>name</key>
				<string>E级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰G级</string>
				<key>id</key>
				<string>361</string>
				<key>imageFile</key>
				<string>奔驰G级_id361.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/361.jpg</string>
				<key>name</key>
				<string>G级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰GLA级(进口)</string>
				<key>id</key>
				<string>362</string>
				<key>imageFile</key>
				<string>奔驰GLA级(进口)_id362.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/362.JPG</string>
				<key>name</key>
				<string>GLA级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰GLE级</string>
				<key>id</key>
				<string>363</string>
				<key>imageFile</key>
				<string>奔驰GLE级_id363.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/363.jpg</string>
				<key>name</key>
				<string>GLE级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰GL级</string>
				<key>id</key>
				<string>365</string>
				<key>imageFile</key>
				<string>奔驰GL级_id365.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/365.jpg</string>
				<key>name</key>
				<string>GL级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰GLK级(进口)</string>
				<key>id</key>
				<string>366</string>
				<key>imageFile</key>
				<string>奔驰GLK级(进口)_id366.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/366.jpg</string>
				<key>name</key>
				<string>GLK级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰GLS级</string>
				<key>id</key>
				<string>367</string>
				<key>imageFile</key>
				<string>奔驰GLS级_id367.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/367.jpg</string>
				<key>name</key>
				<string>GLS级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰ML级</string>
				<key>id</key>
				<string>368</string>
				<key>imageFile</key>
				<string>奔驰ML级_id368.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/368.jpg</string>
				<key>name</key>
				<string>ML级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰R级</string>
				<key>id</key>
				<string>369</string>
				<key>imageFile</key>
				<string>奔驰R级_id369.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/369.jpg</string>
				<key>name</key>
				<string>R级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凌特(进口)</string>
				<key>id</key>
				<string>370</string>
				<key>imageFile</key>
				<string>凌特(进口)_id370.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/370.JPG</string>
				<key>name</key>
				<string>凌特</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰S级</string>
				<key>id</key>
				<string>371</string>
				<key>imageFile</key>
				<string>奔驰S级_id371.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/371.jpg</string>
				<key>name</key>
				<string>S级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰SL级</string>
				<key>id</key>
				<string>372</string>
				<key>imageFile</key>
				<string>奔驰SL级_id372.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/372.jpg</string>
				<key>name</key>
				<string>SL级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰SLK级</string>
				<key>id</key>
				<string>373</string>
				<key>imageFile</key>
				<string>奔驰SLK级_id373.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/373.jpg</string>
				<key>name</key>
				<string>SLK级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威霆(进口)</string>
				<key>id</key>
				<string>374</string>
				<key>imageFile</key>
				<string>威霆(进口)_id374.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/374.jpg</string>
				<key>name</key>
				<string>威霆</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>唯雅诺(进口)</string>
				<key>id</key>
				<string>375</string>
				<key>imageFile</key>
				<string>唯雅诺(进口)_id375.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/375.jpg</string>
				<key>name</key>
				<string>唯雅诺</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰GLC级(进口)</string>
				<key>id</key>
				<string>376</string>
				<key>imageFile</key>
				<string>奔驰GLC级(进口)_id376.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/376.jpg</string>
				<key>name</key>
				<string>GLC级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰CL级</string>
				<key>id</key>
				<string>377</string>
				<key>imageFile</key>
				<string>奔驰CL级_id377.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/377.jpg</string>
				<key>name</key>
				<string>CL级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰CLK级</string>
				<key>id</key>
				<string>380</string>
				<key>imageFile</key>
				<string>奔驰CLK级_id380.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/380.jpg</string>
				<key>name</key>
				<string>CLK级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马可波罗</string>
				<key>id</key>
				<string>381</string>
				<key>imageFile</key>
				<string>马可波罗_id381.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/381.jpg</string>
				<key>name</key>
				<string>马可波罗</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰SLR级</string>
				<key>id</key>
				<string>382</string>
				<key>imageFile</key>
				<string>奔驰SLR级_id382.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/382.gif</string>
				<key>name</key>
				<string>SLR级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰SLC级</string>
				<key>id</key>
				<string>33707</string>
				<key>imageFile</key>
				<string>奔驰SLC级_id33707.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33707.JPG</string>
				<key>name</key>
				<string>SLC级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰X级</string>
				<key>id</key>
				<string>40012</string>
				<key>imageFile</key>
				<string>奔驰X级_id40012.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40012.jpg</string>
				<key>name</key>
				<string>X级</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰GLB级</string>
				<key>id</key>
				<string>45689</string>
				<key>imageFile</key>
				<string>奔驰GLB级_id45689.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>GLB级</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口奔驰</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>383</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG A级</string>
				<key>id</key>
				<string>384</string>
				<key>imageFile</key>
				<string>AMG A级_id384.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/384.jpg</string>
				<key>name</key>
				<string>AMG A级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG GT</string>
				<key>id</key>
				<string>385</string>
				<key>imageFile</key>
				<string>AMG GT_id385.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/385.jpg</string>
				<key>name</key>
				<string>AMG GT</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG C级</string>
				<key>id</key>
				<string>386</string>
				<key>imageFile</key>
				<string>AMG C级_id386.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/386.jpg</string>
				<key>name</key>
				<string>AMG C级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG CLA级</string>
				<key>id</key>
				<string>387</string>
				<key>imageFile</key>
				<string>AMG CLA级_id387.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/387.jpg</string>
				<key>name</key>
				<string>AMG CLA级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG CLS级</string>
				<key>id</key>
				<string>388</string>
				<key>imageFile</key>
				<string>AMG CLS级_id388.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/388.jpg</string>
				<key>name</key>
				<string>AMG CLS级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG G级</string>
				<key>id</key>
				<string>389</string>
				<key>imageFile</key>
				<string>AMG G级_id389.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/389.jpg</string>
				<key>name</key>
				<string>AMG G级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG GLA级</string>
				<key>id</key>
				<string>390</string>
				<key>imageFile</key>
				<string>AMG GLA级_id390.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/390.jpg</string>
				<key>name</key>
				<string>AMG GLA级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG GLE级</string>
				<key>id</key>
				<string>391</string>
				<key>imageFile</key>
				<string>AMG GLE级_id391.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/391.jpg</string>
				<key>name</key>
				<string>AMG GLE级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG GL级</string>
				<key>id</key>
				<string>393</string>
				<key>imageFile</key>
				<string>AMG GL级_id393.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/393.JPG</string>
				<key>name</key>
				<string>AMG GL级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG GLS级</string>
				<key>id</key>
				<string>394</string>
				<key>imageFile</key>
				<string>AMG GLS级_id394.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/394.jpg</string>
				<key>name</key>
				<string>AMG GLS级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG ML级</string>
				<key>id</key>
				<string>395</string>
				<key>imageFile</key>
				<string>AMG ML级_id395.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/395.JPG</string>
				<key>name</key>
				<string>AMG ML级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG S级</string>
				<key>id</key>
				<string>396</string>
				<key>imageFile</key>
				<string>AMG S级_id396.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/396.jpg</string>
				<key>name</key>
				<string>AMG S级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG SL级</string>
				<key>id</key>
				<string>397</string>
				<key>imageFile</key>
				<string>AMG SL级_id397.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/397.jpg</string>
				<key>name</key>
				<string>AMG SL级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG SLK级</string>
				<key>id</key>
				<string>398</string>
				<key>imageFile</key>
				<string>AMG SLK级_id398.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/398.JPG</string>
				<key>name</key>
				<string>AMG SLK级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>SLS AMG</string>
				<key>id</key>
				<string>399</string>
				<key>imageFile</key>
				<string>SLS AMG_id399.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/399.jpg</string>
				<key>name</key>
				<string>SLS AMG</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG GLC级</string>
				<key>id</key>
				<string>400</string>
				<key>imageFile</key>
				<string>AMG GLC级_id400.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/400.jpg</string>
				<key>name</key>
				<string>AMG GLC级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>AMG E级</string>
				<key>id</key>
				<string>401</string>
				<key>imageFile</key>
				<string>AMG E级_id401.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/401.jpg</string>
				<key>name</key>
				<string>AMG E级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口梅赛德斯-AMG</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>402</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈巴赫S级</string>
				<key>id</key>
				<string>403</string>
				<key>imageFile</key>
				<string>迈巴赫S级_id403.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/403.jpg</string>
				<key>name</key>
				<string>迈巴赫S级</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口梅赛德斯-迈巴赫</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40013</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>S级 插电混动</string>
				<key>id</key>
				<string>40014</string>
				<key>imageFile</key>
				<string>S级 插电混动_id40014.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40014.gif</string>
				<key>name</key>
				<string>S级 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>GLE级 插电混动</string>
				<key>id</key>
				<string>42115</string>
				<key>imageFile</key>
				<string>GLE级 插电混动_id42115.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>GLE级 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰EQC</string>
				<key>id</key>
				<string>45690</string>
				<key>imageFile</key>
				<string>奔驰EQC_id45690.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>EQC</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口奔驰新能源</string>
	</dict>
</array>
</plist>
