<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>219</string>
		<key>initial</key>
		<string>A</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪A3</string>
				<key>id</key>
				<string>220</string>
				<key>imageFile</key>
				<string>奥迪A3_id220.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/220.jpg</string>
				<key>name</key>
				<string>A3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪A4L</string>
				<key>id</key>
				<string>221</string>
				<key>imageFile</key>
				<string>奥迪A4L_id221.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/221.jpg</string>
				<key>name</key>
				<string>A4L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪A6L</string>
				<key>id</key>
				<string>222</string>
				<key>imageFile</key>
				<string>奥迪A6L_id222.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/222.jpg</string>
				<key>name</key>
				<string>A6L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪Q3</string>
				<key>id</key>
				<string>223</string>
				<key>imageFile</key>
				<string>奥迪Q3_id223.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/223.jpg</string>
				<key>name</key>
				<string>Q3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪Q5</string>
				<key>id</key>
				<string>224</string>
				<key>imageFile</key>
				<string>奥迪Q5_id224.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/224.jpg</string>
				<key>name</key>
				<string>Q5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪A4</string>
				<key>id</key>
				<string>225</string>
				<key>imageFile</key>
				<string>奥迪A4_id225.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/225.jpg</string>
				<key>name</key>
				<string>A4</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪100</string>
				<key>id</key>
				<string>226</string>
				<key>imageFile</key>
				<string>奥迪100_id226.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/226.jpg</string>
				<key>name</key>
				<string>100</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪200</string>
				<key>id</key>
				<string>227</string>
				<key>imageFile</key>
				<string>奥迪200_id227.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/227.jpg</string>
				<key>name</key>
				<string>200</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪Q2L</string>
				<key>id</key>
				<string>251</string>
				<key>imageFile</key>
				<string>奥迪Q2L_id251.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/251.JPG</string>
				<key>name</key>
				<string>Q2L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪Q5L</string>
				<key>id</key>
				<string>44589</string>
				<key>imageFile</key>
				<string>奥迪Q5L_id44589.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44589.jpg</string>
				<key>name</key>
				<string>Q5L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽奥迪</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>228</string>
		<key>initial</key>
		<string>A</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪A1</string>
				<key>id</key>
				<string>229</string>
				<key>imageFile</key>
				<string>奥迪A1_id229.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/229.jpg</string>
				<key>name</key>
				<string>A1</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪A3(进口)</string>
				<key>id</key>
				<string>230</string>
				<key>imageFile</key>
				<string>奥迪A3(进口)_id230.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/230.jpg</string>
				<key>name</key>
				<string>A3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪A4</string>
				<key>id</key>
				<string>232</string>
				<key>imageFile</key>
				<string>奥迪A4_id232.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/232.jpg</string>
				<key>name</key>
				<string>A4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪A5</string>
				<key>id</key>
				<string>234</string>
				<key>imageFile</key>
				<string>奥迪A5_id234.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/234.jpg</string>
				<key>name</key>
				<string>A5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪A6</string>
				<key>id</key>
				<string>235</string>
				<key>imageFile</key>
				<string>奥迪A6_id235.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/235.jpg</string>
				<key>name</key>
				<string>A6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪A7</string>
				<key>id</key>
				<string>237</string>
				<key>imageFile</key>
				<string>奥迪A7_id237.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/237.jpg</string>
				<key>name</key>
				<string>A7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪A8L</string>
				<key>id</key>
				<string>238</string>
				<key>imageFile</key>
				<string>奥迪A8L_id238.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/238.png</string>
				<key>name</key>
				<string>A8L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪Q3(进口)</string>
				<key>id</key>
				<string>240</string>
				<key>imageFile</key>
				<string>奥迪Q3(进口)_id240.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/240.jpg</string>
				<key>name</key>
				<string>Q3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪Q5(进口)</string>
				<key>id</key>
				<string>241</string>
				<key>imageFile</key>
				<string>奥迪Q5(进口)_id241.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/241.jpg</string>
				<key>name</key>
				<string>Q5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪Q7</string>
				<key>id</key>
				<string>242</string>
				<key>imageFile</key>
				<string>奥迪Q7_id242.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/242.jpg</string>
				<key>name</key>
				<string>Q7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪TT</string>
				<key>id</key>
				<string>249</string>
				<key>imageFile</key>
				<string>奥迪TT_id249.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/249.jpg</string>
				<key>name</key>
				<string>TT</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪Q8</string>
				<key>id</key>
				<string>252</string>
				<key>imageFile</key>
				<string>奥迪Q8_id252.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/252.jpg</string>
				<key>name</key>
				<string>Q8</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口奥迪</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>255</string>
		<key>initial</key>
		<string>A</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪S8</string>
				<key>id</key>
				<string>239</string>
				<key>imageFile</key>
				<string>奥迪S8_id239.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/239.jpg</string>
				<key>name</key>
				<string>S8</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪R8</string>
				<key>id</key>
				<string>243</string>
				<key>imageFile</key>
				<string>奥迪R8_id243.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/243.jpg</string>
				<key>name</key>
				<string>R8</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪S3</string>
				<key>id</key>
				<string>244</string>
				<key>imageFile</key>
				<string>奥迪S3_id244.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/244.jpg</string>
				<key>name</key>
				<string>S3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪S5</string>
				<key>id</key>
				<string>245</string>
				<key>imageFile</key>
				<string>奥迪S5_id245.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/245.JPG</string>
				<key>name</key>
				<string>S5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪S6</string>
				<key>id</key>
				<string>246</string>
				<key>imageFile</key>
				<string>奥迪S6_id246.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/246.jpg</string>
				<key>name</key>
				<string>S6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪S7</string>
				<key>id</key>
				<string>247</string>
				<key>imageFile</key>
				<string>奥迪S7_id247.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/247.jpg</string>
				<key>name</key>
				<string>S7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪SQ5</string>
				<key>id</key>
				<string>248</string>
				<key>imageFile</key>
				<string>奥迪SQ5_id248.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/248.jpg</string>
				<key>name</key>
				<string>SQ5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪S4</string>
				<key>id</key>
				<string>254</string>
				<key>imageFile</key>
				<string>奥迪S4_id254.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/254.jpg</string>
				<key>name</key>
				<string>S4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪RS 5</string>
				<key>id</key>
				<string>256</string>
				<key>imageFile</key>
				<string>奥迪RS 5_id256.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/256.jpg</string>
				<key>name</key>
				<string>RS 5</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪RS 7</string>
				<key>id</key>
				<string>257</string>
				<key>imageFile</key>
				<string>奥迪RS 7_id257.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/257.jpg</string>
				<key>name</key>
				<string>RS 7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪RS 6</string>
				<key>id</key>
				<string>258</string>
				<key>imageFile</key>
				<string>奥迪RS 6_id258.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/258.jpg</string>
				<key>name</key>
				<string>RS 6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪TTS</string>
				<key>id</key>
				<string>40005</string>
				<key>imageFile</key>
				<string>奥迪TTS_id40005.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40005.jpg</string>
				<key>name</key>
				<string>TTS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪RS 3</string>
				<key>id</key>
				<string>40006</string>
				<key>imageFile</key>
				<string>奥迪RS 3_id40006.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40006.gif</string>
				<key>name</key>
				<string>RS 3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪TT RS</string>
				<key>id</key>
				<string>40007</string>
				<key>imageFile</key>
				<string>奥迪TT RS_id40007.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40007.gif</string>
				<key>name</key>
				<string>TT RS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪RS 4</string>
				<key>id</key>
				<string>41351</string>
				<key>imageFile</key>
				<string>奥迪RS 4_id41351.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41351.gif</string>
				<key>name</key>
				<string>RS 4</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口Audi Sport</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40000</string>
		<key>initial</key>
		<string>A</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪A6L 插电混动</string>
				<key>id</key>
				<string>40001</string>
				<key>imageFile</key>
				<string>奥迪A6L 插电混动_id40001.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40001.gif</string>
				<key>name</key>
				<string>A6L 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽奥迪新能源</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40002</string>
		<key>initial</key>
		<string>A</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪A3 插电混动</string>
				<key>id</key>
				<string>40003</string>
				<key>imageFile</key>
				<string>奥迪A3 插电混动_id40003.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40003.jpg</string>
				<key>name</key>
				<string>A3 插电混动</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪Q7 插电混动</string>
				<key>id</key>
				<string>40004</string>
				<key>imageFile</key>
				<string>奥迪Q7 插电混动_id40004.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40004.gif</string>
				<key>name</key>
				<string>Q7 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪e-tron</string>
				<key>id</key>
				<string>45684</string>
				<key>imageFile</key>
				<string>奥迪e-tron_id45684.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>e-tron</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥迪e-tron GT</string>
				<key>id</key>
				<string>45685</string>
				<key>imageFile</key>
				<string>奥迪e-tron GT_id45685.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>e-tron GT</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口奥迪新能源</string>
	</dict>
</array>
</plist>
