<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2232</string>
		<key>initial</key>
		<string>W</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威麟H3</string>
				<key>id</key>
				<string>2233</string>
				<key>imageFile</key>
				<string>威麟H3_id2233.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2233.jpg</string>
				<key>name</key>
				<string>H3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威麟H5</string>
				<key>id</key>
				<string>2234</string>
				<key>imageFile</key>
				<string>威麟H5_id2234.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2234.jpg</string>
				<key>name</key>
				<string>H5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威麟V5</string>
				<key>id</key>
				<string>2235</string>
				<key>imageFile</key>
				<string>威麟V5_id2235.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2235.jpg</string>
				<key>name</key>
				<string>V5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威麟X5</string>
				<key>id</key>
				<string>2236</string>
				<key>imageFile</key>
				<string>威麟X5_id2236.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2236.jpg</string>
				<key>name</key>
				<string>X5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>威麟</string>
	</dict>
</array>
</plist>
