<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>468</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝骏330</string>
				<key>id</key>
				<string>469</string>
				<key>imageFile</key>
				<string>宝骏330_id469.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/469.jpg</string>
				<key>name</key>
				<string>330</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝骏560</string>
				<key>id</key>
				<string>470</string>
				<key>imageFile</key>
				<string>宝骏560_id470.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/470.jpg</string>
				<key>name</key>
				<string>560</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝骏610</string>
				<key>id</key>
				<string>471</string>
				<key>imageFile</key>
				<string>宝骏610_id471.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/471.jpg</string>
				<key>name</key>
				<string>610</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝骏630</string>
				<key>id</key>
				<string>472</string>
				<key>imageFile</key>
				<string>宝骏630_id472.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/472.jpg</string>
				<key>name</key>
				<string>630</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝骏730</string>
				<key>id</key>
				<string>473</string>
				<key>imageFile</key>
				<string>宝骏730_id473.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/473.png</string>
				<key>name</key>
				<string>730</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>乐驰</string>
				<key>id</key>
				<string>474</string>
				<key>imageFile</key>
				<string>乐驰_id474.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/474.jpg</string>
				<key>name</key>
				<string>乐驰</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝骏310</string>
				<key>id</key>
				<string>475</string>
				<key>imageFile</key>
				<string>宝骏310_id475.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/475.jpg</string>
				<key>name</key>
				<string>310</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝骏510</string>
				<key>id</key>
				<string>33711</string>
				<key>imageFile</key>
				<string>宝骏510_id33711.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33711.jpg</string>
				<key>name</key>
				<string>510</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝骏310W</string>
				<key>id</key>
				<string>40027</string>
				<key>imageFile</key>
				<string>宝骏310W_id40027.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40027.jpg</string>
				<key>name</key>
				<string>310W</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝骏530</string>
				<key>id</key>
				<string>42119</string>
				<key>imageFile</key>
				<string>宝骏530_id42119.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42119.jpg</string>
				<key>name</key>
				<string>530</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝骏360</string>
				<key>id</key>
				<string>42120</string>
				<key>imageFile</key>
				<string>宝骏360_id42120.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42120.jpg</string>
				<key>name</key>
				<string>360</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝骏RS-5</string>
				<key>id</key>
				<string>45695</string>
				<key>imageFile</key>
				<string>宝骏RS-5_id45695.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>RS-5</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽通用五菱</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42121</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝骏E100</string>
				<key>id</key>
				<string>42122</string>
				<key>imageFile</key>
				<string>宝骏E100_id42122.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42122.jpg</string>
				<key>name</key>
				<string>E100</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝骏E200</string>
				<key>id</key>
				<string>45407</string>
				<key>imageFile</key>
				<string>宝骏E200_id45407.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>E200</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽通用五菱新能源</string>
	</dict>
</array>
</plist>
