<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>404</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马2系旅行车</string>
				<key>id</key>
				<string>405</string>
				<key>imageFile</key>
				<string>宝马2系旅行车_id405.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/405.jpg</string>
				<key>name</key>
				<string>2系旅行车</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马3系</string>
				<key>id</key>
				<string>406</string>
				<key>imageFile</key>
				<string>宝马3系_id406.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/406.jpg</string>
				<key>name</key>
				<string>3系</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马5系</string>
				<key>id</key>
				<string>407</string>
				<key>imageFile</key>
				<string>宝马5系_id407.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/407.jpg</string>
				<key>name</key>
				<string>5系</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马X1</string>
				<key>id</key>
				<string>408</string>
				<key>imageFile</key>
				<string>宝马X1_id408.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/408.jpg</string>
				<key>name</key>
				<string>X1</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马1系</string>
				<key>id</key>
				<string>33708</string>
				<key>imageFile</key>
				<string>宝马1系_id33708.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33708.jpg</string>
				<key>name</key>
				<string>1系</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马X3</string>
				<key>id</key>
				<string>42116</string>
				<key>imageFile</key>
				<string>宝马X3_id42116.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42116.jpg</string>
				<key>name</key>
				<string>X3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>华晨宝马</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>409</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马1系(进口)</string>
				<key>id</key>
				<string>410</string>
				<key>imageFile</key>
				<string>宝马1系(进口)_id410.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/410.jpg</string>
				<key>name</key>
				<string>1系</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马2系</string>
				<key>id</key>
				<string>411</string>
				<key>imageFile</key>
				<string>宝马2系_id411.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/411.jpg</string>
				<key>name</key>
				<string>2系</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马3系(进口)</string>
				<key>id</key>
				<string>414</string>
				<key>imageFile</key>
				<string>宝马3系(进口)_id414.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/414.jpg</string>
				<key>name</key>
				<string>3系</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马3系GT</string>
				<key>id</key>
				<string>415</string>
				<key>imageFile</key>
				<string>宝马3系GT_id415.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/415.jpg</string>
				<key>name</key>
				<string>3系GT</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马4系</string>
				<key>id</key>
				<string>417</string>
				<key>imageFile</key>
				<string>宝马4系_id417.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/417.jpg</string>
				<key>name</key>
				<string>4系</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马5系(进口)</string>
				<key>id</key>
				<string>418</string>
				<key>imageFile</key>
				<string>宝马5系(进口)_id418.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/418.jpg</string>
				<key>name</key>
				<string>5系</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马5系GT</string>
				<key>id</key>
				<string>419</string>
				<key>imageFile</key>
				<string>宝马5系GT_id419.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/419.jpg</string>
				<key>name</key>
				<string>5系GT</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马6系</string>
				<key>id</key>
				<string>421</string>
				<key>imageFile</key>
				<string>宝马6系_id421.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/421.jpg</string>
				<key>name</key>
				<string>6系</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马7系</string>
				<key>id</key>
				<string>422</string>
				<key>imageFile</key>
				<string>宝马7系_id422.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/422.jpg</string>
				<key>name</key>
				<string>7系</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马X3(进口)</string>
				<key>id</key>
				<string>425</string>
				<key>imageFile</key>
				<string>宝马X3(进口)_id425.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/425.jpg</string>
				<key>name</key>
				<string>X3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马X4</string>
				<key>id</key>
				<string>426</string>
				<key>imageFile</key>
				<string>宝马X4_id426.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/426.jpg</string>
				<key>name</key>
				<string>X4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马X5</string>
				<key>id</key>
				<string>427</string>
				<key>imageFile</key>
				<string>宝马X5_id427.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/427.jpg</string>
				<key>name</key>
				<string>X5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马X6</string>
				<key>id</key>
				<string>428</string>
				<key>imageFile</key>
				<string>宝马X6_id428.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/428.jpg</string>
				<key>name</key>
				<string>X6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马Z4</string>
				<key>id</key>
				<string>429</string>
				<key>imageFile</key>
				<string>宝马Z4_id429.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/429.jpg</string>
				<key>name</key>
				<string>Z4</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马X1(进口)</string>
				<key>id</key>
				<string>430</string>
				<key>imageFile</key>
				<string>宝马X1(进口)_id430.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/430.jpg</string>
				<key>name</key>
				<string>X1</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马Z3</string>
				<key>id</key>
				<string>431</string>
				<key>imageFile</key>
				<string>宝马Z3_id431.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/431.gif</string>
				<key>name</key>
				<string>Z3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马Z8</string>
				<key>id</key>
				<string>432</string>
				<key>imageFile</key>
				<string>宝马Z8_id432.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/432.gif</string>
				<key>name</key>
				<string>Z8</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马8系</string>
				<key>id</key>
				<string>40018</string>
				<key>imageFile</key>
				<string>宝马8系_id40018.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40018.gif</string>
				<key>name</key>
				<string>8系</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马X7</string>
				<key>id</key>
				<string>40019</string>
				<key>imageFile</key>
				<string>宝马X7_id40019.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40019.jpg</string>
				<key>name</key>
				<string>X7</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马X2</string>
				<key>id</key>
				<string>41912</string>
				<key>imageFile</key>
				<string>宝马X2_id41912.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41912.jpg</string>
				<key>name</key>
				<string>X2</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马6系GT</string>
				<key>id</key>
				<string>42117</string>
				<key>imageFile</key>
				<string>宝马6系GT_id42117.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42117.jpg</string>
				<key>name</key>
				<string>6系GT</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口宝马</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>433</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马1系M</string>
				<key>id</key>
				<string>434</string>
				<key>imageFile</key>
				<string>宝马1系M_id434.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/434.jpg</string>
				<key>name</key>
				<string>1系M</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马M3</string>
				<key>id</key>
				<string>435</string>
				<key>imageFile</key>
				<string>宝马M3_id435.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/435.jpg</string>
				<key>name</key>
				<string>M3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马M4</string>
				<key>id</key>
				<string>436</string>
				<key>imageFile</key>
				<string>宝马M4_id436.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/436.jpg</string>
				<key>name</key>
				<string>M4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马M5</string>
				<key>id</key>
				<string>437</string>
				<key>imageFile</key>
				<string>宝马M5_id437.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/437.jpg</string>
				<key>name</key>
				<string>M5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马M6</string>
				<key>id</key>
				<string>438</string>
				<key>imageFile</key>
				<string>宝马M6_id438.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/438.jpg</string>
				<key>name</key>
				<string>M6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马X5 M</string>
				<key>id</key>
				<string>439</string>
				<key>imageFile</key>
				<string>宝马X5 M_id439.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/439.jpg</string>
				<key>name</key>
				<string>X5 M</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马X6 M</string>
				<key>id</key>
				<string>440</string>
				<key>imageFile</key>
				<string>宝马X6 M_id440.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/440.jpg</string>
				<key>name</key>
				<string>X6 M</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马M2</string>
				<key>id</key>
				<string>441</string>
				<key>imageFile</key>
				<string>宝马M2_id441.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/441.jpg</string>
				<key>name</key>
				<string>M2</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马M8</string>
				<key>id</key>
				<string>41213</string>
				<key>imageFile</key>
				<string>宝马M8_id41213.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41213.gif</string>
				<key>name</key>
				<string>M8</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口宝马M</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40015</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马5系 插电混动</string>
				<key>id</key>
				<string>40016</string>
				<key>imageFile</key>
				<string>宝马5系 插电混动_id40016.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40016.jpg</string>
				<key>name</key>
				<string>5系 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马X1 插电混动</string>
				<key>id</key>
				<string>40017</string>
				<key>imageFile</key>
				<string>宝马X1 插电混动_id40017.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40017.jpg</string>
				<key>name</key>
				<string>X1 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>华晨宝马新能源</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40020</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马i3</string>
				<key>id</key>
				<string>423</string>
				<key>imageFile</key>
				<string>宝马i3_id423.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/423.jpg</string>
				<key>name</key>
				<string>i3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马i8</string>
				<key>id</key>
				<string>424</string>
				<key>imageFile</key>
				<string>宝马i8_id424.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/424.jpg</string>
				<key>name</key>
				<string>i8</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马7系 插电混动</string>
				<key>id</key>
				<string>40021</string>
				<key>imageFile</key>
				<string>宝马7系 插电混动_id40021.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40021.jpg</string>
				<key>name</key>
				<string>7系 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝马X5 插电混动</string>
				<key>id</key>
				<string>40022</string>
				<key>imageFile</key>
				<string>宝马X5 插电混动_id40022.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40022.jpg</string>
				<key>name</key>
				<string>X5 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口宝马新能源</string>
	</dict>
</array>
</plist>
