<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>581</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>飞驰</string>
				<key>id</key>
				<string>582</string>
				<key>imageFile</key>
				<string>飞驰_id582.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/582.jpg</string>
				<key>name</key>
				<string>飞驰</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>慕尚</string>
				<key>id</key>
				<string>583</string>
				<key>imageFile</key>
				<string>慕尚_id583.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/583.jpg</string>
				<key>name</key>
				<string>慕尚</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧陆</string>
				<key>id</key>
				<string>584</string>
				<key>imageFile</key>
				<string>欧陆_id584.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/584.jpg</string>
				<key>name</key>
				<string>欧陆</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>添越</string>
				<key>id</key>
				<string>585</string>
				<key>imageFile</key>
				<string>添越_id585.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/585.jpg</string>
				<key>name</key>
				<string>添越</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雅骏</string>
				<key>id</key>
				<string>587</string>
				<key>imageFile</key>
				<string>雅骏_id587.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/587.jpg</string>
				<key>name</key>
				<string>雅骏</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雅致</string>
				<key>id</key>
				<string>588</string>
				<key>imageFile</key>
				<string>雅致_id588.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/588.jpg</string>
				<key>name</key>
				<string>雅致</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口宾利</string>
	</dict>
</array>
</plist>
