<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2119</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>GMC商务之星</string>
				<key>id</key>
				<string>2120</string>
				<key>imageFile</key>
				<string>GMC商务之星_id2120.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2120.jpg</string>
				<key>name</key>
				<string>GMC商务之星</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯迪拉克总统一号</string>
				<key>id</key>
				<string>2121</string>
				<key>imageFile</key>
				<string>凯迪拉克总统一号_id2121.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2121.jpg</string>
				<key>name</key>
				<string>凯迪拉克总统一号</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>林肯领袖一号</string>
				<key>id</key>
				<string>2122</string>
				<key>imageFile</key>
				<string>林肯领袖一号_id2122.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2122.JPG</string>
				<key>name</key>
				<string>林肯领袖一号</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔驰商务之星</string>
				<key>id</key>
				<string>40134</string>
				<key>imageFile</key>
				<string>奔驰商务之星_id40134.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40134.gif</string>
				<key>name</key>
				<string>奔驰商务之星</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>GMC育空特工一号</string>
				<key>id</key>
				<string>40135</string>
				<key>imageFile</key>
				<string>GMC育空特工一号_id40135.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40135.gif</string>
				<key>name</key>
				<string>GMC育空特工一号</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>路虎皇家一号</string>
				<key>id</key>
				<string>40136</string>
				<key>imageFile</key>
				<string>路虎皇家一号_id40136.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40136.gif</string>
				<key>name</key>
				<string>路虎皇家一号</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口山姆</string>
	</dict>
</array>
</plist>
