<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>592</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>巴博斯CLS级</string>
				<key>id</key>
				<string>593</string>
				<key>imageFile</key>
				<string>巴博斯CLS级_id593.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/593.JPG</string>
				<key>name</key>
				<string>巴博斯CLS级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>巴博斯G级</string>
				<key>id</key>
				<string>594</string>
				<key>imageFile</key>
				<string>巴博斯G级_id594.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/594.jpg</string>
				<key>name</key>
				<string>巴博斯G级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>巴博斯ML级</string>
				<key>id</key>
				<string>596</string>
				<key>imageFile</key>
				<string>巴博斯ML级_id596.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/596.JPG</string>
				<key>name</key>
				<string>巴博斯ML级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>巴博斯S级</string>
				<key>id</key>
				<string>597</string>
				<key>imageFile</key>
				<string>巴博斯S级_id597.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/597.JPG</string>
				<key>name</key>
				<string>巴博斯S级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>巴博斯SLK级</string>
				<key>id</key>
				<string>598</string>
				<key>imageFile</key>
				<string>巴博斯SLK级_id598.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/598.jpg</string>
				<key>name</key>
				<string>巴博斯SLK级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>巴博斯C级</string>
				<key>id</key>
				<string>599</string>
				<key>imageFile</key>
				<string>巴博斯C级_id599.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/599.jpg</string>
				<key>name</key>
				<string>巴博斯C级</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口巴博斯</string>
	</dict>
</array>
</plist>
