<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1121</string>
		<key>initial</key>
		<string>G</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>财运100</string>
				<key>id</key>
				<string>1122</string>
				<key>imageFile</key>
				<string>财运100_id1122.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1122.jpg</string>
				<key>name</key>
				<string>财运100</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>财运300</string>
				<key>id</key>
				<string>1123</string>
				<key>imageFile</key>
				<string>财运300_id1123.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1123.jpg</string>
				<key>name</key>
				<string>财运300</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>财运500</string>
				<key>id</key>
				<string>1124</string>
				<key>imageFile</key>
				<string>财运500_id1124.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1124.jpg</string>
				<key>name</key>
				<string>财运500</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>吉奥E美</string>
				<key>id</key>
				<string>1125</string>
				<key>imageFile</key>
				<string>吉奥E美_id1125.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1125.jpg</string>
				<key>name</key>
				<string>E美</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥轩G5</string>
				<key>id</key>
				<string>1126</string>
				<key>imageFile</key>
				<string>奥轩G5_id1126.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1126.jpg</string>
				<key>name</key>
				<string>奥轩G5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>吉奥GX6</string>
				<key>id</key>
				<string>1127</string>
				<key>imageFile</key>
				<string>吉奥GX6_id1127.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1127.JPG</string>
				<key>name</key>
				<string>GX6</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥轩GX5</string>
				<key>id</key>
				<string>1128</string>
				<key>imageFile</key>
				<string>奥轩GX5_id1128.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1128.jpg</string>
				<key>name</key>
				<string>奥轩GX5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>吉奥GP150</string>
				<key>id</key>
				<string>1129</string>
				<key>imageFile</key>
				<string>吉奥GP150_id1129.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1129.jpg</string>
				<key>name</key>
				<string>GP150</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帅舰</string>
				<key>id</key>
				<string>1130</string>
				<key>imageFile</key>
				<string>帅舰_id1130.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1130.jpg</string>
				<key>name</key>
				<string>帅舰</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>星朗</string>
				<key>id</key>
				<string>1131</string>
				<key>imageFile</key>
				<string>星朗_id1131.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1131.jpg</string>
				<key>name</key>
				<string>星朗</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>星旺</string>
				<key>id</key>
				<string>1132</string>
				<key>imageFile</key>
				<string>星旺_id1132.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1132.jpg</string>
				<key>name</key>
				<string>星旺</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>星旺CL</string>
				<key>id</key>
				<string>1133</string>
				<key>imageFile</key>
				<string>星旺CL_id1133.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1133.JPG</string>
				<key>name</key>
				<string>星旺CL</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>星旺L</string>
				<key>id</key>
				<string>1134</string>
				<key>imageFile</key>
				<string>星旺L_id1134.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1134.jpg</string>
				<key>name</key>
				<string>星旺L</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>星旺M1</string>
				<key>id</key>
				<string>1135</string>
				<key>imageFile</key>
				<string>星旺M1_id1135.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1135.jpg</string>
				<key>name</key>
				<string>星旺M1</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>星旺M2</string>
				<key>id</key>
				<string>1136</string>
				<key>imageFile</key>
				<string>星旺M2_id1136.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1136.jpg</string>
				<key>name</key>
				<string>星旺M2</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>柴神</string>
				<key>id</key>
				<string>1138</string>
				<key>imageFile</key>
				<string>柴神_id1138.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1138.jpg</string>
				<key>name</key>
				<string>柴神</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥轩G3</string>
				<key>id</key>
				<string>1139</string>
				<key>imageFile</key>
				<string>奥轩G3_id1139.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1139.jpg</string>
				<key>name</key>
				<string>G3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>吉奥GS50</string>
				<key>id</key>
				<string>1140</string>
				<key>imageFile</key>
				<string>吉奥GS50_id1140.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1140.jpg</string>
				<key>name</key>
				<string>GS50</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯睿</string>
				<key>id</key>
				<string>1142</string>
				<key>imageFile</key>
				<string>凯睿_id1142.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1142.jpg</string>
				<key>name</key>
				<string>凯睿</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帅豹</string>
				<key>id</key>
				<string>1145</string>
				<key>imageFile</key>
				<string>帅豹_id1145.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1145.jpg</string>
				<key>name</key>
				<string>帅豹</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>广汽吉奥</string>
	</dict>
</array>
</plist>
