<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1105</string>
		<key>initial</key>
		<string>G</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传祺GA3</string>
				<key>id</key>
				<string>1106</string>
				<key>imageFile</key>
				<string>传祺GA3_id1106.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1106.jpg</string>
				<key>name</key>
				<string>GA3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传祺GA3S 视界</string>
				<key>id</key>
				<string>1107</string>
				<key>imageFile</key>
				<string>传祺GA3S 视界_id1107.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1107.png</string>
				<key>name</key>
				<string>GA3S 视界</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传祺GA5</string>
				<key>id</key>
				<string>1108</string>
				<key>imageFile</key>
				<string>传祺GA5_id1108.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1108.jpg</string>
				<key>name</key>
				<string>GA5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传祺GA6</string>
				<key>id</key>
				<string>1109</string>
				<key>imageFile</key>
				<string>传祺GA6_id1109.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1109.jpg</string>
				<key>name</key>
				<string>GA6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传祺GS4</string>
				<key>id</key>
				<string>1110</string>
				<key>imageFile</key>
				<string>传祺GS4_id1110.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1110.jpg</string>
				<key>name</key>
				<string>GS4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传祺GS5</string>
				<key>id</key>
				<string>1111</string>
				<key>imageFile</key>
				<string>传祺GS5_id1111.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1111.jpg</string>
				<key>name</key>
				<string>GS5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传祺GS5 Super</string>
				<key>id</key>
				<string>1112</string>
				<key>imageFile</key>
				<string>传祺GS5 Super_id1112.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1112.png</string>
				<key>name</key>
				<string>GS5 Super</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传祺GA8</string>
				<key>id</key>
				<string>1114</string>
				<key>imageFile</key>
				<string>传祺GA8_id1114.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1114.jpg</string>
				<key>name</key>
				<string>GA8</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传祺GS8</string>
				<key>id</key>
				<string>33763</string>
				<key>imageFile</key>
				<string>传祺GS8_id33763.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33763.jpg</string>
				<key>name</key>
				<string>GS8</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传祺GS7</string>
				<key>id</key>
				<string>33764</string>
				<key>imageFile</key>
				<string>传祺GS7_id33764.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33764.JPG</string>
				<key>name</key>
				<string>GS7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传祺GS3</string>
				<key>id</key>
				<string>40061</string>
				<key>imageFile</key>
				<string>传祺GS3_id40061.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40061.jpg</string>
				<key>name</key>
				<string>GS3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传祺GA4</string>
				<key>id</key>
				<string>42150</string>
				<key>imageFile</key>
				<string>传祺GA4_id42150.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42150.jpg</string>
				<key>name</key>
				<string>GA4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传祺GM8</string>
				<key>id</key>
				<string>42151</string>
				<key>imageFile</key>
				<string>传祺GM8_id42151.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42151.jpg</string>
				<key>name</key>
				<string>GM8</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传祺GM6</string>
				<key>id</key>
				<string>44294</string>
				<key>imageFile</key>
				<string>传祺GM6_id44294.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44294.jpg</string>
				<key>name</key>
				<string>GM6</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>广汽乘用车</string>
	</dict>
</array>
</plist>
