<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1506</string>
		<key>initial</key>
		<string>K</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>爱卡</string>
				<key>id</key>
				<string>1507</string>
				<key>imageFile</key>
				<string>爱卡_id1507.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1507.jpg</string>
				<key>name</key>
				<string>爱卡</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开瑞杰虎</string>
				<key>id</key>
				<string>1508</string>
				<key>imageFile</key>
				<string>开瑞杰虎_id1508.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1508.jpg</string>
				<key>name</key>
				<string>杰虎</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开瑞K50</string>
				<key>id</key>
				<string>1509</string>
				<key>imageFile</key>
				<string>开瑞K50_id1509.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1509.jpg</string>
				<key>name</key>
				<string>K50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开瑞优劲</string>
				<key>id</key>
				<string>1511</string>
				<key>imageFile</key>
				<string>开瑞优劲_id1511.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1511.jpg</string>
				<key>name</key>
				<string>优劲</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开瑞优胜</string>
				<key>id</key>
				<string>1512</string>
				<key>imageFile</key>
				<string>开瑞优胜_id1512.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1512.jpg</string>
				<key>name</key>
				<string>优胜</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开瑞优雅</string>
				<key>id</key>
				<string>1513</string>
				<key>imageFile</key>
				<string>开瑞优雅_id1513.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1513.jpg</string>
				<key>name</key>
				<string>优雅</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开瑞优优</string>
				<key>id</key>
				<string>1514</string>
				<key>imageFile</key>
				<string>开瑞优优_id1514.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1514.jpg</string>
				<key>name</key>
				<string>优优</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开瑞3</string>
				<key>id</key>
				<string>1515</string>
				<key>imageFile</key>
				<string>开瑞3_id1515.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1515.jpg</string>
				<key>name</key>
				<string>开瑞3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开瑞优派</string>
				<key>id</key>
				<string>1516</string>
				<key>imageFile</key>
				<string>开瑞优派_id1516.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1516.jpg</string>
				<key>name</key>
				<string>优派</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开瑞优翼</string>
				<key>id</key>
				<string>1517</string>
				<key>imageFile</key>
				<string>开瑞优翼_id1517.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1517.jpg</string>
				<key>name</key>
				<string>优翼</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开瑞K60</string>
				<key>id</key>
				<string>33780</string>
				<key>imageFile</key>
				<string>开瑞K60_id33780.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33780.jpg</string>
				<key>name</key>
				<string>K60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>开瑞</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>44590</string>
		<key>initial</key>
		<string>K</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开瑞优劲EV</string>
				<key>id</key>
				<string>44591</string>
				<key>imageFile</key>
				<string>开瑞优劲EV_id44591.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>优劲EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开瑞优优EV</string>
				<key>id</key>
				<string>44592</string>
				<key>imageFile</key>
				<string>开瑞优优EV_id44592.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>优优EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开瑞K50EV</string>
				<key>id</key>
				<string>44723</string>
				<key>imageFile</key>
				<string>开瑞K50EV_id44723.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>K50EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开瑞K60EV</string>
				<key>id</key>
				<string>44724</string>
				<key>imageFile</key>
				<string>开瑞K60EV_id44724.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>K60EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>开瑞新能源</string>
	</dict>
</array>
</plist>
