<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1401</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>捷豹F-PACE</string>
				<key>id</key>
				<string>1402</string>
				<key>imageFile</key>
				<string>捷豹F-PACE_id1402.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1402.jpg</string>
				<key>name</key>
				<string>F-PACE</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>捷豹F-TYPE</string>
				<key>id</key>
				<string>1403</string>
				<key>imageFile</key>
				<string>捷豹F-TYPE_id1403.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1403.jpg</string>
				<key>name</key>
				<string>F-TYPE</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>捷豹XE</string>
				<key>id</key>
				<string>1404</string>
				<key>imageFile</key>
				<string>捷豹XE_id1404.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1404.jpg</string>
				<key>name</key>
				<string>XE</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>捷豹XF</string>
				<key>id</key>
				<string>1405</string>
				<key>imageFile</key>
				<string>捷豹XF_id1405.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1405.jpg</string>
				<key>name</key>
				<string>XF</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>捷豹XJ</string>
				<key>id</key>
				<string>1406</string>
				<key>imageFile</key>
				<string>捷豹XJ_id1406.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1406.jpg</string>
				<key>name</key>
				<string>XJ</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>捷豹S-TYPE</string>
				<key>id</key>
				<string>1410</string>
				<key>imageFile</key>
				<string>捷豹S-TYPE_id1410.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1410.jpg</string>
				<key>name</key>
				<string>S-TYPE</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>捷豹XK</string>
				<key>id</key>
				<string>1412</string>
				<key>imageFile</key>
				<string>捷豹XK_id1412.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1412.jpg</string>
				<key>name</key>
				<string>XK</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口捷豹</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>33776</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>捷豹XFL</string>
				<key>id</key>
				<string>33777</string>
				<key>imageFile</key>
				<string>捷豹XFL_id33777.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33777.jpg</string>
				<key>name</key>
				<string>XFL</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>捷豹E-PACE</string>
				<key>id</key>
				<string>40080</string>
				<key>imageFile</key>
				<string>捷豹E-PACE_id40080.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40080.jpg</string>
				<key>name</key>
				<string>E-PACE</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>捷豹XEL</string>
				<key>id</key>
				<string>40081</string>
				<key>imageFile</key>
				<string>捷豹XEL_id40081.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40081.gif</string>
				<key>name</key>
				<string>XEL</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>奇瑞捷豹路虎</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42162</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>捷豹I-PACE</string>
				<key>id</key>
				<string>42163</string>
				<key>imageFile</key>
				<string>捷豹I-PACE_id42163.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42163.jpg</string>
				<key>name</key>
				<string>I-PACE</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口捷豹新能源</string>
	</dict>
</array>
</plist>
