<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1830</string>
		<key>initial</key>
		<string>M</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>摩根3-Wheeler</string>
				<key>id</key>
				<string>1831</string>
				<key>imageFile</key>
				<string>摩根3-Wheeler_id1831.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1831.JPG</string>
				<key>name</key>
				<string>摩根3-Wheeler</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>摩根4-4</string>
				<key>id</key>
				<string>1832</string>
				<key>imageFile</key>
				<string>摩根4-4_id1832.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1832.jpg</string>
				<key>name</key>
				<string>摩根4-4</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>摩根Aero</string>
				<key>id</key>
				<string>1833</string>
				<key>imageFile</key>
				<string>摩根Aero_id1833.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1833.jpg</string>
				<key>name</key>
				<string>摩根Aero</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>摩根Aero 8</string>
				<key>id</key>
				<string>1834</string>
				<key>imageFile</key>
				<string>摩根Aero 8_id1834.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1834.jpg</string>
				<key>name</key>
				<string>摩根Aero 8</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>摩根Plus 4</string>
				<key>id</key>
				<string>1835</string>
				<key>imageFile</key>
				<string>摩根Plus 4_id1835.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1835.JPG</string>
				<key>name</key>
				<string>摩根Plus 4</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>摩根plus 8</string>
				<key>id</key>
				<string>1836</string>
				<key>imageFile</key>
				<string>摩根plus 8_id1836.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1836.jpg</string>
				<key>name</key>
				<string>摩根plus 8</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>摩根Roadster</string>
				<key>id</key>
				<string>1837</string>
				<key>imageFile</key>
				<string>摩根Roadster_id1837.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1837.jpg</string>
				<key>name</key>
				<string>摩根Roadster</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口摩根</string>
	</dict>
</array>
</plist>
