<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2087</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>傲虎</string>
				<key>id</key>
				<string>2088</string>
				<key>imageFile</key>
				<string>傲虎_id2088.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2088.jpg</string>
				<key>name</key>
				<string>傲虎</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>驰鹏</string>
				<key>id</key>
				<string>2089</string>
				<key>imageFile</key>
				<string>驰鹏_id2089.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2089.jpg</string>
				<key>name</key>
				<string>驰鹏</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>力狮</string>
				<key>id</key>
				<string>2090</string>
				<key>imageFile</key>
				<string>力狮_id2090.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2090.jpg</string>
				<key>name</key>
				<string>力狮</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>斯巴鲁WRX</string>
				<key>id</key>
				<string>2091</string>
				<key>imageFile</key>
				<string>斯巴鲁WRX_id2091.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2091.jpg</string>
				<key>name</key>
				<string>WRX</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>斯巴鲁BRZ</string>
				<key>id</key>
				<string>2092</string>
				<key>imageFile</key>
				<string>斯巴鲁BRZ_id2092.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2092.jpg</string>
				<key>name</key>
				<string>BRZ</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>斯巴鲁XV</string>
				<key>id</key>
				<string>2093</string>
				<key>imageFile</key>
				<string>斯巴鲁XV_id2093.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2093.jpg</string>
				<key>name</key>
				<string>XV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>森林人</string>
				<key>id</key>
				<string>2094</string>
				<key>imageFile</key>
				<string>森林人_id2094.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2094.jpg</string>
				<key>name</key>
				<string>森林人</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>翼豹</string>
				<key>id</key>
				<string>2096</string>
				<key>imageFile</key>
				<string>翼豹_id2096.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2096.jpg</string>
				<key>name</key>
				<string>翼豹</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口斯巴鲁</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45769</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>斯巴鲁XV 插电混动</string>
				<key>id</key>
				<string>45770</string>
				<key>imageFile</key>
				<string>斯巴鲁XV 插电混动_id45770.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>XV 插电混动</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口斯巴鲁新能源</string>
	</dict>
</array>
</plist>
