<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2044</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>晶锐</string>
				<key>id</key>
				<string>2045</string>
				<key>imageFile</key>
				<string>晶锐_id2045.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2045.jpg</string>
				<key>name</key>
				<string>晶锐</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>明锐</string>
				<key>id</key>
				<string>2046</string>
				<key>imageFile</key>
				<string>明锐_id2046.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2046.jpg</string>
				<key>name</key>
				<string>明锐</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>速派</string>
				<key>id</key>
				<string>2047</string>
				<key>imageFile</key>
				<string>速派_id2047.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2047.jpg</string>
				<key>name</key>
				<string>速派</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>昕动</string>
				<key>id</key>
				<string>2048</string>
				<key>imageFile</key>
				<string>昕动_id2048.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2048.jpg</string>
				<key>name</key>
				<string>昕动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>昕锐</string>
				<key>id</key>
				<string>2049</string>
				<key>imageFile</key>
				<string>昕锐_id2049.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2049.jpg</string>
				<key>name</key>
				<string>昕锐</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>野帝</string>
				<key>id</key>
				<string>2050</string>
				<key>imageFile</key>
				<string>野帝_id2050.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2050.jpg</string>
				<key>name</key>
				<string>野帝</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>昊锐</string>
				<key>id</key>
				<string>2051</string>
				<key>imageFile</key>
				<string>昊锐_id2051.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2051.jpg</string>
				<key>name</key>
				<string>昊锐</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>柯迪亚克</string>
				<key>id</key>
				<string>33817</string>
				<key>imageFile</key>
				<string>柯迪亚克_id33817.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33817.JPG</string>
				<key>name</key>
				<string>柯迪亚克</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>柯珞克</string>
				<key>id</key>
				<string>40131</string>
				<key>imageFile</key>
				<string>柯珞克_id40131.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40131.jpg</string>
				<key>name</key>
				<string>柯珞克</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>柯米克</string>
				<key>id</key>
				<string>42191</string>
				<key>imageFile</key>
				<string>柯米克_id42191.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42191.jpg</string>
				<key>name</key>
				<string>柯米克</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>柯迪亚克GT</string>
				<key>id</key>
				<string>45768</string>
				<key>imageFile</key>
				<string>柯迪亚克GT_id45768.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>柯迪亚克GT</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽大众斯柯达</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2053</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>明锐(进口)</string>
				<key>id</key>
				<string>2054</string>
				<key>imageFile</key>
				<string>明锐(进口)_id2054.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2054.jpg</string>
				<key>name</key>
				<string>明锐</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>速尊</string>
				<key>id</key>
				<string>2055</string>
				<key>imageFile</key>
				<string>速尊_id2055.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2055.jpg</string>
				<key>name</key>
				<string>速尊</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>Yeti</string>
				<key>id</key>
				<string>2056</string>
				<key>imageFile</key>
				<string>Yeti_id2056.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2056.png</string>
				<key>name</key>
				<string>Yeti</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法比亚</string>
				<key>id</key>
				<string>2058</string>
				<key>imageFile</key>
				<string>法比亚_id2058.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2058.jpg</string>
				<key>name</key>
				<string>法比亚</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>昊锐(进口)</string>
				<key>id</key>
				<string>2059</string>
				<key>imageFile</key>
				<string>昊锐(进口)_id2059.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2059.jpg</string>
				<key>name</key>
				<string>昊锐</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧雅</string>
				<key>id</key>
				<string>2060</string>
				<key>imageFile</key>
				<string>欧雅_id2060.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2060.jpg</string>
				<key>name</key>
				<string>欧雅</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口斯柯达</string>
	</dict>
</array>
</plist>
