<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1984</string>
		<key>initial</key>
		<string>R</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>楼兰</string>
				<key>id</key>
				<string>1985</string>
				<key>imageFile</key>
				<string>楼兰_id1985.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1985.jpg</string>
				<key>name</key>
				<string>楼兰</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>蓝鸟</string>
				<key>id</key>
				<string>1986</string>
				<key>imageFile</key>
				<string>蓝鸟_id1986.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1986.jpg</string>
				<key>name</key>
				<string>蓝鸟</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骊威</string>
				<key>id</key>
				<string>1987</string>
				<key>imageFile</key>
				<string>骊威_id1987.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1987.jpg</string>
				<key>name</key>
				<string>骊威</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>玛驰</string>
				<key>id</key>
				<string>1988</string>
				<key>imageFile</key>
				<string>玛驰_id1988.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1988.jpg</string>
				<key>name</key>
				<string>玛驰</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骐达</string>
				<key>id</key>
				<string>1989</string>
				<key>imageFile</key>
				<string>骐达_id1989.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1989.jpg</string>
				<key>name</key>
				<string>骐达</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇骏</string>
				<key>id</key>
				<string>1990</string>
				<key>imageFile</key>
				<string>奇骏_id1990.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1990.jpg</string>
				<key>name</key>
				<string>奇骏</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>天籁</string>
				<key>id</key>
				<string>1991</string>
				<key>imageFile</key>
				<string>天籁_id1991.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1991.jpg</string>
				<key>name</key>
				<string>天籁</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>逍客</string>
				<key>id</key>
				<string>1992</string>
				<key>imageFile</key>
				<string>逍客_id1992.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1992.jpg</string>
				<key>name</key>
				<string>逍客</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>轩逸</string>
				<key>id</key>
				<string>1993</string>
				<key>imageFile</key>
				<string>轩逸_id1993.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1993.jpg</string>
				<key>name</key>
				<string>轩逸</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阳光</string>
				<key>id</key>
				<string>1994</string>
				<key>imageFile</key>
				<string>阳光_id1994.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1994.jpg</string>
				<key>name</key>
				<string>阳光</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>西玛</string>
				<key>id</key>
				<string>1995</string>
				<key>imageFile</key>
				<string>西玛_id1995.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1995.jpg</string>
				<key>name</key>
				<string>西玛</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骏逸</string>
				<key>id</key>
				<string>1996</string>
				<key>imageFile</key>
				<string>骏逸_id1996.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1996.jpg</string>
				<key>name</key>
				<string>骏逸</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>颐达</string>
				<key>id</key>
				<string>1997</string>
				<key>imageFile</key>
				<string>颐达_id1997.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1997.jpg</string>
				<key>name</key>
				<string>颐达</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>劲客</string>
				<key>id</key>
				<string>40125</string>
				<key>imageFile</key>
				<string>劲客_id40125.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40125.jpg</string>
				<key>name</key>
				<string>劲客</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风日产</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1998</string>
		<key>initial</key>
		<string>R</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>日产D22皮卡</string>
				<key>id</key>
				<string>1999</string>
				<key>imageFile</key>
				<string>日产D22皮卡_id1999.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1999.jpg</string>
				<key>name</key>
				<string>D22皮卡</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>日产D22厢式车</string>
				<key>id</key>
				<string>2000</string>
				<key>imageFile</key>
				<string>日产D22厢式车_id2000.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2000.jpg</string>
				<key>name</key>
				<string>D22厢式车</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯普斯达</string>
				<key>id</key>
				<string>2001</string>
				<key>imageFile</key>
				<string>凯普斯达_id2001.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2001.jpg</string>
				<key>name</key>
				<string>凯普斯达</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>日产NV200</string>
				<key>id</key>
				<string>2002</string>
				<key>imageFile</key>
				<string>日产NV200_id2002.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2002.jpg</string>
				<key>name</key>
				<string>NV200</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帕拉丁</string>
				<key>id</key>
				<string>2003</string>
				<key>imageFile</key>
				<string>帕拉丁_id2003.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2003.jpg</string>
				<key>name</key>
				<string>帕拉丁</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帕拉骐</string>
				<key>id</key>
				<string>2004</string>
				<key>imageFile</key>
				<string>帕拉骐_id2004.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2004.jpg</string>
				<key>name</key>
				<string>帕拉骐</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>日产ZN厢式车</string>
				<key>id</key>
				<string>2005</string>
				<key>imageFile</key>
				<string>日产ZN厢式车_id2005.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2005.gif</string>
				<key>name</key>
				<string>ZN厢式车</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>纳瓦拉</string>
				<key>id</key>
				<string>40126</string>
				<key>imageFile</key>
				<string>纳瓦拉_id40126.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40126.JPG</string>
				<key>name</key>
				<string>纳瓦拉</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途达</string>
				<key>id</key>
				<string>42188</string>
				<key>imageFile</key>
				<string>途达_id42188.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42188.jpg</string>
				<key>name</key>
				<string>途达</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>郑州日产</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2006</string>
		<key>initial</key>
		<string>R</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>日产370Z</string>
				<key>id</key>
				<string>2007</string>
				<key>imageFile</key>
				<string>日产370Z_id2007.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2007.png</string>
				<key>name</key>
				<string>370Z</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>碧莲</string>
				<key>id</key>
				<string>2008</string>
				<key>imageFile</key>
				<string>碧莲_id2008.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2008.jpg</string>
				<key>name</key>
				<string>碧莲</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>贵士</string>
				<key>id</key>
				<string>2009</string>
				<key>imageFile</key>
				<string>贵士_id2009.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2009.jpg</string>
				<key>name</key>
				<string>贵士</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>日产GT-R</string>
				<key>id</key>
				<string>2010</string>
				<key>imageFile</key>
				<string>日产GT-R_id2010.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2010.jpg</string>
				<key>name</key>
				<string>GT-R</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途乐</string>
				<key>id</key>
				<string>2011</string>
				<key>imageFile</key>
				<string>途乐_id2011.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2011.jpg</string>
				<key>name</key>
				<string>途乐</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>日产350Z</string>
				<key>id</key>
				<string>2016</string>
				<key>imageFile</key>
				<string>日产350Z_id2016.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2016.jpg</string>
				<key>name</key>
				<string>350Z</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>蓝鸟(进口)</string>
				<key>id</key>
				<string>2018</string>
				<key>imageFile</key>
				<string>蓝鸟(进口)_id2018.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2018.gif</string>
				<key>name</key>
				<string>蓝鸟</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风度</string>
				<key>id</key>
				<string>2020</string>
				<key>imageFile</key>
				<string>风度_id2020.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2020.jpg</string>
				<key>name</key>
				<string>风度</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风雅</string>
				<key>id</key>
				<string>2021</string>
				<key>imageFile</key>
				<string>风雅_id2021.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2021.jpg</string>
				<key>name</key>
				<string>风雅</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奇骏(进口)</string>
				<key>id</key>
				<string>2023</string>
				<key>imageFile</key>
				<string>奇骏(进口)_id2023.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2023.jpg</string>
				<key>name</key>
				<string>奇骏</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>日产Pathfinder</string>
				<key>id</key>
				<string>33811</string>
				<key>imageFile</key>
				<string>日产Pathfinder_id33811.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33811.jpg</string>
				<key>name</key>
				<string>Pathfinder</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>聆风</string>
				<key>id</key>
				<string>41915</string>
				<key>imageFile</key>
				<string>聆风_id41915.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41915.jpg</string>
				<key>name</key>
				<string>聆风</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口日产</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>44730</string>
		<key>initial</key>
		<string>R</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>轩逸·纯电</string>
				<key>id</key>
				<string>44731</string>
				<key>imageFile</key>
				<string>轩逸·纯电_id44731.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44731.jpg</string>
				<key>name</key>
				<string>轩逸·纯电</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风日产新能源</string>
	</dict>
</array>
</plist>
