<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>287</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>艾力绅</string>
				<key>id</key>
				<string>288</string>
				<key>imageFile</key>
				<string>艾力绅_id288.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/288.jpg</string>
				<key>name</key>
				<string>艾力绅</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>本田CR-V</string>
				<key>id</key>
				<string>289</string>
				<key>imageFile</key>
				<string>本田CR-V_id289.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/289.jpg</string>
				<key>name</key>
				<string>CR-V</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>哥瑞</string>
				<key>id</key>
				<string>290</string>
				<key>imageFile</key>
				<string>哥瑞_id290.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/290.jpg</string>
				<key>name</key>
				<string>哥瑞</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>杰德</string>
				<key>id</key>
				<string>291</string>
				<key>imageFile</key>
				<string>杰德_id291.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/291.jpg</string>
				<key>name</key>
				<string>杰德</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>思铂睿</string>
				<key>id</key>
				<string>292</string>
				<key>imageFile</key>
				<string>思铂睿_id292.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/292.jpg</string>
				<key>name</key>
				<string>思铂睿</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>思铭</string>
				<key>id</key>
				<string>293</string>
				<key>imageFile</key>
				<string>思铭_id293.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/293.jpg</string>
				<key>name</key>
				<string>思铭</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>思域</string>
				<key>id</key>
				<string>294</string>
				<key>imageFile</key>
				<string>思域_id294.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/294.jpg</string>
				<key>name</key>
				<string>思域</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>本田XR-V</string>
				<key>id</key>
				<string>295</string>
				<key>imageFile</key>
				<string>本田XR-V_id295.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/295.jpg</string>
				<key>name</key>
				<string>XR-V</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>竞瑞</string>
				<key>id</key>
				<string>33704</string>
				<key>imageFile</key>
				<string>竞瑞_id33704.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33704.jpg</string>
				<key>name</key>
				<string>竞瑞</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>本田UR-V</string>
				<key>id</key>
				<string>33705</string>
				<key>imageFile</key>
				<string>本田UR-V_id33705.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33705.JPG</string>
				<key>name</key>
				<string>UR-V</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>本田INSPIRE</string>
				<key>id</key>
				<string>45686</string>
				<key>imageFile</key>
				<string>本田INSPIRE_id45686.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>INSPIRE</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风本田</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>296</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥德赛</string>
				<key>id</key>
				<string>297</string>
				<key>imageFile</key>
				<string>奥德赛_id297.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/297.jpg</string>
				<key>name</key>
				<string>奥德赛</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>缤智</string>
				<key>id</key>
				<string>298</string>
				<key>imageFile</key>
				<string>缤智_id298.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/298.jpg</string>
				<key>name</key>
				<string>缤智</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>飞度</string>
				<key>id</key>
				<string>299</string>
				<key>imageFile</key>
				<string>飞度_id299.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/299.jpg</string>
				<key>name</key>
				<string>飞度</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>锋范</string>
				<key>id</key>
				<string>300</string>
				<key>imageFile</key>
				<string>锋范_id300.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/300.jpg</string>
				<key>name</key>
				<string>锋范</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>歌诗图</string>
				<key>id</key>
				<string>302</string>
				<key>imageFile</key>
				<string>歌诗图_id302.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/302.jpg</string>
				<key>name</key>
				<string>歌诗图</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凌派</string>
				<key>id</key>
				<string>303</string>
				<key>imageFile</key>
				<string>凌派_id303.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/303.jpg</string>
				<key>name</key>
				<string>凌派</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雅阁</string>
				<key>id</key>
				<string>304</string>
				<key>imageFile</key>
				<string>雅阁_id304.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/304.jpg</string>
				<key>name</key>
				<string>雅阁</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>思迪</string>
				<key>id</key>
				<string>305</string>
				<key>imageFile</key>
				<string>思迪_id305.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/305.jpg</string>
				<key>name</key>
				<string>思迪</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>冠道</string>
				<key>id</key>
				<string>33706</string>
				<key>imageFile</key>
				<string>冠道_id33706.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33706.jpg</string>
				<key>name</key>
				<string>冠道</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>广汽本田</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>306</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>本田CR-Z</string>
				<key>id</key>
				<string>307</string>
				<key>imageFile</key>
				<string>本田CR-Z_id307.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/307.jpg</string>
				<key>name</key>
				<string>CR-Z</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>飞度(进口)</string>
				<key>id</key>
				<string>308</string>
				<key>imageFile</key>
				<string>飞度(进口)_id308.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/308.jpg</string>
				<key>name</key>
				<string>飞度</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>本田INSIGHT</string>
				<key>id</key>
				<string>309</string>
				<key>imageFile</key>
				<string>本田INSIGHT_id309.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/309.JPG</string>
				<key>name</key>
				<string>INSIGHT</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥德赛(进口)</string>
				<key>id</key>
				<string>312</string>
				<key>imageFile</key>
				<string>奥德赛(进口)_id312.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/312.jpg</string>
				<key>name</key>
				<string>奥德赛</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>时韵</string>
				<key>id</key>
				<string>314</string>
				<key>imageFile</key>
				<string>时韵_id314.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/314.jpg</string>
				<key>name</key>
				<string>时韵</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雅阁(进口)</string>
				<key>id</key>
				<string>315</string>
				<key>imageFile</key>
				<string>雅阁(进口)_id315.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/315.jpg</string>
				<key>name</key>
				<string>雅阁</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>元素</string>
				<key>id</key>
				<string>316</string>
				<key>imageFile</key>
				<string>元素_id316.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/316.jpg</string>
				<key>name</key>
				<string>元素</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>本田CR-V(进口)</string>
				<key>id</key>
				<string>317</string>
				<key>imageFile</key>
				<string>本田CR-V(进口)_id317.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/317.jpg</string>
				<key>name</key>
				<string>CR-V</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>里程</string>
				<key>id</key>
				<string>318</string>
				<key>imageFile</key>
				<string>里程_id318.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/318.jpg</string>
				<key>name</key>
				<string>里程</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>思域(进口)</string>
				<key>id</key>
				<string>319</string>
				<key>imageFile</key>
				<string>思域(进口)_id319.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/319.JPG</string>
				<key>name</key>
				<string>思域</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口本田</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45687</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>世锐PHEV</string>
				<key>id</key>
				<string>45688</string>
				<key>imageFile</key>
				<string>世锐PHEV_id45688.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>世锐PHEV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>广汽本田新能源</string>
	</dict>
</array>
</plist>
