<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1666</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>领航员</string>
				<key>id</key>
				<string>1667</string>
				<key>imageFile</key>
				<string>领航员_id1667.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1667.jpg</string>
				<key>name</key>
				<string>领航员</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>林肯MKX</string>
				<key>id</key>
				<string>1668</string>
				<key>imageFile</key>
				<string>林肯MKX_id1668.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1668.jpg</string>
				<key>name</key>
				<string>MKX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>林肯MKC</string>
				<key>id</key>
				<string>1669</string>
				<key>imageFile</key>
				<string>林肯MKC_id1669.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1669.jpg</string>
				<key>name</key>
				<string>MKC</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>林肯MKS</string>
				<key>id</key>
				<string>1670</string>
				<key>imageFile</key>
				<string>林肯MKS_id1670.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1670.jpg</string>
				<key>name</key>
				<string>MKS</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>林肯MKT</string>
				<key>id</key>
				<string>1671</string>
				<key>imageFile</key>
				<string>林肯MKT_id1671.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1671.jpg</string>
				<key>name</key>
				<string>MKT</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>林肯MKZ</string>
				<key>id</key>
				<string>1672</string>
				<key>imageFile</key>
				<string>林肯MKZ_id1672.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1672.jpg</string>
				<key>name</key>
				<string>MKZ</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大陆</string>
				<key>id</key>
				<string>1673</string>
				<key>imageFile</key>
				<string>大陆_id1673.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1673.jpg</string>
				<key>name</key>
				<string>大陆</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>飞行家</string>
				<key>id</key>
				<string>42177</string>
				<key>imageFile</key>
				<string>飞行家_id42177.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42177.jpg</string>
				<key>name</key>
				<string>飞行家</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>航海家</string>
				<key>id</key>
				<string>44297</string>
				<key>imageFile</key>
				<string>航海家_id44297.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44297.jpg</string>
				<key>name</key>
				<string>航海家</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口林肯汽车</string>
	</dict>
</array>
</plist>
