<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>476</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致2008</string>
				<key>id</key>
				<string>477</string>
				<key>imageFile</key>
				<string>标致2008_id477.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/477.png</string>
				<key>name</key>
				<string>2008</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致3008</string>
				<key>id</key>
				<string>478</string>
				<key>imageFile</key>
				<string>标致3008_id478.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/478.jpg</string>
				<key>name</key>
				<string>3008</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致301</string>
				<key>id</key>
				<string>479</string>
				<key>imageFile</key>
				<string>标致301_id479.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/479.jpg</string>
				<key>name</key>
				<string>301</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致308</string>
				<key>id</key>
				<string>480</string>
				<key>imageFile</key>
				<string>标致308_id480.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/480.jpg</string>
				<key>name</key>
				<string>308</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致308S</string>
				<key>id</key>
				<string>481</string>
				<key>imageFile</key>
				<string>标致308S_id481.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/481.jpg</string>
				<key>name</key>
				<string>308S</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致408</string>
				<key>id</key>
				<string>482</string>
				<key>imageFile</key>
				<string>标致408_id482.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/482.jpg</string>
				<key>name</key>
				<string>408</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致508</string>
				<key>id</key>
				<string>483</string>
				<key>imageFile</key>
				<string>标致508_id483.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/483.JPG</string>
				<key>name</key>
				<string>508</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致206</string>
				<key>id</key>
				<string>484</string>
				<key>imageFile</key>
				<string>标致206_id484.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/484.jpg</string>
				<key>name</key>
				<string>206</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致207</string>
				<key>id</key>
				<string>486</string>
				<key>imageFile</key>
				<string>标致207_id486.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/486.jpg</string>
				<key>name</key>
				<string>207</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致307</string>
				<key>id</key>
				<string>488</string>
				<key>imageFile</key>
				<string>标致307_id488.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/488.jpg</string>
				<key>name</key>
				<string>307</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致4008</string>
				<key>id</key>
				<string>33712</string>
				<key>imageFile</key>
				<string>标致4008_id33712.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33712.jpg</string>
				<key>name</key>
				<string>4008</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致5008</string>
				<key>id</key>
				<string>40028</string>
				<key>imageFile</key>
				<string>标致5008_id40028.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40028.jpg</string>
				<key>name</key>
				<string>5008</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致508L</string>
				<key>id</key>
				<string>45696</string>
				<key>imageFile</key>
				<string>标致508L_id45696.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>508L</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风标致</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>491</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致207 CC</string>
				<key>id</key>
				<string>492</string>
				<key>imageFile</key>
				<string>标致207 CC_id492.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/492.jpg</string>
				<key>name</key>
				<string>207 CC</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致4008(进口)</string>
				<key>id</key>
				<string>495</string>
				<key>imageFile</key>
				<string>标致4008(进口)_id495.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/495.jpg</string>
				<key>name</key>
				<string>4008</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致RCZ</string>
				<key>id</key>
				<string>496</string>
				<key>imageFile</key>
				<string>标致RCZ_id496.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/496.jpg</string>
				<key>name</key>
				<string>RCZ</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致308(进口)</string>
				<key>id</key>
				<string>499</string>
				<key>imageFile</key>
				<string>标致308(进口)_id499.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/499.jpg</string>
				<key>name</key>
				<string>308</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致206(进口)</string>
				<key>id</key>
				<string>501</string>
				<key>imageFile</key>
				<string>标致206(进口)_id501.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/501.jpg</string>
				<key>name</key>
				<string>206</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致3008(进口)</string>
				<key>id</key>
				<string>502</string>
				<key>imageFile</key>
				<string>标致3008(进口)_id502.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/502.jpg</string>
				<key>name</key>
				<string>3008</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致407</string>
				<key>id</key>
				<string>503</string>
				<key>imageFile</key>
				<string>标致407_id503.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/503.jpg</string>
				<key>name</key>
				<string>407</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致307(进口)</string>
				<key>id</key>
				<string>508</string>
				<key>imageFile</key>
				<string>标致307(进口)_id508.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/508.jpg</string>
				<key>name</key>
				<string>307</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致406</string>
				<key>id</key>
				<string>512</string>
				<key>imageFile</key>
				<string>标致406_id512.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/512.jpg</string>
				<key>name</key>
				<string>406</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致607</string>
				<key>id</key>
				<string>513</string>
				<key>imageFile</key>
				<string>标致607_id513.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/513.jpg</string>
				<key>name</key>
				<string>607</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>标致807</string>
				<key>id</key>
				<string>514</string>
				<key>imageFile</key>
				<string>标致807_id514.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/514.jpg</string>
				<key>name</key>
				<string>807</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口标致</string>
	</dict>
</array>
</plist>
