<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1867</string>
		<key>initial</key>
		<string>O</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雅特</string>
				<key>id</key>
				<string>1868</string>
				<key>imageFile</key>
				<string>雅特_id1868.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1868.jpg</string>
				<key>name</key>
				<string>雅特</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>安德拉</string>
				<key>id</key>
				<string>1869</string>
				<key>imageFile</key>
				<string>安德拉_id1869.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1869.jpg</string>
				<key>name</key>
				<string>安德拉</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>麦瑞纳</string>
				<key>id</key>
				<string>1870</string>
				<key>imageFile</key>
				<string>麦瑞纳_id1870.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1870.jpg</string>
				<key>name</key>
				<string>麦瑞纳</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧宝GT</string>
				<key>id</key>
				<string>1871</string>
				<key>imageFile</key>
				<string>欧宝GT_id1871.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1871.jpg</string>
				<key>name</key>
				<string>GT</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛飞利</string>
				<key>id</key>
				<string>1874</string>
				<key>imageFile</key>
				<string>赛飞利_id1874.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1874.jpg</string>
				<key>name</key>
				<string>赛飞利</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威达</string>
				<key>id</key>
				<string>1875</string>
				<key>imageFile</key>
				<string>威达_id1875.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1875.jpg</string>
				<key>name</key>
				<string>威达</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英速亚</string>
				<key>id</key>
				<string>1876</string>
				<key>imageFile</key>
				<string>英速亚_id1876.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1876.jpg</string>
				<key>name</key>
				<string>英速亚</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口欧宝</string>
	</dict>
</array>
</plist>
