<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>442</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比亚迪F0</string>
				<key>id</key>
				<string>445</string>
				<key>imageFile</key>
				<string>比亚迪F0_id445.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/445.jpg</string>
				<key>name</key>
				<string>F0</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比亚迪F3</string>
				<key>id</key>
				<string>446</string>
				<key>imageFile</key>
				<string>比亚迪F3_id446.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/446.jpg</string>
				<key>name</key>
				<string>F3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比亚迪G3</string>
				<key>id</key>
				<string>448</string>
				<key>imageFile</key>
				<string>比亚迪G3_id448.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/448.jpg</string>
				<key>name</key>
				<string>G3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比亚迪G5</string>
				<key>id</key>
				<string>449</string>
				<key>imageFile</key>
				<string>比亚迪G5_id449.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/449.jpg</string>
				<key>name</key>
				<string>G5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比亚迪G6</string>
				<key>id</key>
				<string>450</string>
				<key>imageFile</key>
				<string>比亚迪G6_id450.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/450.jpg</string>
				<key>name</key>
				<string>G6</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比亚迪L3</string>
				<key>id</key>
				<string>451</string>
				<key>imageFile</key>
				<string>比亚迪L3_id451.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/451.jpg</string>
				<key>name</key>
				<string>L3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比亚迪M6</string>
				<key>id</key>
				<string>452</string>
				<key>imageFile</key>
				<string>比亚迪M6_id452.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/452.jpg</string>
				<key>name</key>
				<string>M6</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宋</string>
				<key>id</key>
				<string>454</string>
				<key>imageFile</key>
				<string>宋_id454.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/454.jpg</string>
				<key>name</key>
				<string>宋</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比亚迪S6</string>
				<key>id</key>
				<string>455</string>
				<key>imageFile</key>
				<string>比亚迪S6_id455.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/455.jpg</string>
				<key>name</key>
				<string>S6</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比亚迪S7</string>
				<key>id</key>
				<string>456</string>
				<key>imageFile</key>
				<string>比亚迪S7_id456.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/456.jpg</string>
				<key>name</key>
				<string>S7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>速锐</string>
				<key>id</key>
				<string>457</string>
				<key>imageFile</key>
				<string>速锐_id457.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/457.jpg</string>
				<key>name</key>
				<string>速锐</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>思锐</string>
				<key>id</key>
				<string>458</string>
				<key>imageFile</key>
				<string>思锐_id458.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/458.jpg</string>
				<key>name</key>
				<string>思锐</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>元</string>
				<key>id</key>
				<string>462</string>
				<key>imageFile</key>
				<string>元_id462.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/462.jpg</string>
				<key>name</key>
				<string>元</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比亚迪F6</string>
				<key>id</key>
				<string>464</string>
				<key>imageFile</key>
				<string>比亚迪F6_id464.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/464.jpg</string>
				<key>name</key>
				<string>F6</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福莱尔</string>
				<key>id</key>
				<string>465</string>
				<key>imageFile</key>
				<string>福莱尔_id465.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/465.jpg</string>
				<key>name</key>
				<string>福莱尔</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比亚迪S8</string>
				<key>id</key>
				<string>467</string>
				<key>imageFile</key>
				<string>比亚迪S8_id467.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/467.jpg</string>
				<key>name</key>
				<string>S8</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宋MAX</string>
				<key>id</key>
				<string>40023</string>
				<key>imageFile</key>
				<string>宋MAX_id40023.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40023.jpg</string>
				<key>name</key>
				<string>宋MAX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>唐</string>
				<key>id</key>
				<string>44284</string>
				<key>imageFile</key>
				<string>唐_id44284.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44284.jpg</string>
				<key>name</key>
				<string>唐</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>秦Pro</string>
				<key>id</key>
				<string>45691</string>
				<key>imageFile</key>
				<string>秦Pro_id45691.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>秦Pro</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>比亚迪</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40024</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比亚迪e5</string>
				<key>id</key>
				<string>443</string>
				<key>imageFile</key>
				<string>比亚迪e5_id443.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/443.jpg</string>
				<key>name</key>
				<string>e5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比亚迪e6</string>
				<key>id</key>
				<string>444</string>
				<key>imageFile</key>
				<string>比亚迪e6_id444.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/444.jpg</string>
				<key>name</key>
				<string>e6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>秦DM</string>
				<key>id</key>
				<string>453</string>
				<key>imageFile</key>
				<string>秦DM_id453.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/453.jpg</string>
				<key>name</key>
				<string>秦DM</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>唐DM</string>
				<key>id</key>
				<string>459</string>
				<key>imageFile</key>
				<string>唐DM_id459.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/459.jpg</string>
				<key>name</key>
				<string>唐DM</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比亚迪F3DM</string>
				<key>id</key>
				<string>463</string>
				<key>imageFile</key>
				<string>比亚迪F3DM_id463.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/463.jpg</string>
				<key>name</key>
				<string>F3DM</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>秦EV</string>
				<key>id</key>
				<string>33710</string>
				<key>imageFile</key>
				<string>秦EV_id33710.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33710.jpg</string>
				<key>name</key>
				<string>秦EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宋DM</string>
				<key>id</key>
				<string>40025</string>
				<key>imageFile</key>
				<string>宋DM_id40025.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40025.jpg</string>
				<key>name</key>
				<string>宋DM</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宋EV</string>
				<key>id</key>
				<string>40026</string>
				<key>imageFile</key>
				<string>宋EV_id40026.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40026.jpg</string>
				<key>name</key>
				<string>宋EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>元 插电混动</string>
				<key>id</key>
				<string>42118</string>
				<key>imageFile</key>
				<string>元 插电混动_id42118.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>元 插电混动</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>元EV</string>
				<key>id</key>
				<string>44285</string>
				<key>imageFile</key>
				<string>元EV_id44285.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44285.jpg</string>
				<key>name</key>
				<string>元EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宋MAX DM</string>
				<key>id</key>
				<string>45406</string>
				<key>imageFile</key>
				<string>宋MAX DM_id45406.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>宋MAX DM</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>秦Pro DM</string>
				<key>id</key>
				<string>45692</string>
				<key>imageFile</key>
				<string>秦Pro DM_id45692.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>秦Pro DM</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>秦Pro EV</string>
				<key>id</key>
				<string>45693</string>
				<key>imageFile</key>
				<string>秦Pro EV_id45693.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>秦Pro EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>唐EV</string>
				<key>id</key>
				<string>45694</string>
				<key>imageFile</key>
				<string>唐EV_id45694.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>唐EV</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>比亚迪新能源</string>
	</dict>
</array>
</plist>
