<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>33850</string>
		<key>initial</key>
		<string>B</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比速M3</string>
				<key>id</key>
				<string>33851</string>
				<key>imageFile</key>
				<string>比速M3_id33851.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33851.jpg</string>
				<key>name</key>
				<string>M3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比速T3</string>
				<key>id</key>
				<string>33852</string>
				<key>imageFile</key>
				<string>比速T3_id33852.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33852.jpg</string>
				<key>name</key>
				<string>T3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比速T5</string>
				<key>id</key>
				<string>40169</string>
				<key>imageFile</key>
				<string>比速T5_id40169.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40169.jpg</string>
				<key>name</key>
				<string>T5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>比速T7</string>
				<key>id</key>
				<string>44304</string>
				<key>imageFile</key>
				<string>比速T7_id44304.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>T7</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>比速汽车</string>
	</dict>
</array>
</plist>
