<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2459</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>永源A380</string>
				<key>id</key>
				<string>2460</string>
				<key>imageFile</key>
				<string>永源A380_id2460.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2460.jpg</string>
				<key>name</key>
				<string>A380</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风景线</string>
				<key>id</key>
				<string>2461</string>
				<key>imageFile</key>
				<string>风景线_id2461.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2461.jpg</string>
				<key>name</key>
				<string>风景线</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>猎鹰</string>
				<key>id</key>
				<string>2462</string>
				<key>imageFile</key>
				<string>猎鹰_id2462.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2462.JPG</string>
				<key>name</key>
				<string>猎鹰</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>五星</string>
				<key>id</key>
				<string>2463</string>
				<key>imageFile</key>
				<string>五星_id2463.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2463.jpg</string>
				<key>name</key>
				<string>五星</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>庄威</string>
				<key>id</key>
				<string>2464</string>
				<key>imageFile</key>
				<string>庄威_id2464.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2464.jpg</string>
				<key>name</key>
				<string>庄威</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>永源汽车</string>
	</dict>
</array>
</plist>
