<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1347</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宾悦</string>
				<key>id</key>
				<string>1348</string>
				<key>imageFile</key>
				<string>宾悦_id1348.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1348.jpg</string>
				<key>name</key>
				<string>宾悦</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞风S5</string>
				<key>id</key>
				<string>1349</string>
				<key>imageFile</key>
				<string>瑞风S5_id1349.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1349.jpg</string>
				<key>name</key>
				<string>瑞风S5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>和悦</string>
				<key>id</key>
				<string>1350</string>
				<key>imageFile</key>
				<string>和悦_id1350.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1350.jpg</string>
				<key>name</key>
				<string>和悦</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>和悦A13</string>
				<key>id</key>
				<string>1351</string>
				<key>imageFile</key>
				<string>和悦A13_id1351.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1351.JPG</string>
				<key>name</key>
				<string>和悦A13</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>和悦A30</string>
				<key>id</key>
				<string>1353</string>
				<key>imageFile</key>
				<string>和悦A30_id1353.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1353.jpg</string>
				<key>name</key>
				<string>和悦A30</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞风</string>
				<key>id</key>
				<string>1357</string>
				<key>imageFile</key>
				<string>瑞风_id1357.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1357.jpg</string>
				<key>name</key>
				<string>瑞风</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞风M2</string>
				<key>id</key>
				<string>1359</string>
				<key>imageFile</key>
				<string>瑞风M2_id1359.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1359.jpg</string>
				<key>name</key>
				<string>瑞风M2</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞风M3</string>
				<key>id</key>
				<string>1360</string>
				<key>imageFile</key>
				<string>瑞风M3_id1360.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1360.jpg</string>
				<key>name</key>
				<string>瑞风M3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞风M5</string>
				<key>id</key>
				<string>1361</string>
				<key>imageFile</key>
				<string>瑞风M5_id1361.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1361.jpg</string>
				<key>name</key>
				<string>瑞风M5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞风S2</string>
				<key>id</key>
				<string>1362</string>
				<key>imageFile</key>
				<string>瑞风S2_id1362.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1362.jpg</string>
				<key>name</key>
				<string>瑞风S2</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞风S3</string>
				<key>id</key>
				<string>1363</string>
				<key>imageFile</key>
				<string>瑞风S3_id1363.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1363.jpg</string>
				<key>name</key>
				<string>瑞风S3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞铃</string>
				<key>id</key>
				<string>1365</string>
				<key>imageFile</key>
				<string>瑞铃_id1365.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1365.jpg</string>
				<key>name</key>
				<string>瑞铃</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞鹰</string>
				<key>id</key>
				<string>1366</string>
				<key>imageFile</key>
				<string>瑞鹰_id1366.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1366.jpg</string>
				<key>name</key>
				<string>瑞鹰</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帅铃T6</string>
				<key>id</key>
				<string>1367</string>
				<key>imageFile</key>
				<string>帅铃T6_id1367.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1367.jpg</string>
				<key>name</key>
				<string>帅铃T6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>星锐</string>
				<key>id</key>
				<string>1368</string>
				<key>imageFile</key>
				<string>星锐_id1368.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1368.jpg</string>
				<key>name</key>
				<string>星锐</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>悦悦</string>
				<key>id</key>
				<string>1369</string>
				<key>imageFile</key>
				<string>悦悦_id1369.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1369.jpg</string>
				<key>name</key>
				<string>悦悦</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞风A60</string>
				<key>id</key>
				<string>1373</string>
				<key>imageFile</key>
				<string>瑞风A60_id1373.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1373.jpg</string>
				<key>name</key>
				<string>瑞风A60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞风M4</string>
				<key>id</key>
				<string>33773</string>
				<key>imageFile</key>
				<string>瑞风M4_id33773.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33773.jpg</string>
				<key>name</key>
				<string>瑞风M4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞风S2mini</string>
				<key>id</key>
				<string>33774</string>
				<key>imageFile</key>
				<string>瑞风S2mini_id33774.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33774.JPG</string>
				<key>name</key>
				<string>瑞风S2mini</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞风S7</string>
				<key>id</key>
				<string>40078</string>
				<key>imageFile</key>
				<string>瑞风S7_id40078.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40078.JPG</string>
				<key>name</key>
				<string>瑞风S7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帅铃V6</string>
				<key>id</key>
				<string>40079</string>
				<key>imageFile</key>
				<string>帅铃V6_id40079.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40079.jpg</string>
				<key>name</key>
				<string>帅铃V6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞风M6</string>
				<key>id</key>
				<string>41913</string>
				<key>imageFile</key>
				<string>瑞风M6_id41913.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41913.jpg</string>
				<key>name</key>
				<string>瑞风M6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江淮V7</string>
				<key>id</key>
				<string>42156</string>
				<key>imageFile</key>
				<string>江淮V7_id42156.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42156.jpg</string>
				<key>name</key>
				<string>V7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞风R3</string>
				<key>id</key>
				<string>42157</string>
				<key>imageFile</key>
				<string>瑞风R3_id42157.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42157.jpg</string>
				<key>name</key>
				<string>瑞风R3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞风S4</string>
				<key>id</key>
				<string>45421</string>
				<key>imageFile</key>
				<string>瑞风S4_id45421.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>瑞风S4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>帅铃T8</string>
				<key>id</key>
				<string>45422</string>
				<key>imageFile</key>
				<string>帅铃T8_id45422.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>帅铃T8</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>江淮乘用车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40076</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江淮iEV4</string>
				<key>id</key>
				<string>1354</string>
				<key>imageFile</key>
				<string>江淮iEV4_id1354.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1354.jpg</string>
				<key>name</key>
				<string>iEV4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江淮iEV6S</string>
				<key>id</key>
				<string>1370</string>
				<key>imageFile</key>
				<string>江淮iEV6S_id1370.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1370.JPG</string>
				<key>name</key>
				<string>iEV6S</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江淮iEV6E</string>
				<key>id</key>
				<string>40077</string>
				<key>imageFile</key>
				<string>江淮iEV6E_id40077.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40077.jpg</string>
				<key>name</key>
				<string>iEV6E</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江淮iEV7S</string>
				<key>id</key>
				<string>41361</string>
				<key>imageFile</key>
				<string>江淮iEV7S_id41361.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41361.jpg</string>
				<key>name</key>
				<string>iEV7S</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江淮iEV7</string>
				<key>id</key>
				<string>42158</string>
				<key>imageFile</key>
				<string>江淮iEV7_id42158.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42158.jpg</string>
				<key>name</key>
				<string>iEV7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江淮iEVA50</string>
				<key>id</key>
				<string>42159</string>
				<key>imageFile</key>
				<string>江淮iEVA50_id42159.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42159.jpg</string>
				<key>name</key>
				<string>iEVA50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江淮iEVA60</string>
				<key>id</key>
				<string>45744</string>
				<key>imageFile</key>
				<string>江淮iEVA60_id45744.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>iEVA60</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江淮iEVS4</string>
				<key>id</key>
				<string>45745</string>
				<key>imageFile</key>
				<string>江淮iEVS4_id45745.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>iEVS4</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>江淮新能源</string>
	</dict>
</array>
</plist>
