<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1413</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝典</string>
				<key>id</key>
				<string>1414</string>
				<key>imageFile</key>
				<string>宝典_id1414.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1414.JPG</string>
				<key>name</key>
				<string>宝典</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>顺达宽体</string>
				<key>id</key>
				<string>1417</string>
				<key>imageFile</key>
				<string>顺达宽体_id1417.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1417.jpg</string>
				<key>name</key>
				<string>顺达宽体</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯锐800</string>
				<key>id</key>
				<string>1418</string>
				<key>imageFile</key>
				<string>凯锐800_id1418.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1418.jpg</string>
				<key>name</key>
				<string>凯锐800</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>顺达窄体</string>
				<key>id</key>
				<string>1420</string>
				<key>imageFile</key>
				<string>顺达窄体_id1420.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1420.jpg</string>
				<key>name</key>
				<string>顺达窄体</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯运升级版</string>
				<key>id</key>
				<string>1421</string>
				<key>imageFile</key>
				<string>凯运升级版_id1421.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1421.jpg</string>
				<key>name</key>
				<string>凯运升级版</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>域虎7</string>
				<key>id</key>
				<string>1422</string>
				<key>imageFile</key>
				<string>域虎7_id1422.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1422.jpg</string>
				<key>name</key>
				<string>域虎7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>宝威</string>
				<key>id</key>
				<string>1424</string>
				<key>imageFile</key>
				<string>宝威_id1424.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1424.jpg</string>
				<key>name</key>
				<string>宝威</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯锐</string>
				<key>id</key>
				<string>1425</string>
				<key>imageFile</key>
				<string>凯锐_id1425.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1425.jpg</string>
				<key>name</key>
				<string>凯锐</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯威</string>
				<key>id</key>
				<string>1426</string>
				<key>imageFile</key>
				<string>凯威_id1426.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1426.jpg</string>
				<key>name</key>
				<string>凯威</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>特顺</string>
				<key>id</key>
				<string>40090</string>
				<key>imageFile</key>
				<string>特顺_id40090.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40090.jpg</string>
				<key>name</key>
				<string>特顺</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>域虎3</string>
				<key>id</key>
				<string>45423</string>
				<key>imageFile</key>
				<string>域虎3_id45423.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>域虎3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>域虎5</string>
				<key>id</key>
				<string>45748</string>
				<key>imageFile</key>
				<string>域虎5_id45748.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>域虎5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>江铃汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1464</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骐铃T3</string>
				<key>id</key>
				<string>1465</string>
				<key>imageFile</key>
				<string>骐铃T3_id1465.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1465.jpg</string>
				<key>name</key>
				<string>骐铃T3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骐铃T5</string>
				<key>id</key>
				<string>1466</string>
				<key>imageFile</key>
				<string>骐铃T5_id1466.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1466.JPG</string>
				<key>name</key>
				<string>骐铃T5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骐铃T7</string>
				<key>id</key>
				<string>1467</string>
				<key>imageFile</key>
				<string>骐铃T7_id1467.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1467.jpg</string>
				<key>name</key>
				<string>骐铃T7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骐铃T100</string>
				<key>id</key>
				<string>40091</string>
				<key>imageFile</key>
				<string>骐铃T100_id40091.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40091.gif</string>
				<key>name</key>
				<string>骐铃T100</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>江铃轻汽</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40082</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>D-MAX房车</string>
				<key>id</key>
				<string>40083</string>
				<key>imageFile</key>
				<string>D-MAX房车_id40083.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40083.jpg</string>
				<key>name</key>
				<string>D-MAX房车</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>考斯特房车</string>
				<key>id</key>
				<string>40084</string>
				<key>imageFile</key>
				<string>考斯特房车_id40084.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40084.gif</string>
				<key>name</key>
				<string>考斯特房车</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>旅居房车</string>
				<key>id</key>
				<string>40085</string>
				<key>imageFile</key>
				<string>旅居房车_id40085.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40085.jpg</string>
				<key>name</key>
				<string>旅居房车</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>罗莎房车租赁款</string>
				<key>id</key>
				<string>40086</string>
				<key>imageFile</key>
				<string>罗莎房车租赁款_id40086.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40086.gif</string>
				<key>name</key>
				<string>罗莎房车租赁款</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>商旅房车</string>
				<key>id</key>
				<string>40087</string>
				<key>imageFile</key>
				<string>商旅房车_id40087.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40087.gif</string>
				<key>name</key>
				<string>商旅房车</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>商旅房车经典款</string>
				<key>id</key>
				<string>40088</string>
				<key>imageFile</key>
				<string>商旅房车经典款_id40088.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40088.gif</string>
				<key>name</key>
				<string>商旅房车经典款</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途睿欧商务车</string>
				<key>id</key>
				<string>40089</string>
				<key>imageFile</key>
				<string>途睿欧商务车_id40089.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40089.jpg</string>
				<key>name</key>
				<string>途睿欧商务车</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骐铃T7皮卡房车</string>
				<key>id</key>
				<string>41914</string>
				<key>imageFile</key>
				<string>骐铃T7皮卡房车_id41914.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41914.jpg</string>
				<key>name</key>
				<string>骐铃T7皮卡房车</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>全顺商旅房车</string>
				<key>id</key>
				<string>45746</string>
				<key>imageFile</key>
				<string>全顺商旅房车_id45746.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>全顺商旅房车</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>全顺T型房车</string>
				<key>id</key>
				<string>45747</string>
				<key>imageFile</key>
				<string>全顺T型房车_id45747.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>全顺T型房车</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>江铃旅居车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40092</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江铃E100B</string>
				<key>id</key>
				<string>40093</string>
				<key>imageFile</key>
				<string>江铃E100B_id40093.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40093.gif</string>
				<key>name</key>
				<string>E100B</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江铃E160</string>
				<key>id</key>
				<string>40094</string>
				<key>imageFile</key>
				<string>江铃E160_id40094.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40094.gif</string>
				<key>name</key>
				<string>E160</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江铃E200L</string>
				<key>id</key>
				<string>40095</string>
				<key>imageFile</key>
				<string>江铃E200L_id40095.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40095.gif</string>
				<key>name</key>
				<string>E200L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江铃E200N</string>
				<key>id</key>
				<string>40096</string>
				<key>imageFile</key>
				<string>江铃E200N_id40096.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40096.gif</string>
				<key>name</key>
				<string>E200N</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江铃E400</string>
				<key>id</key>
				<string>42164</string>
				<key>imageFile</key>
				<string>江铃E400_id42164.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42164.jpg</string>
				<key>name</key>
				<string>E400</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>江铃E300</string>
				<key>id</key>
				<string>45749</string>
				<key>imageFile</key>
				<string>江铃E300_id45749.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>E300</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>江铃新能源</string>
	</dict>
</array>
</plist>
