<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2196</string>
		<key>initial</key>
		<string>W</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃S80L</string>
				<key>id</key>
				<string>2197</string>
				<key>imageFile</key>
				<string>沃尔沃S80L_id2197.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2197.png</string>
				<key>name</key>
				<string>S80L</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安沃尔沃S40</string>
				<key>id</key>
				<string>2198</string>
				<key>imageFile</key>
				<string>长安沃尔沃S40_id2198.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2198.JPG</string>
				<key>name</key>
				<string>S40</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长安沃尔沃</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2199</string>
		<key>initial</key>
		<string>W</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃S60L</string>
				<key>id</key>
				<string>2200</string>
				<key>imageFile</key>
				<string>沃尔沃S60L_id2200.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2200.jpg</string>
				<key>name</key>
				<string>S60L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃 XC Classic</string>
				<key>id</key>
				<string>2201</string>
				<key>imageFile</key>
				<string>沃尔沃 XC Classic_id2201.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2201.png</string>
				<key>name</key>
				<string>XC Classic</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃XC60</string>
				<key>id</key>
				<string>2202</string>
				<key>imageFile</key>
				<string>沃尔沃XC60_id2202.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2202.jpg</string>
				<key>name</key>
				<string>XC60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃S90</string>
				<key>id</key>
				<string>33823</string>
				<key>imageFile</key>
				<string>沃尔沃S90_id33823.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33823.jpg</string>
				<key>name</key>
				<string>S90</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃XC40</string>
				<key>id</key>
				<string>45431</string>
				<key>imageFile</key>
				<string>沃尔沃XC40_id45431.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>XC40</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>沃尔沃亚太</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2203</string>
		<key>initial</key>
		<string>W</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃S60</string>
				<key>id</key>
				<string>2204</string>
				<key>imageFile</key>
				<string>沃尔沃S60_id2204.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2204.jpg</string>
				<key>name</key>
				<string>S60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃V40</string>
				<key>id</key>
				<string>2205</string>
				<key>imageFile</key>
				<string>沃尔沃V40_id2205.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2205.jpg</string>
				<key>name</key>
				<string>V40</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃V60</string>
				<key>id</key>
				<string>2207</string>
				<key>imageFile</key>
				<string>沃尔沃V60_id2207.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2207.jpg</string>
				<key>name</key>
				<string>V60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃XC90</string>
				<key>id</key>
				<string>2209</string>
				<key>imageFile</key>
				<string>沃尔沃XC90_id2209.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2209.jpg</string>
				<key>name</key>
				<string>XC90</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃S90(进口)</string>
				<key>id</key>
				<string>2210</string>
				<key>imageFile</key>
				<string>沃尔沃S90(进口)_id2210.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2210.jpg</string>
				<key>name</key>
				<string>S90</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃V90</string>
				<key>id</key>
				<string>2211</string>
				<key>imageFile</key>
				<string>沃尔沃V90_id2211.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2211.jpg</string>
				<key>name</key>
				<string>V90</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃C30</string>
				<key>id</key>
				<string>2212</string>
				<key>imageFile</key>
				<string>沃尔沃C30_id2212.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2212.jpg</string>
				<key>name</key>
				<string>C30</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃C70</string>
				<key>id</key>
				<string>2213</string>
				<key>imageFile</key>
				<string>沃尔沃C70_id2213.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2213.JPG</string>
				<key>name</key>
				<string>C70</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃S40(进口)</string>
				<key>id</key>
				<string>2214</string>
				<key>imageFile</key>
				<string>沃尔沃S40(进口)_id2214.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2214.jpg</string>
				<key>name</key>
				<string>S40</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃S70</string>
				<key>id</key>
				<string>2215</string>
				<key>imageFile</key>
				<string>沃尔沃S70_id2215.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2215.gif</string>
				<key>name</key>
				<string>S70</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃S80</string>
				<key>id</key>
				<string>2216</string>
				<key>imageFile</key>
				<string>沃尔沃S80_id2216.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2216.jpg</string>
				<key>name</key>
				<string>S80</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃V70</string>
				<key>id</key>
				<string>2217</string>
				<key>imageFile</key>
				<string>沃尔沃V70_id2217.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2217.jpg</string>
				<key>name</key>
				<string>V70</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃XC60(进口)</string>
				<key>id</key>
				<string>2218</string>
				<key>imageFile</key>
				<string>沃尔沃XC60(进口)_id2218.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2218.jpg</string>
				<key>name</key>
				<string>XC60</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃XC70</string>
				<key>id</key>
				<string>2219</string>
				<key>imageFile</key>
				<string>沃尔沃XC70_id2219.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2219.gif</string>
				<key>name</key>
				<string>XC70</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃XC40</string>
				<key>id</key>
				<string>41364</string>
				<key>imageFile</key>
				<string>沃尔沃XC40_id41364.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41364.gif</string>
				<key>name</key>
				<string>XC40</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口沃尔沃</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40138</string>
		<key>initial</key>
		<string>W</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃S60L 插电混动</string>
				<key>id</key>
				<string>40139</string>
				<key>imageFile</key>
				<string>沃尔沃S60L 插电混动_id40139.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40139.jpg</string>
				<key>name</key>
				<string>S60L 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃XC60 插电混动</string>
				<key>id</key>
				<string>42195</string>
				<key>imageFile</key>
				<string>沃尔沃XC60 插电混动_id42195.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42195.jpg</string>
				<key>name</key>
				<string>XC60 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃S90 插电混动</string>
				<key>id</key>
				<string>44733</string>
				<key>imageFile</key>
				<string>沃尔沃S90 插电混动_id44733.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44733.jpg</string>
				<key>name</key>
				<string>S90 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>沃尔沃亚太新能源</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40140</string>
		<key>initial</key>
		<string>W</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃尔沃XC90 插电混动</string>
				<key>id</key>
				<string>40141</string>
				<key>imageFile</key>
				<string>沃尔沃XC90 插电混动_id40141.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40141.gif</string>
				<key>name</key>
				<string>XC90 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口沃尔沃新能源</string>
	</dict>
</array>
</plist>
