<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1034</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利458</string>
				<key>id</key>
				<string>1035</string>
				<key>imageFile</key>
				<string>法拉利458_id1035.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1035.jpg</string>
				<key>name</key>
				<string>458</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利488</string>
				<key>id</key>
				<string>1036</string>
				<key>imageFile</key>
				<string>法拉利488_id1036.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1036.jpg</string>
				<key>name</key>
				<string>488</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利599</string>
				<key>id</key>
				<string>1037</string>
				<key>imageFile</key>
				<string>法拉利599_id1037.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1037.jpg</string>
				<key>name</key>
				<string>599</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利California T</string>
				<key>id</key>
				<string>1038</string>
				<key>imageFile</key>
				<string>法拉利California T_id1038.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1038.jpg</string>
				<key>name</key>
				<string>California T</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利F12berlinetta</string>
				<key>id</key>
				<string>1039</string>
				<key>imageFile</key>
				<string>法拉利F12berlinetta_id1039.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1039.jpg</string>
				<key>name</key>
				<string>F12berlinetta</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利FF</string>
				<key>id</key>
				<string>1040</string>
				<key>imageFile</key>
				<string>法拉利FF_id1040.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1040.jpg</string>
				<key>name</key>
				<string>FF</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利LaFerrari</string>
				<key>id</key>
				<string>1041</string>
				<key>imageFile</key>
				<string>法拉利LaFerrari_id1041.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1041.jpg</string>
				<key>name</key>
				<string>LaFerrari</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利360 Modena</string>
				<key>id</key>
				<string>1042</string>
				<key>imageFile</key>
				<string>法拉利360 Modena_id1042.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1042.jpg</string>
				<key>name</key>
				<string>360 Modena</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利456M</string>
				<key>id</key>
				<string>1043</string>
				<key>imageFile</key>
				<string>法拉利456M_id1043.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1043.jpg</string>
				<key>name</key>
				<string>456M</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利575M Maranello</string>
				<key>id</key>
				<string>1044</string>
				<key>imageFile</key>
				<string>法拉利575M Maranello_id1044.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1044.jpg</string>
				<key>name</key>
				<string>575M Maranello</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利612 Scaglietti</string>
				<key>id</key>
				<string>1045</string>
				<key>imageFile</key>
				<string>法拉利612 Scaglietti_id1045.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1045.jpg</string>
				<key>name</key>
				<string>612 Scaglietti</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利ENZO</string>
				<key>id</key>
				<string>1046</string>
				<key>imageFile</key>
				<string>法拉利ENZO_id1046.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1046.jpg</string>
				<key>name</key>
				<string>ENZO</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利F430</string>
				<key>id</key>
				<string>1047</string>
				<key>imageFile</key>
				<string>法拉利F430_id1047.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1047.jpg</string>
				<key>name</key>
				<string>F430</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利GTC4Lusso</string>
				<key>id</key>
				<string>33761</string>
				<key>imageFile</key>
				<string>法拉利GTC4Lusso_id33761.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33761.jpg</string>
				<key>name</key>
				<string>GTC4Lusso</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利812Superfast</string>
				<key>id</key>
				<string>40053</string>
				<key>imageFile</key>
				<string>法拉利812Superfast_id40053.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40053.jpg</string>
				<key>name</key>
				<string>812Superfast</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>法拉利Portofino</string>
				<key>id</key>
				<string>42149</string>
				<key>imageFile</key>
				<string>法拉利Portofino_id42149.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42149.jpg</string>
				<key>name</key>
				<string>Portofino</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口法拉利</string>
	</dict>
</array>
</plist>
