<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1179</string>
		<key>initial</key>
		<string>H</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福美来F5</string>
				<key>id</key>
				<string>1180</string>
				<key>imageFile</key>
				<string>福美来F5_id1180.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1180.jpg</string>
				<key>name</key>
				<string>福美来F5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海福星</string>
				<key>id</key>
				<string>1182</string>
				<key>imageFile</key>
				<string>海福星_id1182.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1182.jpg</string>
				<key>name</key>
				<string>海福星</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骑士</string>
				<key>id</key>
				<string>1183</string>
				<key>imageFile</key>
				<string>骑士_id1183.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1183.jpg</string>
				<key>name</key>
				<string>骑士</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海马M8</string>
				<key>id</key>
				<string>1184</string>
				<key>imageFile</key>
				<string>海马M8_id1184.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1184.JPG</string>
				<key>name</key>
				<string>M8</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>普力马</string>
				<key>id</key>
				<string>1185</string>
				<key>imageFile</key>
				<string>普力马_id1185.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1185.jpg</string>
				<key>name</key>
				<string>普力马</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>丘比特</string>
				<key>id</key>
				<string>1186</string>
				<key>imageFile</key>
				<string>丘比特_id1186.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1186.jpg</string>
				<key>name</key>
				<string>丘比特</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海马S7</string>
				<key>id</key>
				<string>1187</string>
				<key>imageFile</key>
				<string>海马S7_id1187.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1187.jpg</string>
				<key>name</key>
				<string>S7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福美来F7</string>
				<key>id</key>
				<string>1188</string>
				<key>imageFile</key>
				<string>福美来F7_id1188.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1188.jpg</string>
				<key>name</key>
				<string>福美来F7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欢动</string>
				<key>id</key>
				<string>1189</string>
				<key>imageFile</key>
				<string>欢动_id1189.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1189.jpg</string>
				<key>name</key>
				<string>欢动</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海马3</string>
				<key>id</key>
				<string>1190</string>
				<key>imageFile</key>
				<string>海马3_id1190.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1190.jpg</string>
				<key>name</key>
				<string>海马3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达323</string>
				<key>id</key>
				<string>1192</string>
				<key>imageFile</key>
				<string>马自达323_id1192.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1192.jpg</string>
				<key>name</key>
				<string>323</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽海马</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1193</string>
		<key>initial</key>
		<string>H</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海马M3</string>
				<key>id</key>
				<string>1194</string>
				<key>imageFile</key>
				<string>海马M3_id1194.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1194.jpg</string>
				<key>name</key>
				<string>M3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海马M6</string>
				<key>id</key>
				<string>1195</string>
				<key>imageFile</key>
				<string>海马M6_id1195.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1195.jpg</string>
				<key>name</key>
				<string>M6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海马S5</string>
				<key>id</key>
				<string>1196</string>
				<key>imageFile</key>
				<string>海马S5_id1196.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1196.jpg</string>
				<key>name</key>
				<string>S5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福仕达福卡</string>
				<key>id</key>
				<string>1263</string>
				<key>imageFile</key>
				<string>福仕达福卡_id1263.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1263.jpg</string>
				<key>name</key>
				<string>福仕达福卡</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福仕达鸿达</string>
				<key>id</key>
				<string>1264</string>
				<key>imageFile</key>
				<string>福仕达鸿达_id1264.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1264.jpg</string>
				<key>name</key>
				<string>福仕达鸿达</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福仕达荣达</string>
				<key>id</key>
				<string>1265</string>
				<key>imageFile</key>
				<string>福仕达荣达_id1265.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1265.jpg</string>
				<key>name</key>
				<string>福仕达荣达</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福仕达新鸿达</string>
				<key>id</key>
				<string>1266</string>
				<key>imageFile</key>
				<string>福仕达新鸿达_id1266.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1266.jpg</string>
				<key>name</key>
				<string>福仕达新鸿达</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福仕达腾达</string>
				<key>id</key>
				<string>1267</string>
				<key>imageFile</key>
				<string>福仕达腾达_id1267.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1267.jpg</string>
				<key>name</key>
				<string>福仕达腾达</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海马爱尚</string>
				<key>id</key>
				<string>1268</string>
				<key>imageFile</key>
				<string>海马爱尚_id1268.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1268.jpg</string>
				<key>name</key>
				<string>爱尚</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海马王子</string>
				<key>id</key>
				<string>1269</string>
				<key>imageFile</key>
				<string>海马王子_id1269.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1269.jpg</string>
				<key>name</key>
				<string>王子</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>腾达</string>
				<key>id</key>
				<string>1270</string>
				<key>imageFile</key>
				<string>腾达_id1270.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1270.JPG</string>
				<key>name</key>
				<string>腾达</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海马S5青春版</string>
				<key>id</key>
				<string>40066</string>
				<key>imageFile</key>
				<string>海马S5青春版_id40066.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40066.jpg</string>
				<key>name</key>
				<string>S5青春版</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>海马汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40064</string>
		<key>initial</key>
		<string>H</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海马E3</string>
				<key>id</key>
				<string>33767</string>
				<key>imageFile</key>
				<string>海马E3_id33767.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33767.jpg</string>
				<key>name</key>
				<string>海马E3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海马爱尚EV</string>
				<key>id</key>
				<string>40065</string>
				<key>imageFile</key>
				<string>海马爱尚EV_id40065.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40065.gif</string>
				<key>name</key>
				<string>爱尚EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>海马新能源</string>
	</dict>
</array>
</plist>
