<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2228</string>
		<key>initial</key>
		<string>W</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英致727</string>
				<key>id</key>
				<string>2229</string>
				<key>imageFile</key>
				<string>英致727_id2229.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2229.jpg</string>
				<key>name</key>
				<string>727</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英致737</string>
				<key>id</key>
				<string>2230</string>
				<key>imageFile</key>
				<string>英致737_id2230.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2230.jpg</string>
				<key>name</key>
				<string>737</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>潍柴英致G3</string>
				<key>id</key>
				<string>2231</string>
				<key>imageFile</key>
				<string>潍柴英致G3_id2231.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2231.jpg</string>
				<key>name</key>
				<string>G3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>潍柴英致G5</string>
				<key>id</key>
				<string>33824</string>
				<key>imageFile</key>
				<string>潍柴英致G5_id33824.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33824.jpg</string>
				<key>name</key>
				<string>G5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>潍柴英致</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>44734</string>
		<key>initial</key>
		<string>W</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>潍柴英致EX1</string>
				<key>id</key>
				<string>44735</string>
				<key>imageFile</key>
				<string>潍柴英致EX1_id44735.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>EX1</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英致737 EV</string>
				<key>id</key>
				<string>45775</string>
				<key>imageFile</key>
				<string>英致737 EV_id45775.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>737 EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>潍柴英致新能源</string>
	</dict>
</array>
</plist>
