<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45792</string>
		<key>initial</key>
		<string>A</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>爱驰U5 ION</string>
				<key>id</key>
				<string>45793</string>
				<key>imageFile</key>
				<string>爱驰U5 ION_id45793.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>U5 ION</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>爱驰汽车</string>
	</dict>
</array>
</plist>
