<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2156</string>
		<key>initial</key>
		<string>T</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>MODEL S</string>
				<key>id</key>
				<string>2157</string>
				<key>imageFile</key>
				<string>MODEL S_id2157.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2157.jpg</string>
				<key>name</key>
				<string>MODEL S</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>MODEL X</string>
				<key>id</key>
				<string>2158</string>
				<key>imageFile</key>
				<string>MODEL X_id2158.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2158.jpg</string>
				<key>name</key>
				<string>MODEL X</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>MODEL 3</string>
				<key>id</key>
				<string>2159</string>
				<key>imageFile</key>
				<string>MODEL 3_id2159.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2159.jpg</string>
				<key>name</key>
				<string>MODEL 3</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口特斯拉</string>
	</dict>
</array>
</plist>
