<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1638</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>猎豹CT5皮卡</string>
				<key>id</key>
				<string>1629</string>
				<key>imageFile</key>
				<string>猎豹CT5皮卡_id1629.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1629.jpg</string>
				<key>name</key>
				<string>CT5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>飞扬皮卡</string>
				<key>id</key>
				<string>1630</string>
				<key>imageFile</key>
				<string>飞扬皮卡_id1630.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1630.jpg</string>
				<key>name</key>
				<string>飞扬皮卡</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长丰DUV</string>
				<key>id</key>
				<string>1631</string>
				<key>imageFile</key>
				<string>长丰DUV_id1631.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1631.jpg</string>
				<key>name</key>
				<string>长丰DUV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福铃皮卡</string>
				<key>id</key>
				<string>1632</string>
				<key>imageFile</key>
				<string>福铃皮卡_id1632.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1632.jpg</string>
				<key>name</key>
				<string>福铃皮卡</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>飞铃皮卡</string>
				<key>id</key>
				<string>1633</string>
				<key>imageFile</key>
				<string>飞铃皮卡_id1633.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1633.jpg</string>
				<key>name</key>
				<string>飞铃皮卡</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>飞铃SUV</string>
				<key>id</key>
				<string>1634</string>
				<key>imageFile</key>
				<string>飞铃SUV_id1634.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1634.jpg</string>
				<key>name</key>
				<string>飞铃SUV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>飞扬SUV</string>
				<key>id</key>
				<string>1635</string>
				<key>imageFile</key>
				<string>飞扬SUV_id1635.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1635.jpg</string>
				<key>name</key>
				<string>飞扬SUV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金麒麟</string>
				<key>id</key>
				<string>1636</string>
				<key>imageFile</key>
				<string>金麒麟_id1636.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1636.jpg</string>
				<key>name</key>
				<string>金麒麟</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>猎豹CS10</string>
				<key>id</key>
				<string>1639</string>
				<key>imageFile</key>
				<string>猎豹CS10_id1639.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1639.jpg</string>
				<key>name</key>
				<string>CS10</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>飞腾</string>
				<key>id</key>
				<string>1640</string>
				<key>imageFile</key>
				<string>飞腾_id1640.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1640.jpg</string>
				<key>name</key>
				<string>飞腾</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>飞腾C5</string>
				<key>id</key>
				<string>1641</string>
				<key>imageFile</key>
				<string>飞腾C5_id1641.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1641.JPG</string>
				<key>name</key>
				<string>飞腾C5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>猎豹黑金刚</string>
				<key>id</key>
				<string>1642</string>
				<key>imageFile</key>
				<string>猎豹黑金刚_id1642.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1642.jpg</string>
				<key>name</key>
				<string>黑金刚</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>猎豹6481</string>
				<key>id</key>
				<string>1643</string>
				<key>imageFile</key>
				<string>猎豹6481_id1643.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1643.jpg</string>
				<key>name</key>
				<string>猎豹6481</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>猎豹CS6</string>
				<key>id</key>
				<string>1644</string>
				<key>imageFile</key>
				<string>猎豹CS6_id1644.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1644.jpg</string>
				<key>name</key>
				<string>CS6</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>猎豹Q6</string>
				<key>id</key>
				<string>1645</string>
				<key>imageFile</key>
				<string>猎豹Q6_id1645.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1645.jpg</string>
				<key>name</key>
				<string>Q6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>猎豹CS7</string>
				<key>id</key>
				<string>1647</string>
				<key>imageFile</key>
				<string>猎豹CS7_id1647.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1647.jpg</string>
				<key>name</key>
				<string>CS7</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骐菱</string>
				<key>id</key>
				<string>1650</string>
				<key>imageFile</key>
				<string>骐菱_id1650.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1650.jpg</string>
				<key>name</key>
				<string>骐菱</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>猎豹CT7</string>
				<key>id</key>
				<string>33788</string>
				<key>imageFile</key>
				<string>猎豹CT7_id33788.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33788.jpg</string>
				<key>name</key>
				<string>CT7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>猎豹CS9</string>
				<key>id</key>
				<string>33790</string>
				<key>imageFile</key>
				<string>猎豹CS9_id33790.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33790.jpg</string>
				<key>name</key>
				<string>CS9</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>猎豹Mattu</string>
				<key>id</key>
				<string>44296</string>
				<key>imageFile</key>
				<string>猎豹Mattu_id44296.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44296.jpg</string>
				<key>name</key>
				<string>Mattu</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>猎豹汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42175</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>猎豹CS9 EV</string>
				<key>id</key>
				<string>42176</string>
				<key>imageFile</key>
				<string>猎豹CS9 EV_id42176.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42176.jpg</string>
				<key>name</key>
				<string>CS9 EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>猎豹C5 EV</string>
				<key>id</key>
				<string>45424</string>
				<key>imageFile</key>
				<string>猎豹C5 EV_id45424.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>C5 EV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>猎豹汽车新能源</string>
	</dict>
</array>
</plist>
