<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1793</string>
		<key>initial</key>
		<string>M</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>玛莎拉蒂Ghibli</string>
				<key>id</key>
				<string>1794</string>
				<key>imageFile</key>
				<string>玛莎拉蒂Ghibli_id1794.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1794.jpg</string>
				<key>name</key>
				<string>Ghibli</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>玛莎拉蒂GranCabrio</string>
				<key>id</key>
				<string>1795</string>
				<key>imageFile</key>
				<string>玛莎拉蒂GranCabrio_id1795.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1795.JPG</string>
				<key>name</key>
				<string>GranCabrio</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>玛莎拉蒂GranTurismo</string>
				<key>id</key>
				<string>1796</string>
				<key>imageFile</key>
				<string>玛莎拉蒂GranTurismo_id1796.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1796.jpg</string>
				<key>name</key>
				<string>GranTurismo</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>玛莎拉蒂Levante</string>
				<key>id</key>
				<string>1797</string>
				<key>imageFile</key>
				<string>玛莎拉蒂Levante_id1797.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1797.jpg</string>
				<key>name</key>
				<string>Levante</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>玛莎拉蒂Quattroporte</string>
				<key>id</key>
				<string>1798</string>
				<key>imageFile</key>
				<string>玛莎拉蒂Quattroporte_id1798.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1798.jpg</string>
				<key>name</key>
				<string>Quattroporte</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>GranSport(进口)</string>
				<key>id</key>
				<string>1799</string>
				<key>imageFile</key>
				<string>GranSport(进口)_id1799.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1799.jpg</string>
				<key>name</key>
				<string>GranSport</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>玛莎拉蒂Coupe(进口)</string>
				<key>id</key>
				<string>1800</string>
				<key>imageFile</key>
				<string>玛莎拉蒂Coupe(进口)_id1800.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1800.jpg</string>
				<key>name</key>
				<string>Coupe</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>玛莎拉蒂spyder(进口)</string>
				<key>id</key>
				<string>1801</string>
				<key>imageFile</key>
				<string>玛莎拉蒂spyder(进口)_id1801.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1801.jpg</string>
				<key>name</key>
				<string>spyder</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口玛莎拉蒂</string>
	</dict>
</array>
</plist>
