<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2247</string>
		<key>initial</key>
		<string>X</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>现代i30</string>
				<key>id</key>
				<string>2248</string>
				<key>imageFile</key>
				<string>现代i30_id2248.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2248.jpg</string>
				<key>name</key>
				<string>i30</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>现代ix25</string>
				<key>id</key>
				<string>2249</string>
				<key>imageFile</key>
				<string>现代ix25_id2249.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2249.jpg</string>
				<key>name</key>
				<string>ix25</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>现代ix35</string>
				<key>id</key>
				<string>2250</string>
				<key>imageFile</key>
				<string>现代ix35_id2250.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2250.jpg</string>
				<key>name</key>
				<string>ix35</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>朗动</string>
				<key>id</key>
				<string>2251</string>
				<key>imageFile</key>
				<string>朗动_id2251.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2251.jpg</string>
				<key>name</key>
				<string>朗动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>领动</string>
				<key>id</key>
				<string>2252</string>
				<key>imageFile</key>
				<string>领动_id2252.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2252.jpg</string>
				<key>name</key>
				<string>领动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>名图</string>
				<key>id</key>
				<string>2253</string>
				<key>imageFile</key>
				<string>名图_id2253.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2253.jpg</string>
				<key>name</key>
				<string>名图</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>名驭</string>
				<key>id</key>
				<string>2254</string>
				<key>imageFile</key>
				<string>名驭_id2254.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2254.jpg</string>
				<key>name</key>
				<string>名驭</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>胜达</string>
				<key>id</key>
				<string>2255</string>
				<key>imageFile</key>
				<string>胜达_id2255.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2255.png</string>
				<key>name</key>
				<string>胜达</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途胜</string>
				<key>id</key>
				<string>2256</string>
				<key>imageFile</key>
				<string>途胜_id2256.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2256.jpg</string>
				<key>name</key>
				<string>途胜</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞纳</string>
				<key>id</key>
				<string>2258</string>
				<key>imageFile</key>
				<string>瑞纳_id2258.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2258.jpg</string>
				<key>name</key>
				<string>瑞纳</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞奕</string>
				<key>id</key>
				<string>2259</string>
				<key>imageFile</key>
				<string>瑞奕_id2259.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2259.jpg</string>
				<key>name</key>
				<string>瑞奕</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>索纳塔</string>
				<key>id</key>
				<string>2261</string>
				<key>imageFile</key>
				<string>索纳塔_id2261.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2261.jpg</string>
				<key>name</key>
				<string>索纳塔</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>悦动</string>
				<key>id</key>
				<string>2262</string>
				<key>imageFile</key>
				<string>悦动_id2262.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2262.JPG</string>
				<key>name</key>
				<string>悦动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>伊兰特</string>
				<key>id</key>
				<string>2263</string>
				<key>imageFile</key>
				<string>伊兰特_id2263.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2263.jpg</string>
				<key>name</key>
				<string>伊兰特</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>领翔</string>
				<key>id</key>
				<string>2264</string>
				<key>imageFile</key>
				<string>领翔_id2264.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2264.jpg</string>
				<key>name</key>
				<string>领翔</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雅绅特</string>
				<key>id</key>
				<string>2266</string>
				<key>imageFile</key>
				<string>雅绅特_id2266.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2266.jpg</string>
				<key>name</key>
				<string>雅绅特</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>御翔</string>
				<key>id</key>
				<string>2267</string>
				<key>imageFile</key>
				<string>御翔_id2267.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2267.jpg</string>
				<key>name</key>
				<string>御翔</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>悦纳</string>
				<key>id</key>
				<string>33825</string>
				<key>imageFile</key>
				<string>悦纳_id33825.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33825.jpg</string>
				<key>name</key>
				<string>悦纳</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>悦纳RV</string>
				<key>id</key>
				<string>33826</string>
				<key>imageFile</key>
				<string>悦纳RV_id33826.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33826.jpg</string>
				<key>name</key>
				<string>悦纳RV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>ENCINO 昂希诺</string>
				<key>id</key>
				<string>42196</string>
				<key>imageFile</key>
				<string>ENCINO 昂希诺_id42196.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42196.jpg</string>
				<key>name</key>
				<string>ENCINO 昂希诺</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>LAFESTA 菲斯塔</string>
				<key>id</key>
				<string>44736</string>
				<key>imageFile</key>
				<string>LAFESTA 菲斯塔_id44736.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>LAFESTA 菲斯塔</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>逸行</string>
				<key>id</key>
				<string>45432</string>
				<key>imageFile</key>
				<string>逸行_id45432.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>逸行</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>北京现代</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2268</string>
		<key>initial</key>
		<string>X</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>创虎</string>
				<key>id</key>
				<string>2269</string>
				<key>imageFile</key>
				<string>创虎_id2269.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2269.jpg</string>
				<key>name</key>
				<string>创虎</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>康恩迪</string>
				<key>id</key>
				<string>2270</string>
				<key>imageFile</key>
				<string>康恩迪_id2270.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2270.jpg</string>
				<key>name</key>
				<string>康恩迪</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>四川现代</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2273</string>
		<key>initial</key>
		<string>X</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>飞思</string>
				<key>id</key>
				<string>2274</string>
				<key>imageFile</key>
				<string>飞思_id2274.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2274.jpg</string>
				<key>name</key>
				<string>飞思</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>格越</string>
				<key>id</key>
				<string>2275</string>
				<key>imageFile</key>
				<string>格越_id2275.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2275.jpg</string>
				<key>name</key>
				<string>格越</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>辉翼</string>
				<key>id</key>
				<string>2276</string>
				<key>imageFile</key>
				<string>辉翼_id2276.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2276.jpg</string>
				<key>name</key>
				<string>辉翼</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>捷恩斯</string>
				<key>id</key>
				<string>2277</string>
				<key>imageFile</key>
				<string>捷恩斯_id2277.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2277.jpg</string>
				<key>name</key>
				<string>捷恩斯</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>劳恩斯(进口)</string>
				<key>id</key>
				<string>2278</string>
				<key>imageFile</key>
				<string>劳恩斯(进口)_id2278.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2278.JPG</string>
				<key>name</key>
				<string>劳恩斯</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>劳恩斯coupe(进口)</string>
				<key>id</key>
				<string>2279</string>
				<key>imageFile</key>
				<string>劳恩斯coupe(进口)_id2279.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2279.jpg</string>
				<key>name</key>
				<string>劳恩斯coupe</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>胜达(进口)</string>
				<key>id</key>
				<string>2280</string>
				<key>imageFile</key>
				<string>胜达(进口)_id2280.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2280.jpg</string>
				<key>name</key>
				<string>胜达</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>索纳塔(进口)</string>
				<key>id</key>
				<string>2281</string>
				<key>imageFile</key>
				<string>索纳塔(进口)_id2281.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2281.JPG</string>
				<key>name</key>
				<string>索纳塔</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>维拉克斯(进口)</string>
				<key>id</key>
				<string>2282</string>
				<key>imageFile</key>
				<string>维拉克斯(进口)_id2282.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2282.jpg</string>
				<key>name</key>
				<string>维拉克斯</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雅科仕(进口)</string>
				<key>id</key>
				<string>2283</string>
				<key>imageFile</key>
				<string>雅科仕(进口)_id2283.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2283.jpg</string>
				<key>name</key>
				<string>雅科仕</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雅尊(进口)</string>
				<key>id</key>
				<string>2284</string>
				<key>imageFile</key>
				<string>雅尊(进口)_id2284.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2284.jpg</string>
				<key>name</key>
				<string>雅尊</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>酷派</string>
				<key>id</key>
				<string>2289</string>
				<key>imageFile</key>
				<string>酷派_id2289.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2289.jpg</string>
				<key>name</key>
				<string>酷派</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>美佳</string>
				<key>id</key>
				<string>2292</string>
				<key>imageFile</key>
				<string>美佳_id2292.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2292.jpg</string>
				<key>name</key>
				<string>美佳</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口现代</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40142</string>
		<key>initial</key>
		<string>X</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>伊兰特EV</string>
				<key>id</key>
				<string>40143</string>
				<key>imageFile</key>
				<string>伊兰特EV_id40143.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40143.JPG</string>
				<key>name</key>
				<string>伊兰特EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>索纳塔PHEV</string>
				<key>id</key>
				<string>42197</string>
				<key>imageFile</key>
				<string>索纳塔PHEV_id42197.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42197.jpg</string>
				<key>name</key>
				<string>索纳塔PHEV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>北京现代新能源</string>
	</dict>
</array>
</plist>
