<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2036</string>
		<key>initial</key>
		<string>R</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞麒G3</string>
				<key>id</key>
				<string>2037</string>
				<key>imageFile</key>
				<string>瑞麒G3_id2037.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2037.jpg</string>
				<key>name</key>
				<string>G3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞麒G5</string>
				<key>id</key>
				<string>2038</string>
				<key>imageFile</key>
				<string>瑞麒G5_id2038.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2038.jpg</string>
				<key>name</key>
				<string>G5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞麒G6</string>
				<key>id</key>
				<string>2039</string>
				<key>imageFile</key>
				<string>瑞麒G6_id2039.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2039.jpg</string>
				<key>name</key>
				<string>G6</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞麒M1</string>
				<key>id</key>
				<string>2040</string>
				<key>imageFile</key>
				<string>瑞麒M1_id2040.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2040.jpg</string>
				<key>name</key>
				<string>M1</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞麒M5</string>
				<key>id</key>
				<string>2041</string>
				<key>imageFile</key>
				<string>瑞麒M5_id2041.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2041.jpg</string>
				<key>name</key>
				<string>M5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>奇瑞汽车</string>
	</dict>
</array>
</plist>
