<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2524</string>
		<key>initial</key>
		<string>Z</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>知豆D1</string>
				<key>id</key>
				<string>2525</string>
				<key>imageFile</key>
				<string>知豆D1_id2525.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2525.jpg</string>
				<key>name</key>
				<string>D1</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>知豆D2</string>
				<key>id</key>
				<string>2526</string>
				<key>imageFile</key>
				<string>知豆D2_id2526.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2526.jpg</string>
				<key>name</key>
				<string>D2</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>知豆</string>
				<key>id</key>
				<string>2527</string>
				<key>imageFile</key>
				<string>知豆_id2527.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2527.jpg</string>
				<key>name</key>
				<string>知豆</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>知豆D3</string>
				<key>id</key>
				<string>41918</string>
				<key>imageFile</key>
				<string>知豆D3_id41918.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41918.jpg</string>
				<key>name</key>
				<string>D3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>知豆</string>
	</dict>
</array>
</plist>
