<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1088</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启腾M70</string>
				<key>id</key>
				<string>1089</string>
				<key>imageFile</key>
				<string>启腾M70_id1089.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1089.jpg</string>
				<key>name</key>
				<string>M70</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启腾EX80</string>
				<key>id</key>
				<string>1090</string>
				<key>imageFile</key>
				<string>启腾EX80_id1090.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1090.JPG</string>
				<key>name</key>
				<string>EX80</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启腾V60</string>
				<key>id</key>
				<string>33762</string>
				<key>imageFile</key>
				<string>启腾V60_id33762.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33762.jpg</string>
				<key>name</key>
				<string>V60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>福汽启腾</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40054</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启腾M70EV</string>
				<key>id</key>
				<string>40055</string>
				<key>imageFile</key>
				<string>启腾M70EV_id40055.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40055.gif</string>
				<key>name</key>
				<string>M70EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>福汽启腾新能源</string>
	</dict>
</array>
</plist>
