<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>960</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福克斯</string>
				<key>id</key>
				<string>961</string>
				<key>imageFile</key>
				<string>福克斯_id961.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/961.jpg</string>
				<key>name</key>
				<string>福克斯</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福睿斯</string>
				<key>id</key>
				<string>963</string>
				<key>imageFile</key>
				<string>福睿斯_id963.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/963.jpg</string>
				<key>name</key>
				<string>福睿斯</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>嘉年华</string>
				<key>id</key>
				<string>965</string>
				<key>imageFile</key>
				<string>嘉年华_id965.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/965.jpg</string>
				<key>name</key>
				<string>嘉年华</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金牛座</string>
				<key>id</key>
				<string>966</string>
				<key>imageFile</key>
				<string>金牛座_id966.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/966.jpg</string>
				<key>name</key>
				<string>金牛座</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>麦柯斯</string>
				<key>id</key>
				<string>967</string>
				<key>imageFile</key>
				<string>麦柯斯_id967.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/967.jpg</string>
				<key>name</key>
				<string>麦柯斯</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>锐界</string>
				<key>id</key>
				<string>968</string>
				<key>imageFile</key>
				<string>锐界_id968.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/968.jpg</string>
				<key>name</key>
				<string>锐界</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>蒙迪欧</string>
				<key>id</key>
				<string>969</string>
				<key>imageFile</key>
				<string>蒙迪欧_id969.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/969.jpg</string>
				<key>name</key>
				<string>蒙迪欧</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>翼搏</string>
				<key>id</key>
				<string>970</string>
				<key>imageFile</key>
				<string>翼搏_id970.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/970.jpg</string>
				<key>name</key>
				<string>翼搏</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>翼虎</string>
				<key>id</key>
				<string>971</string>
				<key>imageFile</key>
				<string>翼虎_id971.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/971.jpg</string>
				<key>name</key>
				<string>翼虎</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长安福特</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>974</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>撼路者</string>
				<key>id</key>
				<string>975</string>
				<key>imageFile</key>
				<string>撼路者_id975.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/975.jpg</string>
				<key>name</key>
				<string>撼路者</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>途睿欧</string>
				<key>id</key>
				<string>976</string>
				<key>imageFile</key>
				<string>途睿欧_id976.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/976.jpg</string>
				<key>name</key>
				<string>途睿欧</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>新世代全顺</string>
				<key>id</key>
				<string>1415</string>
				<key>imageFile</key>
				<string>新世代全顺_id1415.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1415.JPG</string>
				<key>name</key>
				<string>新世代全顺</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>经典全顺</string>
				<key>id</key>
				<string>1416</string>
				<key>imageFile</key>
				<string>经典全顺_id1416.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1416.jpg</string>
				<key>name</key>
				<string>经典全顺</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>全顺</string>
				<key>id</key>
				<string>33754</string>
				<key>imageFile</key>
				<string>全顺_id33754.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33754.JPG</string>
				<key>name</key>
				<string>全顺</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>领界</string>
				<key>id</key>
				<string>45417</string>
				<key>imageFile</key>
				<string>领界_id45417.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>领界</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>江铃福特</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>977</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>E系列</string>
				<key>id</key>
				<string>978</string>
				<key>imageFile</key>
				<string>E系列_id978.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/978.jpg</string>
				<key>name</key>
				<string>E系列</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福克斯(进口)</string>
				<key>id</key>
				<string>979</string>
				<key>imageFile</key>
				<string>福克斯(进口)_id979.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/979.jpg</string>
				<key>name</key>
				<string>福克斯</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>MUSTANG</string>
				<key>id</key>
				<string>980</string>
				<key>imageFile</key>
				<string>MUSTANG_id980.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/980.jpg</string>
				<key>name</key>
				<string>MUSTANG</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福特F-150</string>
				<key>id</key>
				<string>981</string>
				<key>imageFile</key>
				<string>福特F-150_id981.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/981.JPG</string>
				<key>name</key>
				<string>F-150</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>嘉年华ST</string>
				<key>id</key>
				<string>982</string>
				<key>imageFile</key>
				<string>嘉年华ST_id982.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/982.jpg</string>
				<key>name</key>
				<string>嘉年华ST</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>锐界(进口)</string>
				<key>id</key>
				<string>983</string>
				<key>imageFile</key>
				<string>锐界(进口)_id983.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/983.jpg</string>
				<key>name</key>
				<string>锐界</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>探险者</string>
				<key>id</key>
				<string>984</string>
				<key>imageFile</key>
				<string>探险者_id984.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/984.jpg</string>
				<key>name</key>
				<string>探险者</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>征服者</string>
				<key>id</key>
				<string>985</string>
				<key>imageFile</key>
				<string>征服者_id985.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/985.jpg</string>
				<key>name</key>
				<string>征服者</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>Flex</string>
				<key>id</key>
				<string>986</string>
				<key>imageFile</key>
				<string>Flex_id986.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/986.jpg</string>
				<key>name</key>
				<string>Flex</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>外交官</string>
				<key>id</key>
				<string>992</string>
				<key>imageFile</key>
				<string>外交官_id992.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/992.jpg</string>
				<key>name</key>
				<string>外交官</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>翼虎(进口)</string>
				<key>id</key>
				<string>996</string>
				<key>imageFile</key>
				<string>翼虎(进口)_id996.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/996.jpg</string>
				<key>name</key>
				<string>翼虎</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福特Ranger</string>
				<key>id</key>
				<string>42143</string>
				<key>imageFile</key>
				<string>福特Ranger_id42143.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42143.jpg</string>
				<key>name</key>
				<string>Ranger</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口福特</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42141</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>蒙迪欧 插电混动</string>
				<key>id</key>
				<string>42142</string>
				<key>imageFile</key>
				<string>蒙迪欧 插电混动_id42142.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42142.jpg</string>
				<key>name</key>
				<string>蒙迪欧 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长安福特新能源</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42144</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福特C-MAX</string>
				<key>id</key>
				<string>40050</string>
				<key>imageFile</key>
				<string>福特C-MAX_id40050.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40050.JPG</string>
				<key>name</key>
				<string>C-MAX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口福特新能源</string>
	</dict>
</array>
</plist>
