<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>997</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>伽途ix</string>
				<key>id</key>
				<string>1003</string>
				<key>imageFile</key>
				<string>伽途ix_id1003.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1003.jpg</string>
				<key>name</key>
				<string>伽途ix</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>萨普</string>
				<key>id</key>
				<string>1019</string>
				<key>imageFile</key>
				<string>萨普_id1019.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1019.JPG</string>
				<key>name</key>
				<string>萨普</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>萨瓦纳</string>
				<key>id</key>
				<string>1020</string>
				<key>imageFile</key>
				<string>萨瓦纳_id1020.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1020.jpg</string>
				<key>name</key>
				<string>萨瓦纳</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>拓陆者</string>
				<key>id</key>
				<string>1021</string>
				<key>imageFile</key>
				<string>拓陆者_id1021.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1021.JPG</string>
				<key>name</key>
				<string>拓陆者</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>伽途im</string>
				<key>id</key>
				<string>33760</string>
				<key>imageFile</key>
				<string>伽途im_id33760.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33760.jpg</string>
				<key>name</key>
				<string>伽途im</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>伽途GT</string>
				<key>id</key>
				<string>44293</string>
				<key>imageFile</key>
				<string>伽途GT_id44293.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44293.jpg</string>
				<key>name</key>
				<string>伽途GT</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>福田汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40051</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥铃CTX</string>
				<key>id</key>
				<string>998</string>
				<key>imageFile</key>
				<string>奥铃CTX_id998.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/998.jpg</string>
				<key>name</key>
				<string>奥铃CTX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥铃捷运</string>
				<key>id</key>
				<string>999</string>
				<key>imageFile</key>
				<string>奥铃捷运_id999.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/999.jpg</string>
				<key>name</key>
				<string>奥铃捷运</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥铃TX</string>
				<key>id</key>
				<string>1000</string>
				<key>imageFile</key>
				<string>奥铃TX_id1000.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1000.jpg</string>
				<key>name</key>
				<string>奥铃TX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风景G9</string>
				<key>id</key>
				<string>1001</string>
				<key>imageFile</key>
				<string>风景G9_id1001.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1001.JPG</string>
				<key>name</key>
				<string>风景G9</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风景</string>
				<key>id</key>
				<string>1002</string>
				<key>imageFile</key>
				<string>风景_id1002.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1002.JPG</string>
				<key>name</key>
				<string>风景</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>伽途V3</string>
				<key>id</key>
				<string>1005</string>
				<key>imageFile</key>
				<string>伽途V3_id1005.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1005.JPG</string>
				<key>name</key>
				<string>伽途V3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>伽途V5</string>
				<key>id</key>
				<string>1006</string>
				<key>imageFile</key>
				<string>伽途V5_id1006.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1006.JPG</string>
				<key>name</key>
				<string>伽途V5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迷迪</string>
				<key>id</key>
				<string>1007</string>
				<key>imageFile</key>
				<string>迷迪_id1007.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1007.jpg</string>
				<key>name</key>
				<string>迷迪</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>蒙派克E</string>
				<key>id</key>
				<string>1008</string>
				<key>imageFile</key>
				<string>蒙派克E_id1008.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1008.jpg</string>
				<key>name</key>
				<string>蒙派克E</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧马可</string>
				<key>id</key>
				<string>1010</string>
				<key>imageFile</key>
				<string>欧马可_id1010.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1010.JPG</string>
				<key>name</key>
				<string>欧马可</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞沃工程用车</string>
				<key>id</key>
				<string>1012</string>
				<key>imageFile</key>
				<string>瑞沃工程用车_id1012.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1012.JPG</string>
				<key>name</key>
				<string>瑞沃工程用车</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>时代康瑞</string>
				<key>id</key>
				<string>1014</string>
				<key>imageFile</key>
				<string>时代康瑞_id1014.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1014.JPG</string>
				<key>name</key>
				<string>时代康瑞</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>时代领航</string>
				<key>id</key>
				<string>1015</string>
				<key>imageFile</key>
				<string>时代领航_id1015.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1015.JPG</string>
				<key>name</key>
				<string>时代领航</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>时代微卡</string>
				<key>id</key>
				<string>1016</string>
				<key>imageFile</key>
				<string>时代微卡_id1016.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1016.JPG</string>
				<key>name</key>
				<string>时代微卡</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>时代骁运</string>
				<key>id</key>
				<string>1017</string>
				<key>imageFile</key>
				<string>时代骁运_id1017.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1017.JPG</string>
				<key>name</key>
				<string>时代骁运</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>时代驭菱</string>
				<key>id</key>
				<string>1018</string>
				<key>imageFile</key>
				<string>时代驭菱_id1018.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1018.JPG</string>
				<key>name</key>
				<string>时代驭菱</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>图雅诺</string>
				<key>id</key>
				<string>1022</string>
				<key>imageFile</key>
				<string>图雅诺_id1022.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1022.jpg</string>
				<key>name</key>
				<string>图雅诺</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风景G7</string>
				<key>id</key>
				<string>1023</string>
				<key>imageFile</key>
				<string>风景G7_id1023.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1023.jpg</string>
				<key>name</key>
				<string>风景G7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>传奇X</string>
				<key>id</key>
				<string>1025</string>
				<key>imageFile</key>
				<string>传奇X_id1025.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1025.jpg</string>
				<key>name</key>
				<string>传奇X</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风景冲浪</string>
				<key>id</key>
				<string>1026</string>
				<key>imageFile</key>
				<string>风景冲浪_id1026.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1026.jpg</string>
				<key>name</key>
				<string>风景冲浪</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风景快捷</string>
				<key>id</key>
				<string>1027</string>
				<key>imageFile</key>
				<string>风景快捷_id1027.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1027.jpg</string>
				<key>name</key>
				<string>风景快捷</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风景快客</string>
				<key>id</key>
				<string>1028</string>
				<key>imageFile</key>
				<string>风景快客_id1028.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1028.jpg</string>
				<key>name</key>
				<string>风景快客</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福田海狮</string>
				<key>id</key>
				<string>1029</string>
				<key>imageFile</key>
				<string>福田海狮_id1029.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1029.jpg</string>
				<key>name</key>
				<string>福田海狮</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风景V3</string>
				<key>id</key>
				<string>33758</string>
				<key>imageFile</key>
				<string>风景V3_id33758.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33758.JPG</string>
				<key>name</key>
				<string>风景V3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风景V5</string>
				<key>id</key>
				<string>33759</string>
				<key>imageFile</key>
				<string>风景V5_id33759.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33759.jpg</string>
				<key>name</key>
				<string>风景V5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>祥菱V</string>
				<key>id</key>
				<string>40052</string>
				<key>imageFile</key>
				<string>祥菱V_id40052.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40052.jpg</string>
				<key>name</key>
				<string>祥菱V</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>祥菱M</string>
				<key>id</key>
				<string>45738</string>
				<key>imageFile</key>
				<string>祥菱M_id45738.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>祥菱M</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>祥菱S</string>
				<key>id</key>
				<string>45739</string>
				<key>imageFile</key>
				<string>祥菱S_id45739.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>祥菱S</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>福田商用车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42145</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风景V3EV</string>
				<key>id</key>
				<string>42146</string>
				<key>imageFile</key>
				<string>风景V3EV_id42146.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>风景V3EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风景V5EV</string>
				<key>id</key>
				<string>42147</string>
				<key>imageFile</key>
				<string>风景V5EV_id42147.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>风景V5EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>图雅诺EV</string>
				<key>id</key>
				<string>42148</string>
				<key>imageFile</key>
				<string>图雅诺EV_id42148.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42148.jpg</string>
				<key>name</key>
				<string>图雅诺EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥铃EV</string>
				<key>id</key>
				<string>44718</string>
				<key>imageFile</key>
				<string>奥铃EV_id44718.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44718.jpg</string>
				<key>name</key>
				<string>奥铃EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>福田商用车新能源</string>
	</dict>
</array>
</plist>
