<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1197</string>
		<key>initial</key>
		<string>H</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>红旗H7</string>
				<key>id</key>
				<string>1198</string>
				<key>imageFile</key>
				<string>红旗H7_id1198.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1198.jpg</string>
				<key>name</key>
				<string>H7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>红旗</string>
				<key>id</key>
				<string>1201</string>
				<key>imageFile</key>
				<string>红旗_id1201.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1201.gif</string>
				<key>name</key>
				<string>红旗</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>明仕</string>
				<key>id</key>
				<string>1202</string>
				<key>imageFile</key>
				<string>明仕_id1202.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1202.jpg</string>
				<key>name</key>
				<string>明仕</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>红旗旗舰</string>
				<key>id</key>
				<string>1203</string>
				<key>imageFile</key>
				<string>红旗旗舰_id1203.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1203.jpg</string>
				<key>name</key>
				<string>旗舰</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>世纪星</string>
				<key>id</key>
				<string>1204</string>
				<key>imageFile</key>
				<string>世纪星_id1204.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1204.jpg</string>
				<key>name</key>
				<string>世纪星</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>红旗盛世</string>
				<key>id</key>
				<string>1205</string>
				<key>imageFile</key>
				<string>红旗盛世_id1205.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1205.jpg</string>
				<key>name</key>
				<string>盛世</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>红旗H5</string>
				<key>id</key>
				<string>40067</string>
				<key>imageFile</key>
				<string>红旗H5_id40067.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40067.gif</string>
				<key>name</key>
				<string>H5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>红旗L5</string>
				<key>id</key>
				<string>45419</string>
				<key>imageFile</key>
				<string>红旗L5_id45419.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>L5</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>红旗HS7</string>
				<key>id</key>
				<string>45742</string>
				<key>imageFile</key>
				<string>红旗HS7_id45742.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>HS7</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽红旗</string>
	</dict>
</array>
</plist>
