<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2381</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪Q50L</string>
				<key>id</key>
				<string>2382</string>
				<key>imageFile</key>
				<string>英菲尼迪Q50L_id2382.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2382.jpg</string>
				<key>name</key>
				<string>Q50L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪QX50</string>
				<key>id</key>
				<string>2383</string>
				<key>imageFile</key>
				<string>英菲尼迪QX50_id2383.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2383.jpg</string>
				<key>name</key>
				<string>QX50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风英菲尼迪</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2384</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪ESQ</string>
				<key>id</key>
				<string>2385</string>
				<key>imageFile</key>
				<string>英菲尼迪ESQ_id2385.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2385.jpg</string>
				<key>name</key>
				<string>ESQ</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪Q50</string>
				<key>id</key>
				<string>2386</string>
				<key>imageFile</key>
				<string>英菲尼迪Q50_id2386.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2386.JPG</string>
				<key>name</key>
				<string>Q50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪Q60</string>
				<key>id</key>
				<string>2387</string>
				<key>imageFile</key>
				<string>英菲尼迪Q60_id2387.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2387.JPG</string>
				<key>name</key>
				<string>Q60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪Q70L</string>
				<key>id</key>
				<string>2389</string>
				<key>imageFile</key>
				<string>英菲尼迪Q70L_id2389.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2389.jpg</string>
				<key>name</key>
				<string>Q70L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪QX50(进口)</string>
				<key>id</key>
				<string>2390</string>
				<key>imageFile</key>
				<string>英菲尼迪QX50(进口)_id2390.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2390.JPG</string>
				<key>name</key>
				<string>QX50</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪QX60</string>
				<key>id</key>
				<string>2391</string>
				<key>imageFile</key>
				<string>英菲尼迪QX60_id2391.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2391.JPG</string>
				<key>name</key>
				<string>QX60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪QX70</string>
				<key>id</key>
				<string>2392</string>
				<key>imageFile</key>
				<string>英菲尼迪QX70_id2392.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2392.jpg</string>
				<key>name</key>
				<string>QX70</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪QX80</string>
				<key>id</key>
				<string>2393</string>
				<key>imageFile</key>
				<string>英菲尼迪QX80_id2393.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2393.jpg</string>
				<key>name</key>
				<string>QX80</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪Q30</string>
				<key>id</key>
				<string>2394</string>
				<key>imageFile</key>
				<string>英菲尼迪Q30_id2394.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2394.jpg</string>
				<key>name</key>
				<string>Q30</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪QX30</string>
				<key>id</key>
				<string>2395</string>
				<key>imageFile</key>
				<string>英菲尼迪QX30_id2395.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2395.jpg</string>
				<key>name</key>
				<string>QX30</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪EX</string>
				<key>id</key>
				<string>2396</string>
				<key>imageFile</key>
				<string>英菲尼迪EX_id2396.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2396.jpg</string>
				<key>name</key>
				<string>EX</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪FX</string>
				<key>id</key>
				<string>2397</string>
				<key>imageFile</key>
				<string>英菲尼迪FX_id2397.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2397.jpg</string>
				<key>name</key>
				<string>FX</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪G</string>
				<key>id</key>
				<string>2398</string>
				<key>imageFile</key>
				<string>英菲尼迪G_id2398.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2398.jpg</string>
				<key>name</key>
				<string>G</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪JX</string>
				<key>id</key>
				<string>2399</string>
				<key>imageFile</key>
				<string>英菲尼迪JX_id2399.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2399.jpg</string>
				<key>name</key>
				<string>JX</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪M</string>
				<key>id</key>
				<string>2400</string>
				<key>imageFile</key>
				<string>英菲尼迪M_id2400.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2400.jpg</string>
				<key>name</key>
				<string>M</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英菲尼迪QX</string>
				<key>id</key>
				<string>2402</string>
				<key>imageFile</key>
				<string>英菲尼迪QX_id2402.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2402.jpg</string>
				<key>name</key>
				<string>QX</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口英菲尼迪</string>
	</dict>
</array>
</plist>
