<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2026</string>
		<key>initial</key>
		<string>R</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威350</string>
				<key>id</key>
				<string>2027</string>
				<key>imageFile</key>
				<string>荣威350_id2027.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2027.jpg</string>
				<key>name</key>
				<string>350</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威360</string>
				<key>id</key>
				<string>2028</string>
				<key>imageFile</key>
				<string>荣威360_id2028.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2028.jpg</string>
				<key>name</key>
				<string>360</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威550</string>
				<key>id</key>
				<string>2029</string>
				<key>imageFile</key>
				<string>荣威550_id2029.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2029.jpg</string>
				<key>name</key>
				<string>550</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威750</string>
				<key>id</key>
				<string>2030</string>
				<key>imageFile</key>
				<string>荣威750_id2030.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2030.jpg</string>
				<key>name</key>
				<string>750</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威950</string>
				<key>id</key>
				<string>2031</string>
				<key>imageFile</key>
				<string>荣威950_id2031.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2031.JPG</string>
				<key>name</key>
				<string>950</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威W5</string>
				<key>id</key>
				<string>2034</string>
				<key>imageFile</key>
				<string>荣威W5_id2034.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2034.jpg</string>
				<key>name</key>
				<string>W5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威RX5</string>
				<key>id</key>
				<string>33814</string>
				<key>imageFile</key>
				<string>荣威RX5_id33814.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33814.jpg</string>
				<key>name</key>
				<string>RX5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威i6</string>
				<key>id</key>
				<string>33816</string>
				<key>imageFile</key>
				<string>荣威i6_id33816.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33816.jpg</string>
				<key>name</key>
				<string>i6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威RX3</string>
				<key>id</key>
				<string>40127</string>
				<key>imageFile</key>
				<string>荣威RX3_id40127.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40127.gif</string>
				<key>name</key>
				<string>RX3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威RX8</string>
				<key>id</key>
				<string>42189</string>
				<key>imageFile</key>
				<string>荣威RX8_id42189.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42189.jpg</string>
				<key>name</key>
				<string>RX8</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威i5</string>
				<key>id</key>
				<string>45767</string>
				<key>imageFile</key>
				<string>荣威i5_id45767.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>i5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽荣威</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40128</string>
		<key>initial</key>
		<string>R</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威e50</string>
				<key>id</key>
				<string>2032</string>
				<key>imageFile</key>
				<string>荣威e50_id2032.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2032.jpg</string>
				<key>name</key>
				<string>e50</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威e550</string>
				<key>id</key>
				<string>2033</string>
				<key>imageFile</key>
				<string>荣威e550_id2033.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2033.jpg</string>
				<key>name</key>
				<string>e550</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威e950</string>
				<key>id</key>
				<string>2035</string>
				<key>imageFile</key>
				<string>荣威e950_id2035.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2035.jpg</string>
				<key>name</key>
				<string>e950</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威ei6</string>
				<key>id</key>
				<string>33815</string>
				<key>imageFile</key>
				<string>荣威ei6_id33815.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33815.jpg</string>
				<key>name</key>
				<string>ei6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威ERX5 纯电动</string>
				<key>id</key>
				<string>40129</string>
				<key>imageFile</key>
				<string>荣威ERX5 纯电动_id40129.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40129.jpg</string>
				<key>name</key>
				<string>ERX5 纯电动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威eRX5 插电混动</string>
				<key>id</key>
				<string>40130</string>
				<key>imageFile</key>
				<string>荣威eRX5 插电混动_id40130.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40130.JPG</string>
				<key>name</key>
				<string>eRX5 插电混动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威Ei5</string>
				<key>id</key>
				<string>42190</string>
				<key>imageFile</key>
				<string>荣威Ei5_id42190.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42190.jpg</string>
				<key>name</key>
				<string>Ei5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>荣威Marvel X</string>
				<key>id</key>
				<string>44301</string>
				<key>imageFile</key>
				<string>荣威Marvel X_id44301.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44301.jpg</string>
				<key>name</key>
				<string>Marvel X</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽新能源</string>
	</dict>
</array>
</plist>
