<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1048</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>菲翔</string>
				<key>id</key>
				<string>1049</string>
				<key>imageFile</key>
				<string>菲翔_id1049.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1049.jpg</string>
				<key>name</key>
				<string>菲翔</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>致悦</string>
				<key>id</key>
				<string>1050</string>
				<key>imageFile</key>
				<string>致悦_id1050.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1050.jpg</string>
				<key>name</key>
				<string>致悦</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>广汽菲克菲亚特</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1051</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>派朗</string>
				<key>id</key>
				<string>1052</string>
				<key>imageFile</key>
				<string>派朗_id1052.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1052.jpg</string>
				<key>name</key>
				<string>派朗</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>派力奥</string>
				<key>id</key>
				<string>1053</string>
				<key>imageFile</key>
				<string>派力奥_id1053.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1053.jpg</string>
				<key>name</key>
				<string>派力奥</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>西耶那</string>
				<key>id</key>
				<string>1054</string>
				<key>imageFile</key>
				<string>西耶那_id1054.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1054.jpg</string>
				<key>name</key>
				<string>西耶那</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>周末风</string>
				<key>id</key>
				<string>1055</string>
				<key>imageFile</key>
				<string>周末风_id1055.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1055.jpg</string>
				<key>name</key>
				<string>周末风</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>南京菲亚特</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1056</string>
		<key>initial</key>
		<string>F</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>博悦</string>
				<key>id</key>
				<string>1057</string>
				<key>imageFile</key>
				<string>博悦_id1057.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1057.jpg</string>
				<key>name</key>
				<string>博悦</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>菲跃</string>
				<key>id</key>
				<string>1058</string>
				<key>imageFile</key>
				<string>菲跃_id1058.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1058.jpg</string>
				<key>name</key>
				<string>菲跃</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>菲亚特500</string>
				<key>id</key>
				<string>1059</string>
				<key>imageFile</key>
				<string>菲亚特500_id1059.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1059.jpg</string>
				<key>name</key>
				<string>500</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>菲亚特Doblo</string>
				<key>id</key>
				<string>1067</string>
				<key>imageFile</key>
				<string>菲亚特Doblo_id1067.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1067.jpg</string>
				<key>name</key>
				<string>Doblo</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>领雅</string>
				<key>id</key>
				<string>1070</string>
				<key>imageFile</key>
				<string>领雅_id1070.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1070.jpg</string>
				<key>name</key>
				<string>领雅</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>朋多</string>
				<key>id</key>
				<string>1071</string>
				<key>imageFile</key>
				<string>朋多_id1071.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1071.jpg</string>
				<key>name</key>
				<string>朋多</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口菲亚特</string>
	</dict>
</array>
</plist>
