<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2369</string>
		<key>initial</key>
		<string>X</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧悦搏</string>
				<key>id</key>
				<string>2370</string>
				<key>imageFile</key>
				<string>欧悦搏_id2370.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2370.jpg</string>
				<key>name</key>
				<string>欧悦搏</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>伊比飒</string>
				<key>id</key>
				<string>2371</string>
				<key>imageFile</key>
				<string>伊比飒_id2371.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2371.jpg</string>
				<key>name</key>
				<string>伊比飒</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>LEON</string>
				<key>id</key>
				<string>2372</string>
				<key>imageFile</key>
				<string>LEON_id2372.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2372.jpg</string>
				<key>name</key>
				<string>LEON</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>西雅特Tarraco</string>
				<key>id</key>
				<string>45777</string>
				<key>imageFile</key>
				<string>西雅特Tarraco_id45777.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>Tarraco</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口西雅特</string>
	</dict>
</array>
</plist>
