<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1854</string>
		<key>initial</key>
		<string>O</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>讴歌ILX</string>
				<key>id</key>
				<string>1855</string>
				<key>imageFile</key>
				<string>讴歌ILX_id1855.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1855.jpg</string>
				<key>name</key>
				<string>ILX</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>讴歌MDX</string>
				<key>id</key>
				<string>1856</string>
				<key>imageFile</key>
				<string>讴歌MDX_id1856.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1856.jpg</string>
				<key>name</key>
				<string>MDX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>讴歌RDX(进口)</string>
				<key>id</key>
				<string>1857</string>
				<key>imageFile</key>
				<string>讴歌RDX(进口)_id1857.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1857.jpg</string>
				<key>name</key>
				<string>RDX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>讴歌RL</string>
				<key>id</key>
				<string>1858</string>
				<key>imageFile</key>
				<string>讴歌RL_id1858.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1858.jpg</string>
				<key>name</key>
				<string>RL</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>讴歌RLX</string>
				<key>id</key>
				<string>1859</string>
				<key>imageFile</key>
				<string>讴歌RLX_id1859.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1859.jpg</string>
				<key>name</key>
				<string>RLX</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>讴歌TL</string>
				<key>id</key>
				<string>1860</string>
				<key>imageFile</key>
				<string>讴歌TL_id1860.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1860.jpg</string>
				<key>name</key>
				<string>TL</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>讴歌TLX</string>
				<key>id</key>
				<string>1861</string>
				<key>imageFile</key>
				<string>讴歌TLX_id1861.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1861.png</string>
				<key>name</key>
				<string>TLX</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>讴歌ZDX</string>
				<key>id</key>
				<string>1862</string>
				<key>imageFile</key>
				<string>讴歌ZDX_id1862.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1862.jpg</string>
				<key>name</key>
				<string>ZDX</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>讴歌NSX</string>
				<key>id</key>
				<string>1863</string>
				<key>imageFile</key>
				<string>讴歌NSX_id1863.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1863.JPG</string>
				<key>name</key>
				<string>NSX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口讴歌</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>33801</string>
		<key>initial</key>
		<string>O</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>讴歌CDX</string>
				<key>id</key>
				<string>33802</string>
				<key>imageFile</key>
				<string>讴歌CDX_id33802.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33802.jpg</string>
				<key>name</key>
				<string>CDX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>讴歌TLX-L</string>
				<key>id</key>
				<string>40113</string>
				<key>imageFile</key>
				<string>讴歌TLX-L_id40113.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40113.gif</string>
				<key>name</key>
				<string>TLX-L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>讴歌RDX</string>
				<key>id</key>
				<string>45762</string>
				<key>imageFile</key>
				<string>讴歌RDX_id45762.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>RDX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>广汽讴歌</string>
	</dict>
</array>
</plist>
