<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2128</string>
		<key>initial</key>
		<string>S</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛麟科迈罗</string>
				<key>id</key>
				<string>2129</string>
				<key>imageFile</key>
				<string>赛麟科迈罗_id2129.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2129.jpg</string>
				<key>name</key>
				<string>赛麟科迈罗</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛麟S7</string>
				<key>id</key>
				<string>2130</string>
				<key>imageFile</key>
				<string>赛麟S7_id2130.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2130.jpg</string>
				<key>name</key>
				<string>赛麟S7</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛麟野马</string>
				<key>id</key>
				<string>2132</string>
				<key>imageFile</key>
				<string>赛麟野马_id2132.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2132.jpg</string>
				<key>name</key>
				<string>赛麟野马</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛麟领道300S</string>
				<key>id</key>
				<string>2133</string>
				<key>imageFile</key>
				<string>赛麟领道300S_id2133.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2133.gif</string>
				<key>name</key>
				<string>赛麟领道300S</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛麟领道430S</string>
				<key>id</key>
				<string>2134</string>
				<key>imageFile</key>
				<string>赛麟领道430S_id2134.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2134.gif</string>
				<key>name</key>
				<string>赛麟领道430S</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口赛麟</string>
	</dict>
</array>
</plist>
