<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1893</string>
		<key>initial</key>
		<string>Q</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>福瑞迪</string>
				<key>id</key>
				<string>1894</string>
				<key>imageFile</key>
				<string>福瑞迪_id1894.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1894.jpg</string>
				<key>name</key>
				<string>福瑞迪</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>起亚K2</string>
				<key>id</key>
				<string>1896</string>
				<key>imageFile</key>
				<string>起亚K2_id1896.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1896.JPG</string>
				<key>name</key>
				<string>K2</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>起亚K3</string>
				<key>id</key>
				<string>1897</string>
				<key>imageFile</key>
				<string>起亚K3_id1897.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1897.jpg</string>
				<key>name</key>
				<string>K3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>起亚K3S</string>
				<key>id</key>
				<string>1898</string>
				<key>imageFile</key>
				<string>起亚K3S_id1898.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1898.png</string>
				<key>name</key>
				<string>K3S</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯绅</string>
				<key>id</key>
				<string>1899</string>
				<key>imageFile</key>
				<string>凯绅_id1899.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1899.png</string>
				<key>name</key>
				<string>凯绅</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>起亚K5</string>
				<key>id</key>
				<string>1900</string>
				<key>imageFile</key>
				<string>起亚K5_id1900.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1900.jpg</string>
				<key>name</key>
				<string>K5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>起亚KX3</string>
				<key>id</key>
				<string>1901</string>
				<key>imageFile</key>
				<string>起亚KX3_id1901.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1901.jpg</string>
				<key>name</key>
				<string>KX3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>起亚KX5</string>
				<key>id</key>
				<string>1902</string>
				<key>imageFile</key>
				<string>起亚KX5_id1902.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1902.jpg</string>
				<key>name</key>
				<string>KX5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>锐欧</string>
				<key>id</key>
				<string>1903</string>
				<key>imageFile</key>
				<string>锐欧_id1903.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1903.jpg</string>
				<key>name</key>
				<string>锐欧</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛拉图</string>
				<key>id</key>
				<string>1904</string>
				<key>imageFile</key>
				<string>赛拉图_id1904.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1904.jpg</string>
				<key>name</key>
				<string>赛拉图</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>狮跑</string>
				<key>id</key>
				<string>1905</string>
				<key>imageFile</key>
				<string>狮跑_id1905.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1905.jpg</string>
				<key>name</key>
				<string>狮跑</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>秀尔</string>
				<key>id</key>
				<string>1906</string>
				<key>imageFile</key>
				<string>秀尔_id1906.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1906.jpg</string>
				<key>name</key>
				<string>秀尔</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>智跑</string>
				<key>id</key>
				<string>1907</string>
				<key>imageFile</key>
				<string>智跑_id1907.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1907.jpg</string>
				<key>name</key>
				<string>智跑</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>嘉华</string>
				<key>id</key>
				<string>1909</string>
				<key>imageFile</key>
				<string>嘉华_id1909.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1909.jpg</string>
				<key>name</key>
				<string>嘉华</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>普莱特</string>
				<key>id</key>
				<string>1910</string>
				<key>imageFile</key>
				<string>普莱特_id1910.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1910.jpg</string>
				<key>name</key>
				<string>普莱特</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>千里马</string>
				<key>id</key>
				<string>1911</string>
				<key>imageFile</key>
				<string>千里马_id1911.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1911.jpg</string>
				<key>name</key>
				<string>千里马</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>远舰</string>
				<key>id</key>
				<string>1913</string>
				<key>imageFile</key>
				<string>远舰_id1913.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1913.jpg</string>
				<key>name</key>
				<string>远舰</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>起亚KX7</string>
				<key>id</key>
				<string>33803</string>
				<key>imageFile</key>
				<string>起亚KX7_id33803.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33803.jpg</string>
				<key>name</key>
				<string>KX7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>起亚KX CROSS</string>
				<key>id</key>
				<string>40114</string>
				<key>imageFile</key>
				<string>起亚KX CROSS_id40114.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40114.jpg</string>
				<key>name</key>
				<string>KX CROSS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>焕驰</string>
				<key>id</key>
				<string>40115</string>
				<key>imageFile</key>
				<string>焕驰_id40115.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40115.gif</string>
				<key>name</key>
				<string>焕驰</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奕跑</string>
				<key>id</key>
				<string>44300</string>
				<key>imageFile</key>
				<string>奕跑_id44300.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44300.jpg</string>
				<key>name</key>
				<string>奕跑</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风悦达起亚</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1914</string>
		<key>initial</key>
		<string>Q</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>霸锐</string>
				<key>id</key>
				<string>1915</string>
				<key>imageFile</key>
				<string>霸锐_id1915.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1915.jpg</string>
				<key>name</key>
				<string>霸锐</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>佳乐</string>
				<key>id</key>
				<string>1917</string>
				<key>imageFile</key>
				<string>佳乐_id1917.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1917.jpg</string>
				<key>name</key>
				<string>佳乐</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>起亚K5(进口)</string>
				<key>id</key>
				<string>1918</string>
				<key>imageFile</key>
				<string>起亚K5(进口)_id1918.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1918.jpg</string>
				<key>name</key>
				<string>K5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>起亚K9</string>
				<key>id</key>
				<string>1919</string>
				<key>imageFile</key>
				<string>起亚K9_id1919.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1919.jpg</string>
				<key>name</key>
				<string>K9</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯尊</string>
				<key>id</key>
				<string>1920</string>
				<key>imageFile</key>
				<string>凯尊_id1920.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1920.jpg</string>
				<key>name</key>
				<string>凯尊</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>嘉华</string>
				<key>id</key>
				<string>1921</string>
				<key>imageFile</key>
				<string>嘉华_id1921.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1921.jpg</string>
				<key>name</key>
				<string>嘉华</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>索兰托</string>
				<key>id</key>
				<string>1922</string>
				<key>imageFile</key>
				<string>索兰托_id1922.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1922.jpg</string>
				<key>name</key>
				<string>索兰托</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>速迈</string>
				<key>id</key>
				<string>1923</string>
				<key>imageFile</key>
				<string>速迈_id1923.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1923.jpg</string>
				<key>name</key>
				<string>速迈</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>起亚VQ</string>
				<key>id</key>
				<string>1924</string>
				<key>imageFile</key>
				<string>起亚VQ_id1924.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1924.jpg</string>
				<key>name</key>
				<string>VQ</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧菲莱斯</string>
				<key>id</key>
				<string>1927</string>
				<key>imageFile</key>
				<string>欧菲莱斯_id1927.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1927.jpg</string>
				<key>name</key>
				<string>欧菲莱斯</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>普莱特</string>
				<key>id</key>
				<string>1928</string>
				<key>imageFile</key>
				<string>普莱特_id1928.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1928.gif</string>
				<key>name</key>
				<string>普莱特</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>狮跑(进口)</string>
				<key>id</key>
				<string>1931</string>
				<key>imageFile</key>
				<string>狮跑(进口)_id1931.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1931.jpg</string>
				<key>name</key>
				<string>狮跑</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>极睿</string>
				<key>id</key>
				<string>33804</string>
				<key>imageFile</key>
				<string>极睿_id33804.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33804.jpg</string>
				<key>name</key>
				<string>极睿</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>斯汀格</string>
				<key>id</key>
				<string>42183</string>
				<key>imageFile</key>
				<string>斯汀格_id42183.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42183.jpg</string>
				<key>name</key>
				<string>斯汀格</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口起亚</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45763</string>
		<key>initial</key>
		<string>Q</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>起亚K5 PHEV</string>
				<key>id</key>
				<string>45764</string>
				<key>imageFile</key>
				<string>起亚K5 PHEV_id45764.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>K5 PHEV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>起亚KX3 EV</string>
				<key>id</key>
				<string>45765</string>
				<key>imageFile</key>
				<string>起亚KX3 EV_id45765.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>KX3 EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风悦达起亚新能源</string>
	</dict>
</array>
</plist>
