<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1724</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>路特斯Elise</string>
				<key>id</key>
				<string>1725</string>
				<key>imageFile</key>
				<string>路特斯Elise_id1725.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1725.jpg</string>
				<key>name</key>
				<string>Elise</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>路特斯Evora</string>
				<key>id</key>
				<string>1726</string>
				<key>imageFile</key>
				<string>路特斯Evora_id1726.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1726.JPG</string>
				<key>name</key>
				<string>Evora</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>路特斯Exige</string>
				<key>id</key>
				<string>1727</string>
				<key>imageFile</key>
				<string>路特斯Exige_id1727.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1727.jpg</string>
				<key>name</key>
				<string>Exige</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>Esprit</string>
				<key>id</key>
				<string>1728</string>
				<key>imageFile</key>
				<string>Esprit_id1728.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1728.gif</string>
				<key>name</key>
				<string>Esprit</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口路特斯</string>
	</dict>
</array>
</plist>
