<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1825</string>
		<key>initial</key>
		<string>M</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈巴赫57</string>
				<key>id</key>
				<string>1826</string>
				<key>imageFile</key>
				<string>迈巴赫57_id1826.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1826.jpg</string>
				<key>name</key>
				<string>57</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈巴赫57S</string>
				<key>id</key>
				<string>1827</string>
				<key>imageFile</key>
				<string>迈巴赫57S_id1827.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1827.jpg</string>
				<key>name</key>
				<string>57S</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈巴赫62</string>
				<key>id</key>
				<string>1828</string>
				<key>imageFile</key>
				<string>迈巴赫62_id1828.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1828.jpg</string>
				<key>name</key>
				<string>62</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈巴赫62S</string>
				<key>id</key>
				<string>1829</string>
				<key>imageFile</key>
				<string>迈巴赫62S_id1829.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1829.jpg</string>
				<key>name</key>
				<string>62S</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口迈巴赫</string>
	</dict>
</array>
</plist>
