<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1817</string>
		<key>initial</key>
		<string>M</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈凯伦540C</string>
				<key>id</key>
				<string>1818</string>
				<key>imageFile</key>
				<string>迈凯伦540C_id1818.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1818.jpg</string>
				<key>name</key>
				<string>540C</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈凯伦570S</string>
				<key>id</key>
				<string>1819</string>
				<key>imageFile</key>
				<string>迈凯伦570S_id1819.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1819.jpg</string>
				<key>name</key>
				<string>570S</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈凯伦625C</string>
				<key>id</key>
				<string>1820</string>
				<key>imageFile</key>
				<string>迈凯伦625C_id1820.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1820.jpg</string>
				<key>name</key>
				<string>625C</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈凯伦650S</string>
				<key>id</key>
				<string>1821</string>
				<key>imageFile</key>
				<string>迈凯伦650S_id1821.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1821.JPG</string>
				<key>name</key>
				<string>650S</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈凯伦675LT</string>
				<key>id</key>
				<string>1822</string>
				<key>imageFile</key>
				<string>迈凯伦675LT_id1822.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1822.jpg</string>
				<key>name</key>
				<string>675LT</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈凯伦12C</string>
				<key>id</key>
				<string>1823</string>
				<key>imageFile</key>
				<string>迈凯伦12C_id1823.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1823.jpg</string>
				<key>name</key>
				<string>12C</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈凯伦P1</string>
				<key>id</key>
				<string>1824</string>
				<key>imageFile</key>
				<string>迈凯伦P1_id1824.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1824.jpg</string>
				<key>name</key>
				<string>P1</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈凯伦570GT</string>
				<key>id</key>
				<string>33800</string>
				<key>imageFile</key>
				<string>迈凯伦570GT_id33800.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33800.jpg</string>
				<key>name</key>
				<string>570GT</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈凯伦720S</string>
				<key>id</key>
				<string>40111</string>
				<key>imageFile</key>
				<string>迈凯伦720S_id40111.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40111.gif</string>
				<key>name</key>
				<string>720S</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈凯伦600LT</string>
				<key>id</key>
				<string>44727</string>
				<key>imageFile</key>
				<string>迈凯伦600LT_id44727.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>600LT</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口迈凯伦</string>
	</dict>
</array>
</plist>
