<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>819</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯领</string>
				<key>id</key>
				<string>820</string>
				<key>imageFile</key>
				<string>凯领_id820.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/820.jpg</string>
				<key>name</key>
				<string>凯领</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东南道奇</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>821</string>
		<key>initial</key>
		<string>D</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>道奇RAM</string>
				<key>id</key>
				<string>823</string>
				<key>imageFile</key>
				<string>道奇RAM_id823.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/823.JPG</string>
				<key>name</key>
				<string>RAM</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>酷搏</string>
				<key>id</key>
				<string>824</string>
				<key>imageFile</key>
				<string>酷搏_id824.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/824.JPG</string>
				<key>name</key>
				<string>酷搏</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>酷威</string>
				<key>id</key>
				<string>825</string>
				<key>imageFile</key>
				<string>酷威_id825.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/825.jpg</string>
				<key>name</key>
				<string>酷威</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>锋哲</string>
				<key>id</key>
				<string>829</string>
				<key>imageFile</key>
				<string>锋哲_id829.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/829.jpg</string>
				<key>name</key>
				<string>锋哲</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯领(进口)</string>
				<key>id</key>
				<string>830</string>
				<key>imageFile</key>
				<string>凯领(进口)_id830.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/830.jpg</string>
				<key>name</key>
				<string>凯领</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口道奇</string>
	</dict>
</array>
</plist>
