<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2442</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>野马F10</string>
				<key>id</key>
				<string>2443</string>
				<key>imageFile</key>
				<string>野马F10_id2443.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2443.jpg</string>
				<key>name</key>
				<string>F10</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>野马F12</string>
				<key>id</key>
				<string>2444</string>
				<key>imageFile</key>
				<string>野马F12_id2444.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2444.jpg</string>
				<key>name</key>
				<string>F12</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>野马F16</string>
				<key>id</key>
				<string>2445</string>
				<key>imageFile</key>
				<string>野马F16_id2445.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2445.JPG</string>
				<key>name</key>
				<string>F16</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>野马T70</string>
				<key>id</key>
				<string>2446</string>
				<key>imageFile</key>
				<string>野马T70_id2446.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2446.jpg</string>
				<key>name</key>
				<string>T70</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>野马F99</string>
				<key>id</key>
				<string>2447</string>
				<key>imageFile</key>
				<string>野马F99_id2447.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2447.jpg</string>
				<key>name</key>
				<string>F99</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>野马T80</string>
				<key>id</key>
				<string>33836</string>
				<key>imageFile</key>
				<string>野马T80_id33836.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33836.JPG</string>
				<key>name</key>
				<string>T80</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>斯派卡</string>
				<key>id</key>
				<string>40150</string>
				<key>imageFile</key>
				<string>斯派卡_id40150.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40150.gif</string>
				<key>name</key>
				<string>斯派卡</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>野马T60</string>
				<key>id</key>
				<string>42203</string>
				<key>imageFile</key>
				<string>野马T60_id42203.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>T60</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>野马汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40151</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>野马EC30</string>
				<key>id</key>
				<string>40152</string>
				<key>imageFile</key>
				<string>野马EC30_id40152.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40152.gif</string>
				<key>name</key>
				<string>EC30</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>野马EC70</string>
				<key>id</key>
				<string>40153</string>
				<key>imageFile</key>
				<string>野马EC70_id40153.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40153.gif</string>
				<key>name</key>
				<string>EC70</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>野马EC60</string>
				<key>id</key>
				<string>45782</string>
				<key>imageFile</key>
				<string>野马EC60_id45782.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>EC60</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>野马新能源</string>
	</dict>
</array>
</plist>
