<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1427</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯大海狮</string>
				<key>id</key>
				<string>1428</string>
				<key>imageFile</key>
				<string>金杯大海狮_id1428.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1428.jpg</string>
				<key>name</key>
				<string>大海狮</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阁瑞斯</string>
				<key>id</key>
				<string>1429</string>
				<key>imageFile</key>
				<string>阁瑞斯_id1429.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1429.jpg</string>
				<key>name</key>
				<string>阁瑞斯</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>华晨金杯S50</string>
				<key>id</key>
				<string>1432</string>
				<key>imageFile</key>
				<string>华晨金杯S50_id1432.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1432.jpg</string>
				<key>name</key>
				<string>S50</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯海狮</string>
				<key>id</key>
				<string>1433</string>
				<key>imageFile</key>
				<string>金杯海狮_id1433.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1433.jpg</string>
				<key>name</key>
				<string>海狮</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>霸道SUV</string>
				<key>id</key>
				<string>1434</string>
				<key>imageFile</key>
				<string>霸道SUV_id1434.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1434.jpg</string>
				<key>name</key>
				<string>霸道SUV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>海星</string>
				<key>id</key>
				<string>1435</string>
				<key>imageFile</key>
				<string>海星_id1435.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1435.jpg</string>
				<key>name</key>
				<string>海星</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯F50</string>
				<key>id</key>
				<string>40097</string>
				<key>imageFile</key>
				<string>金杯F50_id40097.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40097.JPG</string>
				<key>name</key>
				<string>金杯F50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>华晨金杯</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1436</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯A7</string>
				<key>id</key>
				<string>1437</string>
				<key>imageFile</key>
				<string>金杯A7_id1437.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1437.JPG</string>
				<key>name</key>
				<string>A7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯A9</string>
				<key>id</key>
				<string>1438</string>
				<key>imageFile</key>
				<string>金杯A9_id1438.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1438.jpg</string>
				<key>name</key>
				<string>A9</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯750</string>
				<key>id</key>
				<string>1439</string>
				<key>imageFile</key>
				<string>金杯750_id1439.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1439.jpg</string>
				<key>name</key>
				<string>750</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯T20</string>
				<key>id</key>
				<string>1440</string>
				<key>imageFile</key>
				<string>金杯T20_id1440.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1440.JPG</string>
				<key>name</key>
				<string>T20</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯T22</string>
				<key>id</key>
				<string>1441</string>
				<key>imageFile</key>
				<string>金杯T22_id1441.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1441.JPG</string>
				<key>name</key>
				<string>T22</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯T30</string>
				<key>id</key>
				<string>1442</string>
				<key>imageFile</key>
				<string>金杯T30_id1442.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1442.jpg</string>
				<key>name</key>
				<string>T30</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯T32</string>
				<key>id</key>
				<string>1443</string>
				<key>imageFile</key>
				<string>金杯T32_id1443.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1443.jpg</string>
				<key>name</key>
				<string>T32</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯小海狮X30</string>
				<key>id</key>
				<string>1444</string>
				<key>imageFile</key>
				<string>金杯小海狮X30_id1444.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1444.JPG</string>
				<key>name</key>
				<string>小海狮X30</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯海狮X30L</string>
				<key>id</key>
				<string>1445</string>
				<key>imageFile</key>
				<string>金杯海狮X30L_id1445.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1445.JPG</string>
				<key>name</key>
				<string>海狮X30L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯T50</string>
				<key>id</key>
				<string>40098</string>
				<key>imageFile</key>
				<string>金杯T50_id40098.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40098.jpg</string>
				<key>name</key>
				<string>T50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯T52</string>
				<key>id</key>
				<string>40099</string>
				<key>imageFile</key>
				<string>金杯T52_id40099.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40099.jpg</string>
				<key>name</key>
				<string>T52</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>新海狮S</string>
				<key>id</key>
				<string>45754</string>
				<key>imageFile</key>
				<string>新海狮S_id45754.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>新海狮S</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>华晨鑫源金杯</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1446</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯金典</string>
				<key>id</key>
				<string>1447</string>
				<key>imageFile</key>
				<string>金杯金典_id1447.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1447.jpg</string>
				<key>name</key>
				<string>金典</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷龙</string>
				<key>id</key>
				<string>1448</string>
				<key>imageFile</key>
				<string>雷龙_id1448.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1448.jpg</string>
				<key>name</key>
				<string>雷龙</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大力神K5</string>
				<key>id</key>
				<string>1449</string>
				<key>imageFile</key>
				<string>大力神K5_id1449.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1449.jpg</string>
				<key>name</key>
				<string>大力神K5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>西部牛仔</string>
				<key>id</key>
				<string>1450</string>
				<key>imageFile</key>
				<string>西部牛仔_id1450.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1450.jpg</string>
				<key>name</key>
				<string>西部牛仔</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>小金牛</string>
				<key>id</key>
				<string>1451</string>
				<key>imageFile</key>
				<string>小金牛_id1451.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1451.jpg</string>
				<key>name</key>
				<string>小金牛</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>智尚S30</string>
				<key>id</key>
				<string>1452</string>
				<key>imageFile</key>
				<string>智尚S30_id1452.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1452.jpg</string>
				<key>name</key>
				<string>智尚S30</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>智尚S35</string>
				<key>id</key>
				<string>1453</string>
				<key>imageFile</key>
				<string>智尚S35_id1453.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1453.jpg</string>
				<key>name</key>
				<string>智尚S35</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯S70</string>
				<key>id</key>
				<string>33779</string>
				<key>imageFile</key>
				<string>金杯S70_id33779.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33779.JPG</string>
				<key>name</key>
				<string>金杯S70</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>绵阳金杯</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>42165</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金杯海狮X30L EV</string>
				<key>id</key>
				<string>42166</string>
				<key>imageFile</key>
				<string>金杯海狮X30L EV_id42166.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>海狮X30L EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>华晨鑫源金杯新能源</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45750</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>观境</string>
				<key>id</key>
				<string>45751</string>
				<key>imageFile</key>
				<string>观境_id45751.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>观境</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>华晨雷诺金杯</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45752</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>领坤EV</string>
				<key>id</key>
				<string>45753</string>
				<key>imageFile</key>
				<string>领坤EV_id45753.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>领坤EV</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>华晨雷诺金杯新能源</string>
	</dict>
</array>
</plist>
