<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1454</string>
		<key>initial</key>
		<string>J</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金威</string>
				<key>id</key>
				<string>1455</string>
				<key>imageFile</key>
				<string>金威_id1455.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1455.jpg</string>
				<key>name</key>
				<string>金威</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯歌</string>
				<key>id</key>
				<string>1456</string>
				<key>imageFile</key>
				<string>凯歌_id1456.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1456.jpg</string>
				<key>name</key>
				<string>凯歌</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯特</string>
				<key>id</key>
				<string>1457</string>
				<key>imageFile</key>
				<string>凯特_id1457.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1457.jpg</string>
				<key>name</key>
				<string>凯特</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金龙海狮</string>
				<key>id</key>
				<string>1458</string>
				<key>imageFile</key>
				<string>金龙海狮_id1458.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1458.jpg</string>
				<key>name</key>
				<string>海狮</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯锐浩克</string>
				<key>id</key>
				<string>44722</string>
				<key>imageFile</key>
				<string>凯锐浩克_id44722.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44722.jpg</string>
				<key>name</key>
				<string>凯锐浩克</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>厦门金龙</string>
	</dict>
</array>
</plist>
