<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1570</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奥拓</string>
				<key>id</key>
				<string>1571</string>
				<key>imageFile</key>
				<string>奥拓_id1571.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1571.jpg</string>
				<key>name</key>
				<string>奥拓</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>锋驭</string>
				<key>id</key>
				<string>1572</string>
				<key>imageFile</key>
				<string>锋驭_id1572.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1572.jpg</string>
				<key>name</key>
				<string>锋驭</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>羚羊</string>
				<key>id</key>
				<string>1573</string>
				<key>imageFile</key>
				<string>羚羊_id1573.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1573.JPG</string>
				<key>name</key>
				<string>羚羊</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>启悦</string>
				<key>id</key>
				<string>1574</string>
				<key>imageFile</key>
				<string>启悦_id1574.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1574.jpg</string>
				<key>name</key>
				<string>启悦</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>天语 SX4</string>
				<key>id</key>
				<string>1575</string>
				<key>imageFile</key>
				<string>天语 SX4_id1575.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1575.jpg</string>
				<key>name</key>
				<string>天语 SX4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>尚悦</string>
				<key>id</key>
				<string>1577</string>
				<key>imageFile</key>
				<string>尚悦_id1577.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1577.jpg</string>
				<key>name</key>
				<string>尚悦</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>维特拉</string>
				<key>id</key>
				<string>1578</string>
				<key>imageFile</key>
				<string>维特拉_id1578.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1578.jpg</string>
				<key>name</key>
				<string>维特拉</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雨燕</string>
				<key>id</key>
				<string>1579</string>
				<key>imageFile</key>
				<string>雨燕_id1579.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1579.jpg</string>
				<key>name</key>
				<string>雨燕</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>骁途</string>
				<key>id</key>
				<string>40104</string>
				<key>imageFile</key>
				<string>骁途_id40104.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40104.jpg</string>
				<key>name</key>
				<string>骁途</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长安铃木</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1581</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>北斗星</string>
				<key>id</key>
				<string>1582</string>
				<key>imageFile</key>
				<string>北斗星_id1582.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1582.jpg</string>
				<key>name</key>
				<string>北斗星</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>北斗星X5</string>
				<key>id</key>
				<string>1583</string>
				<key>imageFile</key>
				<string>北斗星X5_id1583.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1583.jpg</string>
				<key>name</key>
				<string>北斗星X5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>浪迪</string>
				<key>id</key>
				<string>1584</string>
				<key>imageFile</key>
				<string>浪迪_id1584.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1584.jpg</string>
				<key>name</key>
				<string>浪迪</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>利亚纳A6</string>
				<key>id</key>
				<string>1585</string>
				<key>imageFile</key>
				<string>利亚纳A6_id1585.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1585.jpg</string>
				<key>name</key>
				<string>利亚纳A6</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>利亚纳</string>
				<key>id</key>
				<string>1587</string>
				<key>imageFile</key>
				<string>利亚纳_id1587.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1587.JPG</string>
				<key>name</key>
				<string>利亚纳</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>派喜</string>
				<key>id</key>
				<string>1589</string>
				<key>imageFile</key>
				<string>派喜_id1589.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1589.jpg</string>
				<key>name</key>
				<string>派喜</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>昌河铃木</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1592</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>超级维特拉</string>
				<key>id</key>
				<string>1593</string>
				<key>imageFile</key>
				<string>超级维特拉_id1593.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1593.jpg</string>
				<key>name</key>
				<string>超级维特拉</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>吉姆尼</string>
				<key>id</key>
				<string>1594</string>
				<key>imageFile</key>
				<string>吉姆尼_id1594.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1594.jpg</string>
				<key>name</key>
				<string>吉姆尼</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯泽西</string>
				<key>id</key>
				<string>1595</string>
				<key>imageFile</key>
				<string>凯泽西_id1595.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1595.JPG</string>
				<key>name</key>
				<string>凯泽西</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>速翼特</string>
				<key>id</key>
				<string>1596</string>
				<key>imageFile</key>
				<string>速翼特_id1596.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1596.JPG</string>
				<key>name</key>
				<string>速翼特</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>英格尼斯</string>
				<key>id</key>
				<string>1597</string>
				<key>imageFile</key>
				<string>英格尼斯_id1597.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1597.jpg</string>
				<key>name</key>
				<string>英格尼斯</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口铃木</string>
	</dict>
</array>
</plist>
