<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>619</string>
		<key>initial</key>
		<string>C</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔奔</string>
				<key>id</key>
				<string>620</string>
				<key>imageFile</key>
				<string>奔奔_id620.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/620.jpg</string>
				<key>name</key>
				<string>奔奔</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔奔MINI</string>
				<key>id</key>
				<string>621</string>
				<key>imageFile</key>
				<string>奔奔MINI_id621.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/621.jpg</string>
				<key>name</key>
				<string>奔奔MINI</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安CS35</string>
				<key>id</key>
				<string>622</string>
				<key>imageFile</key>
				<string>长安CS35_id622.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/622.jpg</string>
				<key>name</key>
				<string>CS35</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安CS75</string>
				<key>id</key>
				<string>623</string>
				<key>imageFile</key>
				<string>长安CS75_id623.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/623.jpg</string>
				<key>name</key>
				<string>CS75</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安CX20</string>
				<key>id</key>
				<string>624</string>
				<key>imageFile</key>
				<string>长安CX20_id624.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/624.jpg</string>
				<key>name</key>
				<string>CX20</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>睿骋</string>
				<key>id</key>
				<string>625</string>
				<key>imageFile</key>
				<string>睿骋_id625.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/625.jpg</string>
				<key>name</key>
				<string>睿骋</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>逸动</string>
				<key>id</key>
				<string>626</string>
				<key>imageFile</key>
				<string>逸动_id626.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/626.jpg</string>
				<key>name</key>
				<string>逸动</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>悦翔V3</string>
				<key>id</key>
				<string>628</string>
				<key>imageFile</key>
				<string>悦翔V3_id628.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/628.jpg</string>
				<key>name</key>
				<string>悦翔V3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>悦翔V5</string>
				<key>id</key>
				<string>629</string>
				<key>imageFile</key>
				<string>悦翔V5_id629.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/629.jpg</string>
				<key>name</key>
				<string>悦翔V5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>悦翔V7</string>
				<key>id</key>
				<string>630</string>
				<key>imageFile</key>
				<string>悦翔V7_id630.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/630.jpg</string>
				<key>name</key>
				<string>悦翔V7</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安CS15</string>
				<key>id</key>
				<string>631</string>
				<key>imageFile</key>
				<string>长安CS15_id631.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/631.jpg</string>
				<key>name</key>
				<string>CS15</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安CX30</string>
				<key>id</key>
				<string>632</string>
				<key>imageFile</key>
				<string>长安CX30_id632.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/632.jpg</string>
				<key>name</key>
				<string>CX30</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>杰勋</string>
				<key>id</key>
				<string>634</string>
				<key>imageFile</key>
				<string>杰勋_id634.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/634.jpg</string>
				<key>name</key>
				<string>杰勋</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>悦翔</string>
				<key>id</key>
				<string>635</string>
				<key>imageFile</key>
				<string>悦翔_id635.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/635.jpg</string>
				<key>name</key>
				<string>悦翔</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>志翔</string>
				<key>id</key>
				<string>637</string>
				<key>imageFile</key>
				<string>志翔_id637.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/637.jpg</string>
				<key>name</key>
				<string>志翔</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安CS95</string>
				<key>id</key>
				<string>33726</string>
				<key>imageFile</key>
				<string>长安CS95_id33726.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33726.jpg</string>
				<key>name</key>
				<string>CS95</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安CS55</string>
				<key>id</key>
				<string>40037</string>
				<key>imageFile</key>
				<string>长安CS55_id40037.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40037.jpg</string>
				<key>name</key>
				<string>CS55</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凌轩</string>
				<key>id</key>
				<string>40038</string>
				<key>imageFile</key>
				<string>凌轩_id40038.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40038.jpg</string>
				<key>name</key>
				<string>凌轩</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>睿骋CC</string>
				<key>id</key>
				<string>41356</string>
				<key>imageFile</key>
				<string>睿骋CC_id41356.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41356.gif</string>
				<key>name</key>
				<string>睿骋CC</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>逸动DT</string>
				<key>id</key>
				<string>42126</string>
				<key>imageFile</key>
				<string>逸动DT_id42126.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42126.jpg</string>
				<key>name</key>
				<string>逸动DT</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安CS85</string>
				<key>id</key>
				<string>44713</string>
				<key>imageFile</key>
				<string>长安CS85_id44713.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>CS85</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>逸动XT</string>
				<key>id</key>
				<string>45409</string>
				<key>imageFile</key>
				<string>逸动XT_id45409.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>逸动XT</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安CS35 PLUS</string>
				<key>id</key>
				<string>45705</string>
				<key>imageFile</key>
				<string>长安CS35 PLUS_id45705.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>CS35 PLUS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长安汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40035</string>
		<key>initial</key>
		<string>C</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔奔EV</string>
				<key>id</key>
				<string>33724</string>
				<key>imageFile</key>
				<string>奔奔EV_id33724.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33724.jpg</string>
				<key>name</key>
				<string>奔奔EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>逸动EV</string>
				<key>id</key>
				<string>33725</string>
				<key>imageFile</key>
				<string>逸动EV_id33725.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33725.JPG</string>
				<key>name</key>
				<string>逸动EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>奔奔mini-e</string>
				<key>id</key>
				<string>40036</string>
				<key>imageFile</key>
				<string>奔奔mini-e_id40036.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40036.gif</string>
				<key>name</key>
				<string>奔奔mini-e</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安CS15 EV</string>
				<key>id</key>
				<string>41354</string>
				<key>imageFile</key>
				<string>长安CS15 EV_id41354.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41354.gif</string>
				<key>name</key>
				<string>CS15 EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>逸动PHEV</string>
				<key>id</key>
				<string>41355</string>
				<key>imageFile</key>
				<string>逸动PHEV_id41355.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/41355.gif</string>
				<key>name</key>
				<string>逸动PHEV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安CS75 PHEV</string>
				<key>id</key>
				<string>44288</string>
				<key>imageFile</key>
				<string>长安CS75 PHEV_id44288.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>CS75 PHEV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>逸动ET</string>
				<key>id</key>
				<string>45706</string>
				<key>imageFile</key>
				<string>逸动ET_id45706.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>逸动ET</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长安新能源</string>
	</dict>
</array>
</plist>
