<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>645</string>
		<key>initial</key>
		<string>C</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧诺</string>
				<key>id</key>
				<string>646</string>
				<key>imageFile</key>
				<string>欧诺_id646.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/646.jpg</string>
				<key>name</key>
				<string>欧诺</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安之星</string>
				<key>id</key>
				<string>650</string>
				<key>imageFile</key>
				<string>长安之星_id650.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/650.jpg</string>
				<key>name</key>
				<string>长安之星</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安之星2</string>
				<key>id</key>
				<string>651</string>
				<key>imageFile</key>
				<string>长安之星2_id651.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/651.jpg</string>
				<key>name</key>
				<string>长安之星2</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安之星3</string>
				<key>id</key>
				<string>652</string>
				<key>imageFile</key>
				<string>长安之星3_id652.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/652.jpg</string>
				<key>name</key>
				<string>长安之星3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安之星7</string>
				<key>id</key>
				<string>653</string>
				<key>imageFile</key>
				<string>长安之星7_id653.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/653.jpg</string>
				<key>name</key>
				<string>长安之星7</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安之星9</string>
				<key>id</key>
				<string>654</string>
				<key>imageFile</key>
				<string>长安之星9_id654.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/654.jpg</string>
				<key>name</key>
				<string>长安之星9</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧力威</string>
				<key>id</key>
				<string>655</string>
				<key>imageFile</key>
				<string>欧力威_id655.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/655.jpg</string>
				<key>name</key>
				<string>欧力威</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧尚A600</string>
				<key>id</key>
				<string>656</string>
				<key>imageFile</key>
				<string>欧尚A600_id656.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/656.jpg</string>
				<key>name</key>
				<string>欧尚A600</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安星卡</string>
				<key>id</key>
				<string>657</string>
				<key>imageFile</key>
				<string>长安星卡_id657.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/657.jpg</string>
				<key>name</key>
				<string>长安星卡</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安CX70</string>
				<key>id</key>
				<string>659</string>
				<key>imageFile</key>
				<string>长安CX70_id659.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/659.jpg</string>
				<key>name</key>
				<string>CX70</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安镭蒙</string>
				<key>id</key>
				<string>660</string>
				<key>imageFile</key>
				<string>长安镭蒙_id660.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/660.jpg</string>
				<key>name</key>
				<string>镭蒙</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安CM8</string>
				<key>id</key>
				<string>663</string>
				<key>imageFile</key>
				<string>长安CM8_id663.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/663.jpg</string>
				<key>name</key>
				<string>CM8</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧尚A800</string>
				<key>id</key>
				<string>40039</string>
				<key>imageFile</key>
				<string>欧尚A800_id40039.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40039.jpg</string>
				<key>name</key>
				<string>欧尚A800</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安X70A</string>
				<key>id</key>
				<string>42127</string>
				<key>imageFile</key>
				<string>长安X70A_id42127.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42127.jpg</string>
				<key>name</key>
				<string>X70A</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长安汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>45410</string>
		<key>initial</key>
		<string>C</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧尚EV</string>
				<key>id</key>
				<string>45411</string>
				<key>imageFile</key>
				<string>欧尚EV_id45411.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>欧尚EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安星卡EV</string>
				<key>id</key>
				<string>45707</string>
				<key>imageFile</key>
				<string>长安星卡EV_id45707.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>长安星卡EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安之星9EV</string>
				<key>id</key>
				<string>45708</string>
				<key>imageFile</key>
				<string>长安之星9EV_id45708.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>长安之星9EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>欧诺S EV</string>
				<key>id</key>
				<string>45709</string>
				<key>imageFile</key>
				<string>欧诺S EV_id45709.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>欧诺S EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>尼欧II</string>
				<key>id</key>
				<string>45710</string>
				<key>imageFile</key>
				<string>尼欧II_id45710.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>尼欧II</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长安新能源</string>
	</dict>
</array>
</plist>
