<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>700</string>
		<key>initial</key>
		<string>C</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安跨越V3</string>
				<key>id</key>
				<string>701</string>
				<key>imageFile</key>
				<string>长安跨越V3_id701.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/701.JPG</string>
				<key>name</key>
				<string>V3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安跨越V5</string>
				<key>id</key>
				<string>702</string>
				<key>imageFile</key>
				<string>长安跨越V5_id702.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/702.jpg</string>
				<key>name</key>
				<string>V5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安跨越V5厢式车</string>
				<key>id</key>
				<string>703</string>
				<key>imageFile</key>
				<string>长安跨越V5厢式车_id703.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/703.JPG</string>
				<key>name</key>
				<string>V5厢式车</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安跨越王X5</string>
				<key>id</key>
				<string>704</string>
				<key>imageFile</key>
				<string>长安跨越王X5_id704.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/704.JPG</string>
				<key>name</key>
				<string>跨越王X5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安新豹2</string>
				<key>id</key>
				<string>705</string>
				<key>imageFile</key>
				<string>长安新豹2_id705.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/705.JPG</string>
				<key>name</key>
				<string>新豹2</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安新豹MINI</string>
				<key>id</key>
				<string>707</string>
				<key>imageFile</key>
				<string>长安新豹MINI_id707.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/707.JPG</string>
				<key>name</key>
				<string>新豹MINI</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>跨越王X3</string>
				<key>id</key>
				<string>44741</string>
				<key>imageFile</key>
				<string>跨越王X3_id44741.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44741.jpg</string>
				<key>name</key>
				<string>跨越王X3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>新豹T3</string>
				<key>id</key>
				<string>44742</string>
				<key>imageFile</key>
				<string>新豹T3_id44742.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44742.jpg</string>
				<key>name</key>
				<string>新豹T3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长安跨越</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>44743</string>
		<key>initial</key>
		<string>C</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安跨越新能源V3</string>
				<key>id</key>
				<string>44744</string>
				<key>imageFile</key>
				<string>长安跨越新能源V3_id44744.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>V3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长安跨越新能源V5</string>
				<key>id</key>
				<string>44745</string>
				<key>imageFile</key>
				<string>长安跨越新能源V5_id44745.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44745.jpg</string>
				<key>name</key>
				<string>V5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长安跨越新能源</string>
	</dict>
</array>
</plist>
