<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>664</string>
		<key>initial</key>
		<string>C</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长城C20R</string>
				<key>id</key>
				<string>665</string>
				<key>imageFile</key>
				<string>长城C20R_id665.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/665.jpg</string>
				<key>name</key>
				<string>C20R</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长城C30</string>
				<key>id</key>
				<string>666</string>
				<key>imageFile</key>
				<string>长城C30_id666.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/666.jpg</string>
				<key>name</key>
				<string>C30</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长城C50</string>
				<key>id</key>
				<string>667</string>
				<key>imageFile</key>
				<string>长城C50_id667.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/667.jpg</string>
				<key>name</key>
				<string>C50</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长城M2</string>
				<key>id</key>
				<string>668</string>
				<key>imageFile</key>
				<string>长城M2_id668.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/668.jpg</string>
				<key>name</key>
				<string>M2</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长城M4</string>
				<key>id</key>
				<string>669</string>
				<key>imageFile</key>
				<string>长城M4_id669.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/669.jpg</string>
				<key>name</key>
				<string>M4</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长城V80</string>
				<key>id</key>
				<string>670</string>
				<key>imageFile</key>
				<string>长城V80_id670.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/670.jpg</string>
				<key>name</key>
				<string>V80</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风骏5</string>
				<key>id</key>
				<string>671</string>
				<key>imageFile</key>
				<string>风骏5_id671.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/671.jpg</string>
				<key>name</key>
				<string>风骏5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风骏6</string>
				<key>id</key>
				<string>672</string>
				<key>imageFile</key>
				<string>风骏6_id672.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/672.jpg</string>
				<key>name</key>
				<string>风骏6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>金迪尔</string>
				<key>id</key>
				<string>674</string>
				<key>imageFile</key>
				<string>金迪尔_id674.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/674.jpg</string>
				<key>name</key>
				<string>金迪尔</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>精灵</string>
				<key>id</key>
				<string>675</string>
				<key>imageFile</key>
				<string>精灵_id675.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/675.jpg</string>
				<key>name</key>
				<string>精灵</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>酷熊</string>
				<key>id</key>
				<string>678</string>
				<key>imageFile</key>
				<string>酷熊_id678.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/678.jpg</string>
				<key>name</key>
				<string>酷熊</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凌傲</string>
				<key>id</key>
				<string>679</string>
				<key>imageFile</key>
				<string>凌傲_id679.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/679.jpg</string>
				<key>name</key>
				<string>凌傲</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛弗</string>
				<key>id</key>
				<string>680</string>
				<key>imageFile</key>
				<string>赛弗_id680.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/680.jpg</string>
				<key>name</key>
				<string>赛弗</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛骏</string>
				<key>id</key>
				<string>681</string>
				<key>imageFile</key>
				<string>赛骏_id681.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/681.jpg</string>
				<key>name</key>
				<string>赛骏</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛影</string>
				<key>id</key>
				<string>684</string>
				<key>imageFile</key>
				<string>赛影_id684.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/684.jpg</string>
				<key>name</key>
				<string>赛影</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>炫丽</string>
				<key>id</key>
				<string>685</string>
				<key>imageFile</key>
				<string>炫丽_id685.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/685.jpg</string>
				<key>name</key>
				<string>炫丽</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风骏7</string>
				<key>id</key>
				<string>45711</string>
				<key>imageFile</key>
				<string>风骏7_id45711.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>风骏7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长城汽车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>40040</string>
		<key>initial</key>
		<string>C</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>长城C30EV</string>
				<key>id</key>
				<string>33729</string>
				<key>imageFile</key>
				<string>长城C30EV_id33729.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33729.jpg</string>
				<key>name</key>
				<string>C30EV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长城新能源</string>
	</dict>
</array>
</plist>
