<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>638</string>
		<key>initial</key>
		<string>C</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>睿行M80</string>
				<key>id</key>
				<string>639</string>
				<key>imageFile</key>
				<string>睿行M80_id639.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/639.JPG</string>
				<key>name</key>
				<string>睿行M80</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>神骐T20</string>
				<key>id</key>
				<string>640</string>
				<key>imageFile</key>
				<string>神骐T20_id640.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/640.jpg</string>
				<key>name</key>
				<string>神骐T20</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>尊行</string>
				<key>id</key>
				<string>641</string>
				<key>imageFile</key>
				<string>尊行_id641.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/641.JPG</string>
				<key>name</key>
				<string>尊行</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>睿行M90</string>
				<key>id</key>
				<string>642</string>
				<key>imageFile</key>
				<string>睿行M90_id642.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/642.jpg</string>
				<key>name</key>
				<string>睿行M90</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>神骐F30</string>
				<key>id</key>
				<string>643</string>
				<key>imageFile</key>
				<string>神骐F30_id643.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/643.JPG</string>
				<key>name</key>
				<string>神骐F30</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>神骐F50</string>
				<key>id</key>
				<string>644</string>
				<key>imageFile</key>
				<string>神骐F50_id644.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/644.JPG</string>
				<key>name</key>
				<string>神骐F50</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>睿行S50</string>
				<key>id</key>
				<string>33727</string>
				<key>imageFile</key>
				<string>睿行S50_id33727.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33727.jpg</string>
				<key>name</key>
				<string>睿行S50</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>睿行M70</string>
				<key>id</key>
				<string>40174</string>
				<key>imageFile</key>
				<string>睿行M70_id40174.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40174.JPG</string>
				<key>name</key>
				<string>睿行M70</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>睿行S50T</string>
				<key>id</key>
				<string>40175</string>
				<key>imageFile</key>
				<string>睿行S50T_id40175.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40175.jpg</string>
				<key>name</key>
				<string>睿行S50T</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长安轻型车</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>44739</string>
		<key>initial</key>
		<string>C</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>睿行EM80</string>
				<key>id</key>
				<string>44740</string>
				<key>imageFile</key>
				<string>睿行EM80_id44740.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>睿行EM80</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长安轻型车新能源</string>
	</dict>
</array>
</plist>
