<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>271</string>
		<key>initial</key>
		<string>A</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿尔法·罗密欧GTV</string>
				<key>id</key>
				<string>273</string>
				<key>imageFile</key>
				<string>阿尔法·罗密欧GTV_id273.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/273.jpg</string>
				<key>name</key>
				<string>GTV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿尔法·罗密欧156</string>
				<key>id</key>
				<string>275</string>
				<key>imageFile</key>
				<string>阿尔法·罗密欧156_id275.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/275.jpg</string>
				<key>name</key>
				<string>156</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿尔法·罗密欧166</string>
				<key>id</key>
				<string>276</string>
				<key>imageFile</key>
				<string>阿尔法·罗密欧166_id276.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/276.jpg</string>
				<key>name</key>
				<string>166</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿尔法·罗密欧Giulia</string>
				<key>id</key>
				<string>40008</string>
				<key>imageFile</key>
				<string>阿尔法·罗密欧Giulia_id40008.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40008.jpg</string>
				<key>name</key>
				<string>Giulia</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿尔法·罗密欧Stelvio</string>
				<key>id</key>
				<string>40009</string>
				<key>imageFile</key>
				<string>阿尔法·罗密欧Stelvio_id40009.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40009.jpg</string>
				<key>name</key>
				<string>Stelvio</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口阿尔法·罗密欧</string>
	</dict>
</array>
</plist>
