<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>259</string>
		<key>initial</key>
		<string>A</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿斯顿·马丁DB9</string>
				<key>id</key>
				<string>260</string>
				<key>imageFile</key>
				<string>阿斯顿·马丁DB9_id260.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/260.JPG</string>
				<key>name</key>
				<string>DB9</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿斯顿·马丁DBS</string>
				<key>id</key>
				<string>261</string>
				<key>imageFile</key>
				<string>阿斯顿·马丁DBS_id261.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/261.jpg</string>
				<key>name</key>
				<string>DBS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿斯顿·马丁Lagonda</string>
				<key>id</key>
				<string>262</string>
				<key>imageFile</key>
				<string>阿斯顿·马丁Lagonda_id262.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/262.jpg</string>
				<key>name</key>
				<string>Lagonda</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿斯顿·马丁Rapide</string>
				<key>id</key>
				<string>263</string>
				<key>imageFile</key>
				<string>阿斯顿·马丁Rapide_id263.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/263.JPG</string>
				<key>name</key>
				<string>Rapide</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿斯顿·马丁V12 Vantage</string>
				<key>id</key>
				<string>264</string>
				<key>imageFile</key>
				<string>阿斯顿·马丁V12 Vantage_id264.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/264.jpg</string>
				<key>name</key>
				<string>V12 Vantage</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿斯顿·马丁V8 Vantage</string>
				<key>id</key>
				<string>265</string>
				<key>imageFile</key>
				<string>阿斯顿·马丁V8 Vantage_id265.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/265.jpg</string>
				<key>name</key>
				<string>V8 Vantage</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿斯顿·马丁Vanquish</string>
				<key>id</key>
				<string>266</string>
				<key>imageFile</key>
				<string>阿斯顿·马丁Vanquish_id266.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/266.JPG</string>
				<key>name</key>
				<string>Vanquish</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿斯顿·马丁Virage</string>
				<key>id</key>
				<string>267</string>
				<key>imageFile</key>
				<string>阿斯顿·马丁Virage_id267.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/267.jpg</string>
				<key>name</key>
				<string>Virage</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿斯顿·马丁Zagato</string>
				<key>id</key>
				<string>268</string>
				<key>imageFile</key>
				<string>阿斯顿·马丁Zagato_id268.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/268.JPG</string>
				<key>name</key>
				<string>Zagato</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿斯顿·马丁DB7</string>
				<key>id</key>
				<string>269</string>
				<key>imageFile</key>
				<string>阿斯顿·马丁DB7_id269.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/269.jpg</string>
				<key>name</key>
				<string>DB7</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿斯顿·马丁ONE-77</string>
				<key>id</key>
				<string>270</string>
				<key>imageFile</key>
				<string>阿斯顿·马丁ONE-77_id270.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/270.jpg</string>
				<key>name</key>
				<string>ONE-77</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿斯顿·马丁DB11</string>
				<key>id</key>
				<string>33703</string>
				<key>imageFile</key>
				<string>阿斯顿·马丁DB11_id33703.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33703.JPG</string>
				<key>name</key>
				<string>DB11</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口阿斯顿·马丁</string>
	</dict>
</array>
</plist>
