<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1561</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风华</string>
				<key>id</key>
				<string>1562</string>
				<key>imageFile</key>
				<string>风华_id1562.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1562.jpg</string>
				<key>name</key>
				<string>风华</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>陆风风尚</string>
				<key>id</key>
				<string>1563</string>
				<key>imageFile</key>
				<string>陆风风尚_id1563.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1563.jpg</string>
				<key>name</key>
				<string>风尚</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>陆风X9</string>
				<key>id</key>
				<string>1564</string>
				<key>imageFile</key>
				<string>陆风X9_id1564.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1564.JPG</string>
				<key>name</key>
				<string>X9</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>陆风X5</string>
				<key>id</key>
				<string>1565</string>
				<key>imageFile</key>
				<string>陆风X5_id1565.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1565.jpg</string>
				<key>name</key>
				<string>X5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>陆风X6</string>
				<key>id</key>
				<string>1566</string>
				<key>imageFile</key>
				<string>陆风X6_id1566.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1566.JPG</string>
				<key>name</key>
				<string>X6</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>陆风X7</string>
				<key>id</key>
				<string>1567</string>
				<key>imageFile</key>
				<string>陆风X7_id1567.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1567.jpg</string>
				<key>name</key>
				<string>X7</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>陆风X8</string>
				<key>id</key>
				<string>1568</string>
				<key>imageFile</key>
				<string>陆风X8_id1568.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1568.jpg</string>
				<key>name</key>
				<string>X8</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>新饰界</string>
				<key>id</key>
				<string>1569</string>
				<key>imageFile</key>
				<string>新饰界_id1569.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1569.jpg</string>
				<key>name</key>
				<string>新饰界</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>陆风X2</string>
				<key>id</key>
				<string>40102</string>
				<key>imageFile</key>
				<string>陆风X2_id40102.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40102.jpg</string>
				<key>name</key>
				<string>X2</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>逍遥</string>
				<key>id</key>
				<string>40103</string>
				<key>imageFile</key>
				<string>逍遥_id40103.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40103.gif</string>
				<key>name</key>
				<string>逍遥</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>陆风汽车</string>
	</dict>
</array>
</plist>
