<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2294</string>
		<key>initial</key>
		<string>X</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛欧</string>
				<key>id</key>
				<string>336</string>
				<key>imageFile</key>
				<string>赛欧_id336.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/336.jpg</string>
				<key>name</key>
				<string>赛欧</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>爱唯欧</string>
				<key>id</key>
				<string>2296</string>
				<key>imageFile</key>
				<string>爱唯欧_id2296.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2296.jpg</string>
				<key>name</key>
				<string>爱唯欧</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>创酷</string>
				<key>id</key>
				<string>2297</string>
				<key>imageFile</key>
				<string>创酷_id2297.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2297.jpg</string>
				<key>name</key>
				<string>创酷</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>景程</string>
				<key>id</key>
				<string>2298</string>
				<key>imageFile</key>
				<string>景程_id2298.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2298.jpg</string>
				<key>name</key>
				<string>景程</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>科鲁兹</string>
				<key>id</key>
				<string>2299</string>
				<key>imageFile</key>
				<string>科鲁兹_id2299.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2299.png</string>
				<key>name</key>
				<string>科鲁兹</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>科帕奇</string>
				<key>id</key>
				<string>2301</string>
				<key>imageFile</key>
				<string>科帕奇_id2301.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2301.jpg</string>
				<key>name</key>
				<string>科帕奇</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>乐风RV</string>
				<key>id</key>
				<string>2302</string>
				<key>imageFile</key>
				<string>乐风RV_id2302.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2302.jpg</string>
				<key>name</key>
				<string>乐风RV</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈锐宝</string>
				<key>id</key>
				<string>2303</string>
				<key>imageFile</key>
				<string>迈锐宝_id2303.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2303.jpg</string>
				<key>name</key>
				<string>迈锐宝</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>迈锐宝XL</string>
				<key>id</key>
				<string>2304</string>
				<key>imageFile</key>
				<string>迈锐宝XL_id2304.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2304.jpg</string>
				<key>name</key>
				<string>迈锐宝XL</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛欧3</string>
				<key>id</key>
				<string>2305</string>
				<key>imageFile</key>
				<string>赛欧3_id2305.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2305.jpg</string>
				<key>name</key>
				<string>赛欧3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>乐骋</string>
				<key>id</key>
				<string>2309</string>
				<key>imageFile</key>
				<string>乐骋_id2309.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2309.jpg</string>
				<key>name</key>
				<string>乐骋</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>乐风</string>
				<key>id</key>
				<string>2310</string>
				<key>imageFile</key>
				<string>乐风_id2310.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2310.jpg</string>
				<key>name</key>
				<string>乐风</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>科沃兹</string>
				<key>id</key>
				<string>33828</string>
				<key>imageFile</key>
				<string>科沃兹_id33828.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33828.jpg</string>
				<key>name</key>
				<string>科沃兹</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>探界者</string>
				<key>id</key>
				<string>33829</string>
				<key>imageFile</key>
				<string>探界者_id33829.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33829.jpg</string>
				<key>name</key>
				<string>探界者</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃兰多</string>
				<key>id</key>
				<string>44737</string>
				<key>imageFile</key>
				<string>沃兰多_id44737.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44737.jpg</string>
				<key>name</key>
				<string>沃兰多</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雪佛兰MONZA</string>
				<key>id</key>
				<string>45776</string>
				<key>imageFile</key>
				<string>雪佛兰MONZA_id45776.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>MONZA</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>上汽通用雪佛兰</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2313</string>
		<key>initial</key>
		<string>X</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>科尔维特</string>
				<key>id</key>
				<string>2314</string>
				<key>imageFile</key>
				<string>科尔维特_id2314.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2314.jpg</string>
				<key>name</key>
				<string>科尔维特</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>科迈罗</string>
				<key>id</key>
				<string>2315</string>
				<key>imageFile</key>
				<string>科迈罗_id2315.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2315.jpg</string>
				<key>name</key>
				<string>科迈罗</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>沃蓝达</string>
				<key>id</key>
				<string>2316</string>
				<key>imageFile</key>
				<string>沃蓝达_id2316.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2316.jpg</string>
				<key>name</key>
				<string>沃蓝达</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雪佛兰EXPRESS</string>
				<key>id</key>
				<string>2320</string>
				<key>imageFile</key>
				<string>雪佛兰EXPRESS_id2320.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2320.jpg</string>
				<key>name</key>
				<string>EXPRESS</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>科帕奇(进口)</string>
				<key>id</key>
				<string>2321</string>
				<key>imageFile</key>
				<string>科帕奇(进口)_id2321.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2321.jpg</string>
				<key>name</key>
				<string>科帕奇</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>开拓者</string>
				<key>id</key>
				<string>2322</string>
				<key>imageFile</key>
				<string>开拓者_id2322.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2322.jpg</string>
				<key>name</key>
				<string>开拓者</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>斯帕可</string>
				<key>id</key>
				<string>2324</string>
				<key>imageFile</key>
				<string>斯帕可_id2324.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2324.jpg</string>
				<key>name</key>
				<string>斯帕可</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>库罗德</string>
				<key>id</key>
				<string>33830</string>
				<key>imageFile</key>
				<string>库罗德_id33830.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33830.jpg</string>
				<key>name</key>
				<string>库罗德</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>索罗德</string>
				<key>id</key>
				<string>33831</string>
				<key>imageFile</key>
				<string>索罗德_id33831.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33831.jpg</string>
				<key>name</key>
				<string>索罗德</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雪佛兰Traverse</string>
				<key>id</key>
				<string>42198</string>
				<key>imageFile</key>
				<string>雪佛兰Traverse_id42198.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>Traverse</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口雪佛兰</string>
	</dict>
</array>
</plist>
