<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2326</string>
		<key>initial</key>
		<string>X</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雪铁龙C2</string>
				<key>id</key>
				<string>2327</string>
				<key>imageFile</key>
				<string>雪铁龙C2_id2327.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2327.jpg</string>
				<key>name</key>
				<string>C2</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雪铁龙C4L</string>
				<key>id</key>
				<string>2328</string>
				<key>imageFile</key>
				<string>雪铁龙C4L_id2328.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2328.jpg</string>
				<key>name</key>
				<string>C4L</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>C4世嘉</string>
				<key>id</key>
				<string>2329</string>
				<key>imageFile</key>
				<string>C4世嘉_id2329.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2329.jpg</string>
				<key>name</key>
				<string>C4世嘉</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雪铁龙C5</string>
				<key>id</key>
				<string>2330</string>
				<key>imageFile</key>
				<string>雪铁龙C5_id2330.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2330.JPG</string>
				<key>name</key>
				<string>C5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>世嘉</string>
				<key>id</key>
				<string>2332</string>
				<key>imageFile</key>
				<string>世嘉_id2332.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2332.jpg</string>
				<key>name</key>
				<string>世嘉</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>爱丽舍</string>
				<key>id</key>
				<string>2333</string>
				<key>imageFile</key>
				<string>爱丽舍_id2333.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2333.jpg</string>
				<key>name</key>
				<string>爱丽舍</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雪铁龙C3-XR</string>
				<key>id</key>
				<string>2335</string>
				<key>imageFile</key>
				<string>雪铁龙C3-XR_id2335.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2335.jpg</string>
				<key>name</key>
				<string>C3-XR</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>富康</string>
				<key>id</key>
				<string>2336</string>
				<key>imageFile</key>
				<string>富康_id2336.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2336.jpg</string>
				<key>name</key>
				<string>富康</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>凯旋</string>
				<key>id</key>
				<string>2338</string>
				<key>imageFile</key>
				<string>凯旋_id2338.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2338.jpg</string>
				<key>name</key>
				<string>凯旋</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>萨拉-毕加索</string>
				<key>id</key>
				<string>2339</string>
				<key>imageFile</key>
				<string>萨拉-毕加索_id2339.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2339.jpg</string>
				<key>name</key>
				<string>萨拉-毕加索</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>赛纳</string>
				<key>id</key>
				<string>2340</string>
				<key>imageFile</key>
				<string>赛纳_id2340.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2340.jpg</string>
				<key>name</key>
				<string>赛纳</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雪铁龙C6</string>
				<key>id</key>
				<string>33833</string>
				<key>imageFile</key>
				<string>雪铁龙C6_id33833.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33833.jpg</string>
				<key>name</key>
				<string>C6</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>天逸 C5 AIRCROSS</string>
				<key>id</key>
				<string>40144</string>
				<key>imageFile</key>
				<string>天逸 C5 AIRCROSS_id40144.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40144.JPG</string>
				<key>name</key>
				<string>天逸 C5 AIRCROSS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>云逸 C4 AIRCROSS</string>
				<key>id</key>
				<string>42199</string>
				<key>imageFile</key>
				<string>云逸 C4 AIRCROSS_id42199.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42199.jpg</string>
				<key>name</key>
				<string>云逸 C4 AIRCROSS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风雪铁龙</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>2341</string>
		<key>initial</key>
		<string>X</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>C4 AIRCROSS</string>
				<key>id</key>
				<string>2342</string>
				<key>imageFile</key>
				<string>C4 AIRCROSS_id2342.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2342.jpg</string>
				<key>name</key>
				<string>C4 AIRCROSS</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>C4 PICASSO</string>
				<key>id</key>
				<string>2343</string>
				<key>imageFile</key>
				<string>C4 PICASSO_id2343.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2343.jpg</string>
				<key>name</key>
				<string>C4 PICASSO</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雪铁龙C5(进口)</string>
				<key>id</key>
				<string>2345</string>
				<key>imageFile</key>
				<string>雪铁龙C5(进口)_id2345.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2345.jpg</string>
				<key>name</key>
				<string>C5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雪铁龙C4</string>
				<key>id</key>
				<string>2346</string>
				<key>imageFile</key>
				<string>雪铁龙C4_id2346.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2346.jpg</string>
				<key>name</key>
				<string>C4</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雪铁龙C6</string>
				<key>id</key>
				<string>2347</string>
				<key>imageFile</key>
				<string>雪铁龙C6_id2347.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/2347.jpg</string>
				<key>name</key>
				<string>C6</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口雪铁龙</string>
	</dict>
</array>
</plist>
