<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1611</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯CT</string>
				<key>id</key>
				<string>1612</string>
				<key>imageFile</key>
				<string>雷克萨斯CT_id1612.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1612.jpg</string>
				<key>name</key>
				<string>CT</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯ES</string>
				<key>id</key>
				<string>1613</string>
				<key>imageFile</key>
				<string>雷克萨斯ES_id1613.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1613.jpg</string>
				<key>name</key>
				<string>ES</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯GS</string>
				<key>id</key>
				<string>1614</string>
				<key>imageFile</key>
				<string>雷克萨斯GS_id1614.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1614.jpg</string>
				<key>name</key>
				<string>GS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯GX</string>
				<key>id</key>
				<string>1615</string>
				<key>imageFile</key>
				<string>雷克萨斯GX_id1615.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1615.jpg</string>
				<key>name</key>
				<string>GX</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯IS</string>
				<key>id</key>
				<string>1616</string>
				<key>imageFile</key>
				<string>雷克萨斯IS_id1616.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1616.jpg</string>
				<key>name</key>
				<string>IS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯LS</string>
				<key>id</key>
				<string>1618</string>
				<key>imageFile</key>
				<string>雷克萨斯LS_id1618.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1618.jpg</string>
				<key>name</key>
				<string>LS</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯LX</string>
				<key>id</key>
				<string>1619</string>
				<key>imageFile</key>
				<string>雷克萨斯LX_id1619.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1619.jpg</string>
				<key>name</key>
				<string>LX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯NX</string>
				<key>id</key>
				<string>1620</string>
				<key>imageFile</key>
				<string>雷克萨斯NX_id1620.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1620.jpg</string>
				<key>name</key>
				<string>NX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯RC</string>
				<key>id</key>
				<string>1621</string>
				<key>imageFile</key>
				<string>雷克萨斯RC_id1621.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1621.jpg</string>
				<key>name</key>
				<string>RC</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯RX</string>
				<key>id</key>
				<string>1622</string>
				<key>imageFile</key>
				<string>雷克萨斯RX_id1622.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1622.jpg</string>
				<key>name</key>
				<string>RX</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯LC</string>
				<key>id</key>
				<string>1623</string>
				<key>imageFile</key>
				<string>雷克萨斯LC_id1623.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1623.jpg</string>
				<key>name</key>
				<string>LC</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯SC</string>
				<key>id</key>
				<string>1624</string>
				<key>imageFile</key>
				<string>雷克萨斯SC_id1624.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1624.jpg</string>
				<key>name</key>
				<string>SC</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯UX</string>
				<key>id</key>
				<string>42174</string>
				<key>imageFile</key>
				<string>雷克萨斯UX_id42174.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/42174.jpg</string>
				<key>name</key>
				<string>UX</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口雷克萨斯</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1625</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯LF-A</string>
				<key>id</key>
				<string>1617</string>
				<key>imageFile</key>
				<string>雷克萨斯LF-A_id1617.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1617.jpg</string>
				<key>name</key>
				<string>LF-A</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷克萨斯RC F</string>
				<key>id</key>
				<string>1626</string>
				<key>imageFile</key>
				<string>雷克萨斯RC F_id1626.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1626.jpg</string>
				<key>name</key>
				<string>RC F</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口雷克萨斯F</string>
	</dict>
</array>
</plist>
