<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1651</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>科雷嘉</string>
				<key>id</key>
				<string>1652</string>
				<key>imageFile</key>
				<string>科雷嘉_id1652.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1652.jpg</string>
				<key>name</key>
				<string>科雷嘉</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>科雷傲</string>
				<key>id</key>
				<string>33791</string>
				<key>imageFile</key>
				<string>科雷傲_id33791.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33791.jpg</string>
				<key>name</key>
				<string>科雷傲</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>东风雷诺</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1653</string>
		<key>initial</key>
		<string>L</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>塔利斯曼</string>
				<key>id</key>
				<string>1654</string>
				<key>imageFile</key>
				<string>塔利斯曼_id1654.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1654.jpg</string>
				<key>name</key>
				<string>塔利斯曼</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风景</string>
				<key>id</key>
				<string>1655</string>
				<key>imageFile</key>
				<string>风景_id1655.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1655.jpg</string>
				<key>name</key>
				<string>风景</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>风朗</string>
				<key>id</key>
				<string>1656</string>
				<key>imageFile</key>
				<string>风朗_id1656.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1656.jpg</string>
				<key>name</key>
				<string>风朗</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>卡缤</string>
				<key>id</key>
				<string>1657</string>
				<key>imageFile</key>
				<string>卡缤_id1657.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1657.jpg</string>
				<key>name</key>
				<string>卡缤</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>科雷傲(进口)</string>
				<key>id</key>
				<string>1658</string>
				<key>imageFile</key>
				<string>科雷傲(进口)_id1658.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1658.jpg</string>
				<key>name</key>
				<string>科雷傲</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>拉古那</string>
				<key>id</key>
				<string>1659</string>
				<key>imageFile</key>
				<string>拉古那_id1659.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1659.jpg</string>
				<key>name</key>
				<string>拉古那</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>梅甘娜</string>
				<key>id</key>
				<string>1660</string>
				<key>imageFile</key>
				<string>梅甘娜_id1660.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1660.jpg</string>
				<key>name</key>
				<string>梅甘娜</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>纬度</string>
				<key>id</key>
				<string>1661</string>
				<key>imageFile</key>
				<string>纬度_id1661.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1661.jpg</string>
				<key>name</key>
				<string>纬度</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>威赛帝</string>
				<key>id</key>
				<string>1665</string>
				<key>imageFile</key>
				<string>威赛帝_id1665.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1665.jpg</string>
				<key>name</key>
				<string>威赛帝</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>雷诺ESPACE</string>
				<key>id</key>
				<string>40106</string>
				<key>imageFile</key>
				<string>雷诺ESPACE_id40106.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40106.jpg</string>
				<key>name</key>
				<string>ESPACE</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口雷诺</string>
	</dict>
</array>
</plist>
