<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1748</string>
		<key>initial</key>
		<string>M</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达3 昂克赛拉</string>
				<key>id</key>
				<string>1750</string>
				<key>imageFile</key>
				<string>马自达3 昂克赛拉_id1750.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1750.jpg</string>
				<key>name</key>
				<string>马自达3 昂克赛拉</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达CX-5</string>
				<key>id</key>
				<string>1751</string>
				<key>imageFile</key>
				<string>马自达CX-5_id1751.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1751.jpg</string>
				<key>name</key>
				<string>CX-5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达2</string>
				<key>id</key>
				<string>1752</string>
				<key>imageFile</key>
				<string>马自达2_id1752.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1752.JPG</string>
				<key>name</key>
				<string>马自达2</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达3</string>
				<key>id</key>
				<string>1754</string>
				<key>imageFile</key>
				<string>马自达3_id1754.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1754.jpg</string>
				<key>name</key>
				<string>马自达3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达3 星骋</string>
				<key>id</key>
				<string>1755</string>
				<key>imageFile</key>
				<string>马自达3 星骋_id1755.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1755.jpg</string>
				<key>name</key>
				<string>马自达3 星骋</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达CX-8</string>
				<key>id</key>
				<string>45760</string>
				<key>imageFile</key>
				<string>马自达CX-8_id45760.jpg</string>
				<key>logo</key>
				<string></string>
				<key>name</key>
				<string>CX-8</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>长安马自达</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1757</string>
		<key>initial</key>
		<string>M</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>阿特兹</string>
				<key>id</key>
				<string>1758</string>
				<key>imageFile</key>
				<string>阿特兹_id1758.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1758.jpg</string>
				<key>name</key>
				<string>阿特兹</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达CX-7</string>
				<key>id</key>
				<string>1759</string>
				<key>imageFile</key>
				<string>马自达CX-7_id1759.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1759.png</string>
				<key>name</key>
				<string>CX-7</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达6</string>
				<key>id</key>
				<string>1760</string>
				<key>imageFile</key>
				<string>马自达6_id1760.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1760.jpg</string>
				<key>name</key>
				<string>马自达6</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达8</string>
				<key>id</key>
				<string>1761</string>
				<key>imageFile</key>
				<string>马自达8_id1761.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1761.jpg</string>
				<key>name</key>
				<string>马自达8</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>睿翼</string>
				<key>id</key>
				<string>1762</string>
				<key>imageFile</key>
				<string>睿翼_id1762.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1762.jpg</string>
				<key>name</key>
				<string>睿翼</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达CX-4</string>
				<key>id</key>
				<string>1764</string>
				<key>imageFile</key>
				<string>马自达CX-4_id1764.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1764.jpg</string>
				<key>name</key>
				<string>CX-4</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>一汽马自达</string>
	</dict>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1767</string>
		<key>initial</key>
		<string>M</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达CX-7</string>
				<key>id</key>
				<string>1768</string>
				<key>imageFile</key>
				<string>马自达CX-7_id1768.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1768.jpg</string>
				<key>name</key>
				<string>CX-7</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达CX-9</string>
				<key>id</key>
				<string>1769</string>
				<key>imageFile</key>
				<string>马自达CX-9_id1769.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1769.jpg</string>
				<key>name</key>
				<string>CX-9</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达5</string>
				<key>id</key>
				<string>1770</string>
				<key>imageFile</key>
				<string>马自达5_id1770.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1770.jpg</string>
				<key>name</key>
				<string>马自达5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达MX-5</string>
				<key>id</key>
				<string>1771</string>
				<key>imageFile</key>
				<string>马自达MX-5_id1771.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1771.jpg</string>
				<key>name</key>
				<string>MX-5</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达CX-3</string>
				<key>id</key>
				<string>1772</string>
				<key>imageFile</key>
				<string>马自达CX-3_id1772.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1772.jpg</string>
				<key>name</key>
				<string>CX-3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达CX-5(进口)</string>
				<key>id</key>
				<string>1775</string>
				<key>imageFile</key>
				<string>马自达CX-5(进口)_id1775.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1775.png</string>
				<key>name</key>
				<string>CX-5</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达RX-8</string>
				<key>id</key>
				<string>1776</string>
				<key>imageFile</key>
				<string>马自达RX-8_id1776.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1776.jpg</string>
				<key>name</key>
				<string>RX-8</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达3(进口)</string>
				<key>id</key>
				<string>1777</string>
				<key>imageFile</key>
				<string>马自达3(进口)_id1777.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1777.jpg</string>
				<key>name</key>
				<string>马自达3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达6(进口)</string>
				<key>id</key>
				<string>1778</string>
				<key>imageFile</key>
				<string>马自达6(进口)_id1778.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1778.jpg</string>
				<key>name</key>
				<string>马自达6</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>马自达CX-8</string>
				<key>id</key>
				<string>44299</string>
				<key>imageFile</key>
				<string>马自达CX-8_id44299.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/44299.jpg</string>
				<key>name</key>
				<string>CX-8</string>
				<key>salestate</key>
				<string>待销</string>
			</dict>
		</array>
		<key>name</key>
		<string>进口马自达</string>
	</dict>
</array>
</plist>
