<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>33873</string>
		<key>initial</key>
		<string>Y</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>驭胜S350</string>
				<key>id</key>
				<string>1423</string>
				<key>imageFile</key>
				<string>驭胜S350_id1423.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1423.JPG</string>
				<key>name</key>
				<string>S350</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>驭胜S330</string>
				<key>id</key>
				<string>33874</string>
				<key>imageFile</key>
				<string>驭胜S330_id33874.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/33874.jpg</string>
				<key>name</key>
				<string>S330</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>江铃驭胜</string>
	</dict>
</array>
</plist>
