<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fullname</key>
		<string></string>
		<key>id</key>
		<string>1222</string>
		<key>initial</key>
		<string>H</string>
		<key>list</key>
		<array>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>傲骏</string>
				<key>id</key>
				<string>1223</string>
				<key>imageFile</key>
				<string>傲骏_id1223.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1223.jpg</string>
				<key>name</key>
				<string>傲骏</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>翱龙CUV</string>
				<key>id</key>
				<string>1224</string>
				<key>imageFile</key>
				<string>翱龙CUV_id1224.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1224.jpg</string>
				<key>name</key>
				<string>翱龙CUV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>大柴神</string>
				<key>id</key>
				<string>1225</string>
				<key>imageFile</key>
				<string>大柴神_id1225.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1225.jpg</string>
				<key>name</key>
				<string>大柴神</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>黄海挑战者</string>
				<key>id</key>
				<string>1226</string>
				<key>imageFile</key>
				<string>黄海挑战者_id1226.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1226.jpg</string>
				<key>name</key>
				<string>黄海挑战者</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>黄海N1</string>
				<key>id</key>
				<string>1227</string>
				<key>imageFile</key>
				<string>黄海N1_id1227.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1227.jpg</string>
				<key>name</key>
				<string>N1</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>黄海N1S</string>
				<key>id</key>
				<string>1228</string>
				<key>imageFile</key>
				<string>黄海N1S_id1228.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1228.jpg</string>
				<key>name</key>
				<string>N1S</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>黄海N2</string>
				<key>id</key>
				<string>1229</string>
				<key>imageFile</key>
				<string>黄海N2_id1229.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1229.jpg</string>
				<key>name</key>
				<string>N2</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>旗胜F1</string>
				<key>id</key>
				<string>1230</string>
				<key>imageFile</key>
				<string>旗胜F1_id1230.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1230.jpg</string>
				<key>name</key>
				<string>旗胜F1</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>旗胜V3</string>
				<key>id</key>
				<string>1231</string>
				<key>imageFile</key>
				<string>旗胜V3_id1231.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1231.jpg</string>
				<key>name</key>
				<string>旗胜V3</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>瑞途</string>
				<key>id</key>
				<string>1232</string>
				<key>imageFile</key>
				<string>瑞途_id1232.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1232.JPG</string>
				<key>name</key>
				<string>瑞途</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>小柴神</string>
				<key>id</key>
				<string>1233</string>
				<key>imageFile</key>
				<string>小柴神_id1233.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1233.jpg</string>
				<key>name</key>
				<string>小柴神</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>傲羚</string>
				<key>id</key>
				<string>1234</string>
				<key>imageFile</key>
				<string>傲羚_id1234.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1234.jpg</string>
				<key>name</key>
				<string>傲羚</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>翱龙</string>
				<key>id</key>
				<string>1235</string>
				<key>imageFile</key>
				<string>翱龙_id1235.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1235.gif</string>
				<key>name</key>
				<string>翱龙</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>傲龙CUV</string>
				<key>id</key>
				<string>1236</string>
				<key>imageFile</key>
				<string>傲龙CUV_id1236.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1236.jpg</string>
				<key>name</key>
				<string>傲龙CUV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>翱龙SUV</string>
				<key>id</key>
				<string>1237</string>
				<key>imageFile</key>
				<string>翱龙SUV_id1237.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1237.jpg</string>
				<key>name</key>
				<string>翱龙SUV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>黄海征服者</string>
				<key>id</key>
				<string>1238</string>
				<key>imageFile</key>
				<string>黄海征服者_id1238.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1238.jpg</string>
				<key>name</key>
				<string>黄海征服者</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>领航者</string>
				<key>id</key>
				<string>1239</string>
				<key>imageFile</key>
				<string>领航者_id1239.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1239.jpg</string>
				<key>name</key>
				<string>领航者</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>旗胜CUV</string>
				<key>id</key>
				<string>1240</string>
				<key>imageFile</key>
				<string>旗胜CUV_id1240.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1240.jpg</string>
				<key>name</key>
				<string>旗胜CUV</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>曙光骄子</string>
				<key>id</key>
				<string>1241</string>
				<key>imageFile</key>
				<string>曙光骄子_id1241.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/1241.jpg</string>
				<key>name</key>
				<string>曙光骄子</string>
				<key>salestate</key>
				<string>停销</string>
			</dict>
			<dict>
				<key>depth</key>
				<string>3</string>
				<key>fullname</key>
				<string>黄海N3</string>
				<key>id</key>
				<string>40072</string>
				<key>imageFile</key>
				<string>黄海N3_id40072.jpg</string>
				<key>logo</key>
				<string>http://pic1.jisuapi.cn/car/static/images/logo/300/40072.jpg</string>
				<key>name</key>
				<string>N3</string>
				<key>salestate</key>
				<string>在销</string>
			</dict>
		</array>
		<key>name</key>
		<string>曙光汽车</string>
	</dict>
</array>
</plist>
